[2020-08-12 23:02] domoritz opened #4 "Support flexible plotting"
It would be great if danfo was agnostic to a particular plotting library and supported for example [Vega-Lite](https://vega.github.io/vega-lite/) and in particular https://github.com/vega/vega-lite-api.

[2020-08-13 00:00] risenW commented on #4
Hi @domoritz thanks for the feedback. We would definitely love to support numerous plotting library, but we had to bundle danfo with one. I believe we can can create wrappers that works with different backends going forward.

[2020-08-13 00:11] domoritz commented on #4
Sounds great. Just wondering, why do you think danfo needs to be bundled with a plotting library. Wouldn't it be better to keep the dependencies lean and provide plotting as an extension? Instead of making `.plot` a function of a dataframe, you could even turn it around and `plat(df)`. I can see that you want to stay close to Pandas but in js dependencies are a lot more expensive than in Python si

[2020-08-13 00:24] risenW commented on #4
I totally get your point, what I think we can do is remove the plotting dependency and have users require it instead. Or we can create a more generic plotting module that can work with numerous plotting packages as you have earlier mentioned.
We can definitely redesign this if you're interested in working with us on it.

[2020-08-13 00:46] willium commented on #4
+1 on not bundling a plotting library. Doesn't seem germane to the problems that this attempts to solve (dataframes).

[2020-08-13 01:19] domoritz commented on #4
I think unbundling plotting is probably the best approach as there are many js plotting libraries and it's not clear which one makes the most sense in a particular use case.

[2020-08-13 01:29] Alex-Monahan commented on #4
Plotly is actually perfect for me, and I love having a .plot method on your DataFrame object! Please don't remove that capability, or please show me a path to re-import it! :-)

[2020-08-13 01:37] domoritz commented on #4
The plotting library could extend danafo or you could call `plot(dataFrame, ...)` where you call `dataFrame.plot(...)` today.

[2020-08-13 09:14] vorbei opened #6 "In place query and editing"
I wish there is something like 'eval' in Pandas.

Currently df.query will return a new data frame, this will be expensive for updating and cleaning data.

[2020-08-13 10:32] opeyemibami opened #7 "Data frame rename does not work as specify"
Setting inplace to "true" or "false" seems not to be working as expected
`{
  df.rename({mapper:{'type':'wine_type'},inplace:true})
  return print(df.head())
}
`
`{
  df.rename({mapper:{'type':'wine_type'},inplace:false})
  return print(df.head())
}`

both code snippet output same result which is not supposed to be so.

[2020-08-13 10:35] risenW commented on #7
Thanks for raising this issue, it has been fixed and will roll out in the next patch.

[2020-08-13 10:35] #7 closed

[2020-08-13 12:07] steveoni commented on #6
That's true @vorbei . it will be expensive.

The query method will be updated. Thanks

[2020-08-13 12:17] steveoni commented on #4
I totally agree with that. We can try creating a wrapper for some of the popular plotting libaries

[2020-08-13 12:34] risenW commented on #4
Sure we won't remove support for it, we will just not bundle it together to reduce size, and then create a wrapped for it. This ensures we can create separate wrappers for different plotting package.

So we can do something similar to Plot(dataframe, Plotly) or Plot(dataframe, Vega)

[2020-08-13 12:47] risenW opened #8 "Corr function for Dataframe and Series"
A Tensorflow based function to calculate Corr for series and columns, similar to Pandas Corr function.

[2020-08-13 12:51] risenW opened #9 "Pivot table"
Pivot table support for DataFrame

[2020-08-13 13:02] risenW opened #10 "Inplace option for fillna"
Currently fillna performs filling and returns a new Dataframe. This will quite expensive for large data. We need an inplace option here.

[2020-08-14 14:20] risenW opened #12 "addColumns function does not accept Series"
The addColumn function should accept a Series as input. It currently throws an array if the input is not a JavaScript array.

[2020-08-14 14:26] Alex-Monahan opened #13 "Support Apache Arrow input/output"
Would you be open to supporting Apache Arrow as an input and export format? It would help with faster network transfers! They have a JS library available.

Thanks!

[2020-08-14 14:59] risenW opened #14 "iloc function for Series"
The Series function should support index location (iloc). This should be a simple slicing of the values making up a Series, and returning it as Series.

[2020-08-14 21:43] risenW commented on #13
Great idea, we will definitely work towards this. Just read up about it, and loving it.

[2020-08-15 11:22] #14 closed

[2020-08-15 11:39] risenW commented on #12
Fixed !

[2020-08-15 11:39] #12 closed

[2020-08-15 11:39] risenW commented on #10
Fixed!

[2020-08-15 11:39] #10 closed

[2020-08-15 11:40] risenW commented on #6
Fixed!

[2020-08-15 11:40] #6 closed

[2020-08-16 13:36] alexwenbj opened #15 "Lack of DataFrame.append()?"
Title says all.
BTW:Thank you for this great work!

[2020-08-16 14:09] risenW commented on #15
By append do mean to add new rows or columns to the DataFrame? Because we have the [addColumns](https://jsdata.gitbook.io/danfojs/api-reference/dataframe/danfo.dataframe.addcolumn) function already, but non for row yet.

[2020-08-16 15:03] alexwenbj commented on #15
Just like the pandas DataFrame.append(),it appends rows of other to the end of caller, returning a new object.

[2020-08-16 15:15] risenW commented on #15
Okay, we'll work on it. Thanks

[2020-08-17 11:30] sorig opened #16 "Documentation is down?"
I get HTTP 404 when trying to access the documentation at https://jsdata.gitbook.io/danfojs/

Not sure if that's just me. Is there a mirror somewhere or a downloadable version?

[2020-08-17 13:53] risenW commented on #16
we are moving the documentation to our own domain, use the temporary link for now https://risingodegua.gitbook.io/danfojs/

[2020-08-17 14:09] #16 closed

[2020-08-26 14:16] risenW opened #17 "Read Json file remotely or locally"
Ability to read a JSON file into Danfo data structure

[2020-08-26 21:51] wolfiex opened #18 "Feature request: read netCDF / HDF5 file option."
Binary formats are heavily used in the Earth sciences and can provide an easy way to lazy load and manage large amounts of data.

I know it is likely out of scope, but it would be a very useful tool if it is at all possible.

[2020-08-27 08:30] risenW commented on #18
Nice feature request, we are looking to support as many file types as possible. We'll look into this.

[2020-08-27 18:16] hectorcho opened #19 "Type definitions for danfojs"
Hi, will there be type definitions for danfojs for use with typescript? Would be great to have. Thanks!

[2020-08-28 15:39] risenW commented on #17
Fixed!

[2020-08-28 15:39] #17 closed

[2020-08-31 21:21] samiragol opened #20 "Error: The Node.js native addon module (tfjs_binding.node) can not be found at path..."
I am trying to install DanfoJS on **windows 10** using below command:
[code]
but I get following error when I run ```npm start```

I tried to ran ```npm rebuild @tensorflow/tfjs-node build-addon-from-source``` but still having problem.

[2020-09-01 04:27] risenW commented on #20
This error is from TFJS. I've noticed it for Windows users. Here's a link to a similar GitHub issue on the TFjs issues page, see if it works for you.
https://github.com/tensorflow/tfjs/issues/2046

[2020-09-01 04:28] risenW commented on #19
Yes, we'll work on this soon. This will definitely help, just not in our current plan for now.

[2020-09-01 16:16] samiragol commented on #20
I tried almost everything was mentioned on the issue page you forwarded, still having same problem :(

[2020-09-01 16:17] samiragol commented on #20
here is my package.json:

[code]

[2020-09-01 16:28] risenW commented on #20
I think I see the issue, danfo-node uses @tensorflow/tfjs-node": "^2.1.0", so I think it is conflicting with the current version. Try removing the @tensorflow/tfjs-node": "^2.3.0" dependencies and run npm install again

[2020-09-01 16:38] samiragol commented on #20
ok I did what you said and still having the same issue.  current package.json:

[code]

[2020-09-01 16:44] risenW commented on #20
I meant to remove the Tensorflow dependency and then run npm install

[2020-09-01 16:47] samiragol commented on #20
yeah I tried removing Tensorflow dependency first and I ran ```npm install``` I got same error and then I tried ```npm i @tensorflow/tfjs-node@2.1.0``` and still the same issue

[2020-09-01 16:53] risenW commented on #20
That's weird. Have you tried a clean start? you could start a new project in a different director, and try to install danfo-node without TensorFlow dependency added  Meanwhile, I'll try to replicate your issue here. What is your OS spec?

[2020-09-01 16:57] samiragol commented on #20
I tried deleting node_modules several times, with and without TensorFlow dependency. I'm on windows 10 x64.

[2020-09-01 18:41] risenW commented on #20
You can actually use Tensorflowjs with directly install it. Since it is a dependency of danfojs, it gets installed automatically. So I'm definitely sure the issue is coming from windows build.
1. Try installing version 2.1.0 of Tensorflowjs and see if you can build it successfully.

If not, you may need to download the windows-build-tools (https://github.com/tensorflow/tfjs/blob/master/tfjs-node/W

[2020-09-01 18:44] risenW commented on #15
Fixed!

[2020-09-01 18:44] #15 closed

[2020-09-01 20:42] samiragol commented on #20
I did all these steps already and I just did it again since you asked me. Just to mention I have both python 2.7 and 3.8 and I suspect I have to set a default to target one of them.

[2020-09-02 03:04] mkaatman opened #21 "Error: Fail on fresh ubuntu 20.04 install"
This could very well be user error but it would be great if someone could either validate that something has gone terribly wrong or not.

Using proxmox container image: ubuntu-20.04-standard_20.04-1_amd64.tar.gz

Steps:

- `apt update && apt dist-upgrade`
- `apt install nodejs npm`

At this point here are my versions:

- `python2 --version // Python 2.7.18rc1`
- `python3 --version // Python 3.8.2`

[2020-09-02 20:55] risenW commented on #20
Did you solve this issue?

[2020-09-02 20:56] risenW commented on #21
Have you checked the Tensorflowjs issues page. I'm definitely sure this is a TFjs build issue.

[2020-09-02 21:07] mkaatman commented on #21
Yeah I'm still going through their docs. I'm just surprised that it's so difficult to get it setup. Do you know if there's any docker image that already has it setup by chance?

[2020-09-02 21:07] #21 closed

[2020-09-02 22:27] samiragol commented on #20
no unfortunatly I am still looking for solution. I am going to try different node versions to see if it will work

[2020-09-03 15:59] samiragol commented on #20
I also was using a different node.js version that Electron was. so I installed node.js version is the same as the version of Electron is using (12.16.3)  and that solve the problem

[2020-09-03 17:54] risenW commented on #20
That's great, I'll go ahead and close this issue now.

[2020-09-03 17:54] #20 closed

[2020-09-08 20:50] samiragol opened #22 "not be able to query data after reading from csv"
I am reading data from a csv file. I want to query data with a very simple statement:

[code]

it gives me this error: ``` ReferenceError: bar is not defined ``` and "bar" is one of the values in column "A"

[2020-09-10 01:18] JhennerTigreros commented on #22
Can you provide some rows of example from csv?

[2020-09-10 01:20] samiragol commented on #22
I used the same example in your github.

[code]

[2020-09-10 01:37] JhennerTigreros commented on #22
Yes, the problem is in eval function that is used in frame.js

[code]
becase eval function resolve the string to `NG==NG` and the engine try to get the variable NG that doesn't exits, I fix this changing the snippet code to

[code]

and get the correct output

![image](https://user-images.githubusercontent.com/32320832/92671503-11962180-f2dc-11ea-821d-827b97c6c25a.png)

change it locally while fix

[2020-09-10 01:55] samiragol commented on #22
thanks, is it going to be in the next release?

[2020-09-10 02:19] JhennerTigreros commented on #22
I open a pull request with the fix :)

[2020-09-10 12:48] risenW commented on #22
@JhennerTigreros
Thanks for the fix. Will take a look and merge.

[2020-09-10 12:51] risenW commented on #22
Merged! Thanks folks

[2020-09-10 12:51] #22 closed

[2020-09-10 14:52] JhennerTigreros commented on #8
Is there any update in this feature?

[2020-09-10 15:18] risenW commented on #8
No one is actively working on this currently. Would like to work on it?

[2020-09-10 15:35] JhennerTigreros commented on #8
Yes I would like it. When you talk about TF-based, do you mean using TF as a support to perform the calculations with the Tensor methods they provide?

[2020-09-10 17:08] risenW commented on #8
Yes, that's exactly what I meant. Alright, I'll assign you to this. Thanks!

[2020-09-10 17:32] gbroques opened #24 "[read_csv] Support relative file paths"
With pandas, we can pass a relative filepath into `read_csv`.

For example:
[code]

Or:

[code]

The paths are assumed to be relative to the script where `read_csv` is called.

Are there plans to support this, and would a pull-request be welcomed?

[2020-09-10 18:29] risenW commented on #24
This a good request. And a pull request would definitely be welcome.

Some thoughts on this:

I think this will only work in danfojs-node, as you can't access local path in the Browser. Also, we currently load Csv using TFjs data api, which specifically needs the full file path. Although this can be abstracted away.

[2020-09-10 21:29] gbroques commented on #24
Acquiring the path of the module that required `danfojs` doesn't seem straight-forward in Node.js.

See the following StackOverflow which recommends a few solutions like using a library called [caller-callsite](https://www.npmjs.com/package/caller-callsite):
https://stackoverflow.com/questions/13227489/how-can-one-get-the-file-path-of-the-caller-function-in-node-js

---

We also need to know if th

[2020-09-10 21:55] JhennerTigreros commented on #8
I suppose that can be a generic method that Dataframe and Series inherit from Generic module and verify in this module what type of structure is an apply correct way to calculate the correlation, right?

[2020-09-11 06:30] risenW commented on #8
The generic module is used for more low level methods. So it should be separated, and also, the way you compute Dataframe Corr is slightly different than Series, I believe one is pairwise (Dataframe) and the other is with another series.

[2020-09-11 14:41] JhennerTigreros commented on #8
Yes, you are rigth. I'm do some research yesterday, at the moment I implement the pearson method to calculate the corr in Series. I want to refactor the math functions and cumulative operations that currently use in the base code to use TF-built in methods to gain performance in large datasets. Currently they are using math.js library.

[2020-09-11 14:50] JhennerTigreros commented on #8
For example the std function:

[code]
Can be change to

[code]

[2020-09-12 02:43] JhennerTigreros commented on #8
After doing some research, I found out that TF when creating a tensor from an array of values may incur some precision errors in float data that diverge the final result from Std, Variance, and others. The error is around ~ 4.32% of the actual value.

[2020-09-12 05:04] risenW commented on #8
Yes, I notice that as well. Did you try rounding the values down? Seems TFJS increases the precision of floats and that leads to the high error rates.

[2020-09-12 05:12] JhennerTigreros commented on #8
No, I didn't. I went back to the current implementation, but tomorrow I will try one more time. Yes, TFJS increases the precision, but it also depends on the processor / gpu / browser running the library, so I think it is a compatibility issue

[2020-09-12 05:39] risenW commented on #8
Yea, I think so too. I found this as well:

https://stackoverflow.com/questions/56649680/tensorflow-vs-tensorflow-js-different-results-for-floating-point-arithmetic-comp

Let me know what you come up with.

[2020-09-13 19:46] JhennerTigreros commented on #8
In way to implement the corr methods I notice that DataFrame and Series class has owned isna() method.

Series ->
[code]

DataFrame ->
[code]

I think it's a good idea to move this to the generic NDFrame class to extend some features like align data, something that pandas have in generalizing the operation of both modules.

[code]

What do you think about that?

[2020-09-14 05:45] risenW commented on #8
Looks interesting. What do you mean by extending features like align data?

Also to be sure, are you proposing we absract the isna function to generic or an internal function that can be called by the isna function from both Series and Dataframe?

[2020-09-14 06:54] risenW opened #27 "Feature Request: Read Excel file into DataFrame Object"
Excel is a popular format for storing data, so we intend to support it, we need to be able to read .xls files in danfo data structures. This should be in the [reader.py](https://github.com/opensource9ja/danfojs/blob/master/danfojs/src/io/reader.js) module and can look something like:

[code]

[2020-09-14 12:37] JhennerTigreros commented on #8
Correctly, I think is good idea to abstract the method to generic module like you say and propose.

I meant if you have two series or dataframes of different sizes and you want to compute the corr function, Pandas first apply `df.align(df2)`  that align the data with smaller object this means clear excess data on the other object and before apply the respective corr function, at the momment I can

[2020-09-19 11:59] adzo261 commented on #27
Hi, can I work on this one?

[2020-09-19 14:04] risenW commented on #27
Sure you can, please go ahead. I'll assign you right away.

[2020-09-21 21:20] steveoni commented on #8
Is the corr. calculating the correlation within dataframe columns or between two dataframe (or it is calculating both)

[2020-09-21 22:08] JhennerTigreros commented on #8
At the moment I'm calculating correlation within dataframe columns, I've spearman and kendall tau-b working now.

[2020-09-22 11:25] steveoni commented on #8
Ok. that's cool.
Great job :+1:

[2020-09-23 07:49] BetterYan opened #29 "Create Dataframe from json data which contains null value failure"
I tried to create datafram from json data, but I got error. This is because there is null value. Can you handle this?

Below is the exception stack from browser:
index.min.js:10277 Uncaught TypeError: Cannot read property 'toString' of null
    at index.min.js:10277
    at Array.forEach (<anonymous>)
    at index.min.js:10277
    at Array.forEach (<anonymous>)
    at a.__get_t (index.min.js:10277)

[2020-09-23 08:05] BetterYan commented on #29
It works if I replace the null with undefined.

[2020-09-23 08:13] BetterYan opened #30 "the query example is not work"
It throws error.
The example code is from https://danfo.jsdata.org/getting-started#selection.
At section "Selecting values from a DataFrame works on string columns:"

let data = [{"A": ["Ng", "Yu", "Mo", "Ng"]},
            {"B": [34, 4, 5, 6]},
             {"C": [20, 20, 30, 40]}]
let df = new dfd.DataFrame(data)

df.print()

let query_df = df.query({ column: "A", is: "==", to: "Ng"})
query_df.p

[2020-09-23 13:39] JhennerTigreros commented on #30
This problem is already solved in source code in PR #23. can you try to update the module?

[2020-09-23 17:41] #27 closed

[2020-09-23 17:51] risenW commented on #29
Thanks for raising this issue. The function which automatically checks and convert undefined to NaN before DataFrame creation is [this](https://github.com/opensource9ja/danfojs/blob/3abf4ebfca7f767767916cbb57e57d4cd3d3ffc9/danfojs/src/core/utils.js#L199). For it to pick up null, we'd have to extend the test case.

I'll take a look at this tomorrow, or would you like to work on it?

[2020-09-23 17:54] risenW commented on #30
I'm currently working on some last minute fix, will definitely push out a new version by Thursday.

[2020-09-24 19:49] risenW commented on #29
Fixed!

[2020-09-24 19:49] #29 closed

[2020-09-24 19:50] #30 closed

[2020-09-24 19:51] risenW commented on #24
I have fixed this [here](https://github.com/opensource9ja/danfojs/commit/5972e3019a48b749e86c37f9a38000e44133cbbd), turns out you can get the PWD with node's built-in process module.

[2020-09-24 22:47] #4 closed

[2020-09-24 23:01] gbroques commented on #24
Using `process.cwd()` will lead to bugs and unintended behavior.

For example, let's say you have a setup like this:

[code]

If you run `node index.js`, and `index.js` requires `dir/someScript.js` which has the following code:

[code]

Then it'll try and locate `data.csv` relative to the the current working direction of the `node` process, which is wherever `index.js` is.

**Not** `dir/data.csv`.

[2020-09-24 23:31] risenW commented on #24
It does make sense, didn't think of that. I'll look into it again. Have you had any success so far?

[2020-09-24 23:56] gbroques commented on #24
Did you read my earlier post?

For a robust solution, I might suggest bringing in a third party library like [caller-callsite](https://www.npmjs.com/package/caller-callsite).

It might be overkill *just* for this? I'm not sure what you'd be comfortable with.

I wish this was more straight-forward in Node.js.

[2020-09-25 11:36] risenW commented on #24
Use an external package looks like an overkill. We'll monitor interest in the feature going forward, and might invest time on it if there are more request.

[2020-09-25 21:57] gbroques commented on #24
Sounds good to me. We can close for now or leave open.

Up to you.

[2020-09-25 22:20] #24 closed

[2020-09-30 19:47] danielruss opened #31 "Sorting DataFrame on encoded String corrupts data"
Hello,
    If you have a dataframe that contains strings, then you cannot sort it.  So I tried to use the label encoder and create a new column filled with the encoded labels.  If you sort on the encoded labels, the dataframe is corrupted.

Here is an browser example:
[code]
The output is:

i | X1 | X2 | X1_encoded
-- | ---- | ---- | -----------
0  |   c    | ^      | 2
1  |   a    | %     | 0
2

[2020-09-30 20:06] steveoni commented on #31
It has being fixed. Update your version to 0.1.2. Thanks

[2020-09-30 20:14] danielruss commented on #31
I updated the link for the CDN to 0.1.2, and I got the same results.

`<script src="https://cdn.jsdelivr.net/npm/danfojs@0.1.2/dist/index.min.js"></script>`

[2020-09-30 20:54] steveoni commented on #31
That's true. I was able to reproduce the error. we will fix it.

[2020-09-30 20:59] risenW commented on #31
I was also able to reproduce this error. It occurs when sorting a column with non-unique entries. The index gets duplicated. This is a minor fix @steveoni is currently on it.

[2020-09-30 22:54] steveoni commented on #31
The sorting is now fixed.

[2020-09-30 22:54] #31 closed

[2020-10-01 17:15] burque505 opened #32 "Editing required to run latest version on Windows 10"
In @tensorflow/tfjs-node/dist/index.js, line 58:
`
var bindings = bindingPath;  // var bindings = require(bindingPath);
`
In @tensorflow/tfjs-node/dist/nodejs_kernel_backend.js, line 77:
`
        _this.isUsingGpuDevice = false; //        _this.isUsingGpuDevice = _this.binding.isUsingGpuDevice(); - function doesn't exist
`

[2020-10-01 20:15] burque505 opened #33 "nodejs_kernel_backend.js"
Running Win10 Pro, node v14.13.0, danfojs-node@0.1.5

I think there are errors in this file (@tensorflow/tfjs-node/dist/nodejs_kernel_backend.js). I made some changes as shown below (as there is apparently no 'createTensor() function', I just changed those references to 'createOutputTensor', which was a blind guess), and stopped a few errors, but I'm not sure my changes are correct. I'm getting er

[2020-10-02 06:49] risenW commented on #32
Duplicate: #33

[2020-10-02 06:49] #32 closed

[2020-10-02 06:58] risenW commented on #33
This could be caused by the node version try using node version 12.18.2.

Also, check this issue #20

[2020-10-07 09:04] #33 closed

[2020-10-08 00:57] robertwalsh0 opened #34 "Cell Styles Override Header Styles in Plotly Tables"
I've found that, when plotting tables, `header_style` will be overwritten by `cell_style`

As you can see in the image below, the headers should be `#333` but instead are overridden by the cell styles `red`.

Link to codepen: https://codepen.io/robwalsh0/pen/GRqRXOK

<img width="1420" alt="Screen Shot 2020-10-07 at 7 55 05 PM" src="https://user-images.githubusercontent.com/88433/95403159-13510600-

[2020-10-08 01:24] code-wizard opened #35 "Cannot call Series.min() or mean()"
For some reason I cannot call ```min(), mean()``` on a Series but I can call ```max() and mode()```. See code below ( from the get started example) [https://danfo.jsdata.org/api-reference/series/series.min](url)

Danfo.js version: [https://cdn.jsdelivr.net/npm/danfojs@0.1.2/dist/index.min.js](url)

[code]

I am using Danfo Notebook and this is the error message

[code]

[2020-10-08 01:48] steveoni commented on #35
using the Dnotebook ibwas not able to reproduce the error.

Did you load this version of danfojs using `load_package` in the notebook

[2020-10-08 01:50] code-wizard commented on #35
Yes I loaded the package

[code]

[2020-10-08 02:01] steveoni commented on #35
ok. now I'm getting same error.

the issue is from the tensorflow latest. Danfo.js is using the tensor  operation from tensorflow.

Try removing the tensorflow/tjs@latest. This fix the error

[2020-10-08 02:08] code-wizard commented on #35
Closing this issue as this fixed the error.

Lastly, is there any plan to integrate with math.js just as pandas integrates with NumPy?

[2020-10-08 02:08] #35 closed

[2020-10-08 02:46] code-wizard opened #36 "Typo in error messgae"
Minor issue but I thought I should raise it. This error comes up when you pass more values than columns specified

[code]

[2020-10-08 05:04] code-wizard opened #37 "Wrong exception thrown for empty dataframe"
Using the get started query example
[https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.query](url)

[code]

I modified the condition to
[code]
Error message
[code]
Expected Output: Return empty result/array

[2020-10-08 08:09] steveoni commented on #37
oh. that should give am error.

since the column B does not have the value 40, hence its passing empty array to the dataframe.

the error is ment to catch though.

Thanks

[2020-10-08 08:23] risenW commented on #34
Thanks for raising this issue. I was able to reproduce it. I'll work on this ASAP

[2020-10-08 08:26] risenW commented on #36
Thanks, fixed!

[2020-10-08 08:26] #36 closed

[2020-10-08 08:31] risenW commented on #37
@steveoni would you work on this?

[2020-10-08 12:50] robertwalsh0 commented on #34
@risenW Thank you! I've also been unable to change the widths of columns by following the instructions listed in your docs. Could you also verify that this is possible, and if so, document how that works?

[2020-10-13 15:18] risenW commented on #34
@robertwalsh0 Thanks for this fix! I'm merging now.

[2020-10-13 15:18] #34 closed

[2020-10-16 12:18] manuelitox opened #39 "Feature request: New Query operator !="
Hey folks!

Firstly, I want to say this project is awesome. I've been playing with him for two weeks and I've had a lot of fun

I have a little suggestion, when I'm trying to get a new data frame excluding a column value I'd like to use the query method by a new parameter (operator). Example:

[code]

It could be a powerful addition. I'd love to collab with a PR, please let me know your thoughts.

[2020-10-16 20:43] risenW commented on #39
@manuelitox Thanks for spotting that, you can go ahead and add it. I'll merge it

[2020-10-19 13:54] merryman opened #40 "Feature Request: provide ESM conform dist target"
I noticed this while I was trying to import danfojs via the https://jspm.dev cdn.
Right now the distributed script of danfos expects itself to be executed globally.
That is all fine and dandy as long as you either include the script tag directly into the dom or load the script manually in the browser. However it kind of causes problems when you want to use danfojs in the context of an ES-Module ba

[2020-10-19 14:32] risenW commented on #39
Added! Thanks

[2020-10-19 14:32] #39 closed

[2020-10-20 07:34] manuelitox commented on #39
Awesome! I was going to work in that today haha.

Btw, could be useful to add the new operator in the DataFrame.query [docucmentation](https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.query#query-by-a-string-column-in-a-dataframe).

[2020-10-20 17:22] risenW commented on #40
Thanks for pointing this out. I'll look into it. Meanwhile if you have any pointers, or fix for it please don't hesitate to add it.
Webpack config can be a pain most times 😄

[2020-10-20 17:23] risenW commented on #37
@steveoni any update on this?

[2020-10-20 17:26] risenW opened #41 "Integrate Danfo.js with data.js for efficiently loading of more files."
[data.js](https://github.com/datopian/data.js) is a lightweight, standardized "stream-plus-metadata" interface for accessing files and datasets, especially tabular ones (CSV, Excel).

`data.js` follows the ["Frictionless Data Lib Pattern"][fd-pattern].

[fd-pattern]: http://okfnlabs.org/blog/2018/02/15/design-pattern-for-a-core-data-library.html#dataset

* **Open it fast**: simple `open` method fo

[2020-10-20 17:50] merryman commented on #40
I added a quick fix in #42

[2020-10-20 22:16] steveoni commented on #37
Now fixed

[2020-10-21 08:38] vinchauhan opened #43 "read_json method returns an error."
[code]

[2020-10-21 08:57] vinchauhan commented on #43
Sorry - Had to read JSON as string.

[2020-10-21 08:57] #43 closed

[2020-10-21 09:10] risenW commented on #40
Thanks, merged!

[2020-10-21 09:10] #40 closed

[2020-10-21 17:42] vinchauhan opened #44 "Feature : Load data from file"
As of now we can only load from https:// urls , I tried http, reading the json file and passing to the method and none of them worked.

It would be great to add reading from file or http urls too.

[2020-10-22 09:46] Pl-Mrcy opened #45 "Dataframes Merge Issue"
Joining with `dfd.merge` two dataframes fails whenever the left dataframe has more rows than the right dataframe (no matter if you do a left, right, inner or outer join).

Similarly, the output of a right join (with a longer dataframe as the right dataframe) is wrong. It outputs only the number of rows of the left dataframe.

A basic example that ends up falling on my machine:
[code]

The second a

[2020-10-22 15:14] steveoni commented on #45
I was not able to reproduce your error on [Dnotebook](https://playnotebook.jsdata.org/).

What version of the library are you using?

[2020-10-22 15:49] Pl-Mrcy commented on #45
I was able to reproduce it using [Dnotebook](https://playnotebook.jsdata.org/).

[code]

These two attempts give an error (`TypeError: i is undefined`) and a wrong output respectively.

I use danfojs-node@0.1.5

[2020-10-22 20:42] steveoni commented on #45
Thanks, I was able to reproduce the error. Its now  [fixed](https://github.com/opensource9ja/danfojs/commit/c58809afc4324201d78855d790723cb0415fd8d9)

[2020-10-23 05:32] vinchauhan commented on #44
So looks like the issue is with using source as a file name either relative or absolute. I couldn't make it work.

[code]

df comes as undefined.

[2020-10-23 07:35] risenW commented on #44
read_json didn't support local files before, but this has been fixed in the latest [push](https://github.com/opensource9ja/danfojs/blob/6036e0d79637e3fdf00713576cb66e0673cba21e/danfojs/src/io/reader.js#L59). If you are using this in a node environment, you can Install the latest push and test it out.

[2020-10-23 07:51] vinchauhan opened #47 "Dataframe pivot functionality"
Do we have the dataframe pivoting functionality in danfo?

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html?highlight=pivot#pandas.DataFrame.pivot

[2020-10-23 07:54] risenW commented on #47
This issue has been raised in #9. No one is working on it at the moment. If you would like to do this, let me know so I can assign you to it.

[2020-10-23 07:54] #47 closed

[2020-10-23 08:04] #44 closed

[2020-10-23 10:53] alexwenbj opened #48 "some DataFrame/Series methods not support level,fill_value etc arguments"
For example,DataFrame.mul()/rmul()/sub()... only accept 2 arguments, but in pandas, there are level,fill_value etc.

[2020-10-23 17:05] danielgis opened #49 "Error dfd.merge"
Hello I have 2 DataFrames that I try to join using a common column, but I receive the following

    let df_merge = dfd.merge({ left: df_surveys, right: df_stacked_row, on: ["survey"], how: "left" });
    df_merge.print();

    // df_surveys
    ╔═══╤═══════════════════╗
    ║   │ survey            ║
    ╟───┼───────────────────╢
    ║ 0 │ Padron Nominal    ║
    ╟───┼───────────────────╢
    ║ 1

[2020-10-23 17:44] steveoni commented on #49
can you share the full code, so I can reproduce the error

[2020-10-23 18:28] #45 closed

[2020-10-28 08:26] risenW commented on #48
@alexwenbj For now, we try to make methods as simple as possible, so definitely not all features available in pandas are currently supported. Going forward, we can extend these functions to include more options as well.

For instance, fill_value can be the same across all math ops function, so that can be easily added. Other features will be based on importance and request.

[2020-10-28 11:47] alexwenbj commented on #48
@risenW Got it.Thank you.

[2020-10-28 11:47] #48 closed

[2020-10-30 04:48] #49 closed

[2020-10-30 21:36] 24jr opened #50 "Integrate with vue 3"
This seems like a novice question and yet I don't understand it. How do I import and use a third party js library in vue 3? In this case I'm trying to use Danfo.js https://danfo.jsdata.org/getting-started by doing `npm install danfojs` (even though it only shows to use cdn for browser use I think this is the same thing but correct me if wrong). Then idk if this is something that I import in each f

[2020-10-31 13:53] kickbox commented on #45
May I know when would this fix be released in node npm?

[2020-10-31 14:27] steveoni commented on #50
if you are using node. `dfd` is the variable danfojs is assigned to when imported

[code]

for the example you made above, you can use danfo like that `new danfo.DataFrame`

[2020-11-01 01:23] rai-harshit opened #51 "Inplace drop column not working"
I created a dataframe with a column called **'raw_timestamp'**. Then I derived two additional columns out of it, **'raw_data'** and **'raw_time'** in the following way:
`df = new dfd.DataFrame(raw_data, {columns:column_names});
df.addColumn({"column":"raw_date","value":df["raw_timestamp"].apply((x) => { return x.split(" ")[0]})});
df.addColumn({"column":"raw_time","value":df["raw_timestamp"].apply

[2020-11-01 18:06] risenW commented on #50
In a Vue app, you can install the node version of danfo as its is faster by running `npm install danfo-node`, then you can either use ES6 import and assign danfo to a variable-say dfd:

[code]

Or you can use require as @steveoni mentioned earlier:

[code]
After import danfo becomes available in the script globally and can be used in any component.

[2020-11-01 18:07] risenW commented on #51
What version of danfo are you using? and is this browser side or node side?

[2020-11-01 22:06] 24jr commented on #50
Maybe my understanding of what node is is the issue here. Isn't node for a different purpose used in backend which is not what I want anything to do with here. I want to have it run in the browser which would only need js and browser not node. or am I incorrect in that assumption

[2020-11-01 23:16] rai-harshit commented on #51
I'm using danfojs-node 0.1.5 as seen below in my package.json file

{
  "name": "balanced_server",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "danfojs-node": "^0.1.5",
    "express": "^4.17.1"
  },
  "devDependencies": {
    "nodemon": "^2.

[2020-11-02 07:13] risenW commented on #50
If you need this to run in the browser only, then you need to declare `dfd` as a global variable that will be available to all scripts. You can attach `dfd` to the window object ([see ref](https://javascript.info/global-object)), or simply import danfo in any new script you'll be using.

In our next build, dfd will be automatically added to the window object so its available globally. See this [is

[2020-11-04 12:47] chrisrok opened #52 "df["column"].pct_change()"
Hi everyone,

thanks for doing this.

I just had a quick view on the docs and was missing the classic .pct_change() function.

Did I miss something?

I mostly do pandas, what would be easiest way to achieve this with danfo.js?

Thanks,
Christian

[2020-11-10 04:57] camilotorresideas opened #53 "Use in the client side using react"
Hi,

It is possible to use Danfo.js in the client side through react js?

Thanks

[2020-11-11 08:57] risenW commented on #53
Yes, it's definitely possible. Just as you would import and use any other Javascript package

[2020-11-11 08:57] #53 closed

[2020-11-11 15:46] camilotorresideas commented on #53
Ok, thank you for the answer. Which package should I install, because with danfojs-node it does not run, an error shows up (I assume it needs node to run). With "npm install danfojs" the react app does run but when I create a dataframe with a json array it throws an error saying the param is undefined (and is not). Maybe I'm using the wrong package or I need to install other packages. Again, thank

[2020-11-11 16:55] camilotorresideas commented on #53
I was importing wrong the package. In react I use this "import { DataFrame } from "danfojs/danfojs/src/core/frame" and it works. If there is another way to do the import and work with the dataframe object let me know. Thanks for your help!

[2020-11-17 10:37] srinivas-tlt opened #55 "Creating empty DataFrames as in pandas"
newDF = pd.DataFrame()

In danfojs DataFrame class expects two parameters with first parameter being data in object[ ] or array[] type. Tried passing both but, I am getting error .
[code]

Using  danfojs v 0.1.2 (cilent)

[2020-11-22 11:16] stefaneidelloth opened #56 "Does danfojs support observable/reactive concepts / change events?"
I would like to react on cell changes, so that I am able to only update those parts of my
table calculations that I need to update.

=>Does danfojs provide some concept of observable cells, reactive calculations, change events?

(How does it relate to RxJs and RxDb https://github.com/pubkey/rxdb ?)

[2020-11-23 08:10] risenW commented on #55
@srinivas-tlt Thanks for opening this issue. This is very important, and will surely be implemented.

[2020-11-23 08:11] risenW commented on #55
@opeyemibami Can you work on this issue?

[2020-11-23 08:14] risenW commented on #56
Hi @stefaneidelloth not at the moment. Could be considered in the future if we see more request/need for it.

[2020-11-24 23:40] jeremydiviney opened #57 "Creating DataFrame from json that contains "index" key/property causes error"
The Following Code:
[code]
This will cause the error: _UnhandledPromiseRejectionWarning: TypeError: Cannot set property index of [object Object] which has only a getter_

Looks like within the DataFrame class "index" is reserved

[code]

[2020-11-25 10:17] risenW commented on #57
Interesting issue. Thanks for raising this. We have to update the internal name for index then, maybe adding an underscore before the name (_index).  Would you like to fix this?

[2020-11-30 07:15] joebnb opened #58 "update tfjs-node version"
pls update is for resolve china mainland network issue

https://github.com/tensorflow/tfjs/pull/3832

[2020-12-03 13:37] Alex-Monahan opened #59 "Danfo.js benchmarks?"
Hello!

I have a few quick questions!

Are there any performance benchmarks of danfo.js? I am trying to decide if Danfo would be faster than vanilla JS operations for groupings, getting distinct values by column, and joins. How does memory consumption compare?

Also, which TF.js backend is used when running in the browser (Chrome)? Does danfo.js block the main DOM thread when used in the browser?

[2020-12-04 08:47] ijakparov opened #60 "StandartScaler results"
Why Danfojs StandartScaler results don’t  equal to python sklear.StandartScaler results?

[2020-12-04 10:10] pckhoi opened #61 "[read_csv] support File object in browser"
I use `read_csv` to read a 130MB file in the browser and using developer tools I saw the file get downloaded twice, then it just hang and eventually crash. So clearly there is one or two bugs there.

And it would be nice if `read_csv` accept File object in the browser as well.

[2020-12-04 10:44] pckhoi commented on #61
I think I understand the double download issue now. First download happened at
[code]

Then second:
[code]

Doesn't look very optimized.

[2020-12-04 17:26] steveoni commented on #60
it should. can you share your code and result?

[2020-12-05 10:07] ijakparov commented on #60
pyton
`from sklearn.preprocessing import StandardScaler
import pandas as pd

somedata = [[100,1000,2000, 3000] ,
            [20, 30, 89, 12],
            [1, 1, 1, 0]];
df = pd.DataFrame(data=somedata)

scaler = StandardScaler()
result = scaler.fit_transform(df)
`

Result is array([[ 1.39090235,  1.41375362,  1.41314026,  1.41420504],
       [-0.47399466, -0.67564356, -0.65886309, -0.7028514 ],

[2020-12-05 11:48] mjarmoc commented on #57
The same happens if `size` key is present in data.
[code]

[2020-12-07 02:21] GantMan opened #63 "TensorFlow.js Double includes"
Should TensorFlow.js be a peer dependency?  I'm having some issues trying to include Danfo.js and when I'm in Node, I get errors when I try to bring `tf`.

I have similar issues when I try to bring it in on observablehq

<img width="1374" alt="Screen Shot 2020-12-06 at 8 19 00 PM" src="https://user-images.githubusercontent.com/997157/101302075-498c0280-3800-11eb-89a6-585eb6fbfea2.png">

My guess i

[2020-12-07 03:13] GantMan opened #64 "Roadmap for `to_csv`?"
I'm having some issues when I get to requiring TensorFlow.js, see #63

I could work around this if I could save the data to a CSV or JSON.  Is there a roadmap for [making the Pandas to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)?

[2020-12-07 09:39] risenW commented on #63
Yes, thanks for noticing this, we do need to add TFJS as a peer dependency.

[2020-12-07 09:51] risenW commented on #64
There's a current [to_csv](https://danfo.jsdata.org/api-reference/dataframe/dataframe.to_csv) function for that, the only difference, for now, is that we return converted CSV as a string, instead of saving to a path.

This functionality can be added in node environment since we have access to the file system.

What other features would like to see in this?

[2020-12-07 20:16] steveoni commented on #60
I will check it out

[2020-12-08 02:33] GantMan commented on #64
Ahhh, I guess just getting it documented in the API reference.  Would you like me to do a PR over here to document it?

https://danfo.jsdata.org/api-reference/input-output

[2020-12-08 02:37] GantMan commented on #63
let me know if you'd like me to do this PR.  I'd be happy to help.

[2020-12-08 08:48] risenW commented on #64
Sure, we'd love that. 👍

[2020-12-08 11:17] fredthedead opened #65 "read_csv failing on csv with newline in value"
I'm trying to load a csv where the columns are:
`123, 456, "test \n test"`
and the function seems to fail
Is there a way to get it to read the file successfully? (pandas is able to read the file successfully)

[2020-12-08 12:05] fredthedead commented on #22
I'm using the version suggested in the repository README.md file
` <script src="https://cdn.jsdelivr.net/npm/danfojs@0.1.2/dist/index.min.js"></script>`
and still getting this error... is this version the latest or is there a new one?

[2020-12-10 16:46] GantMan commented on #64
Done:  https://github.com/opensource9ja/danfojs-doc/pull/2

[2020-12-12 04:24] #64 closed

[2020-12-12 04:25] GantMan opened #66 "Peer dependency for danfojs-node"
Seems the node version still has a strict dependency not a peer dependency

https://github.com/opensource9ja/danfojs/blob/849d14c8e7fa79bce4ffa9d0d177639047313520/package-config-web.txt#L108-L109

This causes an issue on my Mac.

[2020-12-12 21:28] GantMan opened #67 "`to_csv` is not correct"
Documentation demonstrates that you need to provide the path to a CSV file, suggesting it will save the contents there.

It does not.

DOCS: https://danfo.jsdata.org/api-reference/dataframe/dataframe.to_csv
CODE: https://github.com/opensource9ja/danfojs/blob/master/danfojs/src/core/generic.js#L373

I assume it was supposed to save a file?  Are the docs correct and the implementation wrong?

[2020-12-13 07:00] risenW commented on #67
Docs are correct, implementation is not complete for now. Would you like to work on this?

[2020-12-14 21:53] secretlyamble opened #69 "plotly.newplot() call missing parameter"
Heya!  It looks like many (if not all) of the calls to `plotly.newPlot()` are missing the `config` parameter (fourth param).  This prevents consumers from passing config options to plotly such as `displayLogo: false`.

The fix looks like it should be as simple as replacing all instances of `newPlot(this.div, [trace], this_config['layout']);` with `newPlot(this.div, [trace], this_config['layout'],

[2020-12-14 22:07] secretlyamble commented on #69
created https://github.com/opensource9ja/danfojs/pull/70 to hopefully help fix (sorry if I didn't do this correctly, I'm new)

[2020-12-14 23:29] leh08 commented on #50
Hi @risenW

I would like to import danfojs to Vue 3 through npm install danfojs. However, it seems it cannot do it currently

@<template>
    <p>App</p>
</template>

<script>
import dfd from "danfojs";

export default {
    name: "App",
    mounted() {
        const s = new dfd.Series([1, 3, 5, undefined, 6, 8]);
        s.print();
    },
};
</script>

<style>
#app {
    text-align: center;
}
</st

[2020-12-15 00:45] leh08 commented on #50
Hi @risenW,

if I use danfojs-node in Vue frontend, an error will be like this:
[code]

![image](https://user-images.githubusercontent.com/37028078/102153283-c3487e00-3edb-11eb-92ab-7e73e6e1d9c2.png)

Kind regards

[2020-12-15 08:42] MCYouks commented on #47
Hello 👋 Any update on this issue ?

[2020-12-16 05:36] GantMan commented on #67
Yup.  Question:  How do you identify and change behavior when in Node and when in Web?

Are you manually making builds or is there a conditional you're using?

[2020-12-16 07:09] GantMan commented on #67
I did a PR that I believe fits the needs.   Please let me know.

[2020-12-16 07:21] risenW commented on #67
Checking it now

[2020-12-16 07:43] #67 closed

[2020-12-16 07:43] risenW commented on #63
Fixed in #71

[2020-12-16 07:43] #63 closed

[2020-12-16 07:45] risenW commented on #66
This is also causing some issues in browser-side, we'll be using the @tensorflow/tfjs module for now

[2020-12-16 07:45] #66 closed

[2020-12-16 08:36] asjsrep opened #72 "npm danfojs-node outdated"
The node version pulled from npm appears to outdated. Is there a reason why it's behind?

https://www.npmjs.com/package/danfojs-node/v/0.1.5

[2020-12-16 08:37] risenW commented on #69
@secretlyamble  Thanks for this fix! Tested and merged already.

[2020-12-16 08:37] #69 closed

[2020-12-16 08:40] risenW commented on #72
@asjsrep I've not pushed the latest changes to npm. I'm on it currently

[2020-12-16 09:40] risenW commented on #72
Updated to v0.1.6. See [link](https://www.npmjs.com/package/danfojs-node)

[2020-12-16 09:40] #72 closed

[2020-12-16 19:17] risenW commented on #58
@joebnb The latest version of Danfo which was pushed today uses tfjs-node 2.7.0. I believe that's updated for you right?

[2020-12-16 19:18] #58 closed

[2020-12-16 19:20] risenW commented on #61
Thanks for noticing this. We are planning to change the underlying functions for reading CSV files. Currently we are using tfjs read csv function. The latest ode version introduces a generic read function for reading many tabular files. Although still in testing, we will definitely fix this in the next couple of days

[2020-12-16 19:21] risenW commented on #60
@steveoni any updates on this?

[2020-12-16 19:26] risenW commented on #59
Some answers to your questions.

1. There are no performance official benchmarks for now. Most operations (especially mathematical ops) should be faster because we're using tfjs under the hood.
2. In the browser, we are using @tensorflow/tfjs, it's optimised with webgl and makes math ops faster as well.
3. Most functions are asynchronous, and should not block the main thread.

[2020-12-16 19:27] risenW commented on #59
@opeyemibami can you do some benchmarks comparison between danfojs ops and vanilla Js?

[2020-12-16 19:28] risenW commented on #57
@mjarmoc Would you like to work on this?

[2020-12-16 19:31] risenW commented on #65
Thanks for raising this issue, I'll look into it. 👍

[2020-12-16 19:39] risenW commented on #51
Quite late reply, but I wanted to ask of this bug still persists?

[2020-12-16 19:42] risenW commented on #50
Interesting. It seems the bundled browser file are not properly imported in UI libraries like Vue and React. I'm Investigating this. Direct import should work.

[2020-12-16 22:32] steveoni commented on #60
@ijakparov the standscalar bug is now fixed.

[2020-12-16 22:32] #60 closed

[2020-12-17 12:19] davidrint opened #73 "Missing Intellisense in .ts files?"
Hi Simple question I hope. I get intellisense when using danfojs-node in require in js file. This does not happen in Typescript file. Are you looking to provide npm install @types/danfojs  or is there a way around this.

Looking forward to using the product. Regards David

[2020-12-18 19:43] GantMan commented on #67
let me know when you do a new release.  I'll do a smoketest.

[2020-12-18 21:31] risenW commented on #67
I actually did that already. Two days back. Do check

[2020-12-19 17:01] GantMan commented on #67
Works great!  However, what do you think about adjusting it, so no parameter means just return CSV string?

[2020-12-24 10:24] grpandi opened #74 "DF.Sort Values"
Sorting values giving wrong result when we have duplicate value in the sorting column.

Dataframe before sorting:
![image](https://user-images.githubusercontent.com/46180269/103082359-3176fa00-45da-11eb-9ac7-ad722b241f26.png)

╔═══╤═══════════════════╤═══════════════════╗
║   │ fam               │ fam_count         ║
╟───┼───────────────────┼───────────────────╢
║ 0 │ fFZX              │ 4

[2020-12-26 14:42] MCYouks opened #75 "DataFrame.sort_values not working properly"
Hello everybody 👋

When applying `sort_values` method to a data frame column that contains both positive and negative `float32` type values, the values are not properly sorted.

In fact, the negative values are sorted in a descending order (↓), while positive values are sorted in an ascending order (↑).

As you can notice below, after applying the method `df.sort_values({ by: "amount_sum", inplace

[2020-12-26 14:47] MCYouks commented on #74
Up ! I also encounter a similar issue (see #75) when sorting a frame after applying a `groupby` method.

In my case, the negative values are sorted in a descending way, while positive values are sorted in an ascending way.

[2020-12-27 15:20] hodovani opened #77 "Comparing `!param` to `layout` always returns false."
What is purpose of [this](https://github.com/opensource9ja/danfojs/blob/master/dist/plotting/plot.js#L30) line?

It return false if param is 'layout' or if it is any other string.

[2020-12-27 20:53] steveoni commented on #75
it should not be so. I will check it out.

[2020-12-27 21:16] steveoni commented on #75
the `new Intl.Collator` does not work well with negative values. might fall back to the normal sorting ways for numerical variables.

[2020-12-27 22:12] #75 closed

[2020-12-27 22:13] steveoni commented on #74
@grpandi and @MCYouks this issue and #75  is now fixed.

[2020-12-27 22:13] #74 closed

[2020-12-27 22:22] hodovani opened #81 "Duplicate expressions on both sides of an assignment"
Duplicate expressions on both sides of an assignment [here](https://github.com/opensource9ja/danfojs/blob/master/dist/core/timeseries.js#L133) is probably a mistake.

[2020-12-29 10:23] Nenino2 commented on #73
I auto-generated Danfojs's types and I put them into my [repository](https://github.com/Nenino2/Danfojs-type-declarations)

You can install them using
[code]

![Screenshot](https://user-images.githubusercontent.com/42894888/103276762-bd689780-49c7-11eb-95c1-22d6bf90423a.png)

[2020-12-29 11:46] risenW commented on #73
@Nenino2 Thanks for providing this!

[2020-12-29 22:14] davidrint commented on #73
That's great, I will try it tomorrow.  Many thanks

[2020-12-30 10:16] risenW commented on #73
@davidrint I have just included the types defined by @Nenino2 in the latest build of danfo. So update your version number.

[2020-12-30 10:16] #73 closed

[2020-12-30 10:18] risenW commented on #19
Type declaration has been added in the latest build of danfo. See https://github.com/opensource9ja/danfojs/issues/73

[2020-12-30 10:18] #19 closed

[2020-12-31 12:23] ajainvivek opened #82 "Describe dataframe plot is missing the first column"
Dataframe describe plot is missing the first column `count, mean, deviation...`

`dataframe.describe().plot('plot-div').table()`

<img width="1409" alt="Screen Shot 2021-01-01 at 12 45 35 pm" src="https://user-images.githubusercontent.com/1182600/103432205-6fee6380-4c2f-11eb-9348-b00be8ef8ddd.png">

but print `dataframe.describe().print()` does have the static column

[2021-01-07 12:38] szinck1 opened #83 "groupby functionality in browsers?"
Is it possible to use groupby and the dataframe functionality in a browser, or do I need to use Node?

[2021-01-07 13:16] mgiedrikas commented on #37
this is the same is for strings, ie. if B has string instead of numbers and if you do this:
`let query_df = df.query({ "column": "B", "is": "==", "to": "foo" })`

I am getting the same error - `File format not supported for now`

[2021-01-07 20:37] iGorjidooz commented on #37
Hi everyone! When I am querying a DataFrame which would return an empty result, danfojs-node throws the following error (as it is implemented in core/frame.js)
`Error: query returned empty data`
but shouldn't it actually return an empty DataFrame like in Pandas?
IMO, throwing an error breaks the chain of execution and it would make it difficult in cases where a decision is dependent on the query t

[2021-01-08 00:18] reevr opened #84 "Memory heap limit exceeded"
When I try to load a csv with 1 million rows, the heap memory gets exceeded.
I know we need to increase the MAX_OLD_SPACE_SIZE before running the application, but what I see is, DanfoJs is consuming more memory than pandas.  Memory gets exhausted fast with few thousands of rows getting loaded
I hope this gets fixed soon, as DanfoJs is a promising future to NodeJs data processing capabilities.

[2021-01-11 16:18] muneebshahid opened #85 "Browser example doesnt work"
[Browser example](https://github.com/opensource9ja/danfojs#example-usage-in-the-browser doesn't seen to work. It throws the error ``Uncaught ReferenceError: dfd is not defined``

I have to change version from 0.1.5 to 0.1.2 to get it to work.

``<script src="https://cdn.jsdelivr.net/npm/danfojs@0.1.5/dist/index.min.js"></script>``

to

`` <script src="https://cdn.jsdelivr.net/npm/danfojs@0.1.2/dis

[2021-01-12 06:07] GantMan opened #86 "Disposing values"
When I'm done with a DataFrame, is there a proper way to dispose the dataframe and reclaim the tensor memory?

I haven't found anything.

[2021-01-17 04:42] Tathagatd96 opened #87 "Local file upload in browser environment"
@risenW is there a roadmap to including local file upload via a browser environment for danfo.js?

[2021-01-19 04:24] GantMan opened #88 "Next CDN Release?"
When will you be releasing the next CDN version of Danfo for web?

I am using 0.1.2 because that's the last released version.   Are you interested in using upkg to automatically create CDN releases?

[2021-01-19 08:44] bebbi commented on #85
Try loading the script async and wait for it

[code]

[2021-01-19 14:28] indy2005 opened #89 "dropna giving "file format not supported for now""
let df_drop = df.dropna({axis:0})
index.min.js:9946 Uncaught File format not supported for now

This is the error I get when running the browser examples in the introduction.

Any advice appreciated.  {axis:1} works, but I want to do a row wise operation.

Stephen

[2021-01-21 03:11] sagoncalves opened #90 "Example of usage in the browser not working"
Hi i used this code example:

`    <script src="https://cdn.jsdelivr.net/npm/danfojs@0.1.5/dist/index.min.js"></script>
`

And get this error:

<img width="531" alt="Screen Shot 2021-01-21 at 12 04 43 AM" src="https://user-images.githubusercontent.com/63732425/105274913-f803c100-5b7c-11eb-9b58-bd2019e1a9b4.png">

[2021-01-21 06:07] pandichef opened #91 "Please add support for pandas' to_clipboard/read_clipboard and to_html/read_html methods"

[2021-01-21 06:33] pandichef opened #92 "Possibly missing dependency"
I had to "yarn add @tensorflow/tfjs-node" to get the example node.js code to run

[2021-01-21 18:42] risenW commented on #91
Thanks for these ideas, this sounds awesome, and I’ll definitely love to see it in danfo.

I’m tied down for now due to my full time job, so these Changes might come much much later, unless someone else decides to work on it.

[2021-01-21 18:44] risenW commented on #88
The latest version is actually 0.1.5, but it seems there’s a dependency bug in that. I’ll look over that this weekend and push a new version.

As for automatically creating release, that would be awesome 🙂

[2021-01-21 18:54] risenW commented on #90
There’s an issue with version 0.1.5, can you use version 0.1.3 for now, I’m fixing this soon and will notify here.

[2021-01-21 18:56] risenW commented on #86
Good catch. I’m planning a series of refactor for efficient  memory management and this will definitely be part of that. Any help here would definitely be appreciated as well

[2021-01-21 19:00] risenW commented on #77
Ah thanks for spotting that. It actually caused a bug. That line is suppose to be  `if (!(param == "layout"))...`

[2021-01-21 20:29] sagoncalves commented on #90
Thank you very much!

[2021-01-22 17:09] steveoni commented on #92
if you are using the latest package, we stop bundling tensorflowjs with danfojs

[2021-01-22 17:09] #92 closed

[2021-01-22 17:27] steveoni commented on #87
This cool, but for now is not on the roadmap

[2021-01-22 17:29] steveoni commented on #85
there is an issue with v0.1.5, we let you know about the next build.

[2021-01-22 17:29] #85 closed

[2021-01-22 17:38] steveoni commented on #84
good pointer, we will surely work on this. And you are also free to help out.

[2021-01-22 17:39] steveoni commented on #83
it is possible to use groupby functionality in both node and in the browser

[2021-01-22 17:39] #83 closed

[2021-01-22 17:48] steveoni commented on #65
@fredthedead can provide a working code to reproduce the error.

[2021-01-22 23:39] GantMan commented on #86
In Panda s you can say `del df` to remove it from memory.   So should it be `df.del` or should you follow the TF way of things and say `df.dispose`?   I'm leaning towards dispose, or `dfd.del(df)`?

[2021-01-23 06:35] #90 closed

[2021-01-23 06:36] risenW commented on #89
Can you provide one example that you tried here, and also which version are you working with?

[2021-01-23 06:38] risenW commented on #86
`df.dispose` seem better. I'll go with that. Wanna add this?

[2021-01-23 06:39] risenW commented on #84
I understand your plight. I'm looking towards streaming operations and parallelization of most of the core operations for danfo. This will help solve this issue.

[2021-01-23 06:41] risenW commented on #82
Thanks for pointing this out.

[2021-01-23 13:14] motin commented on #59
On this topic, it would be very interesting to see how/if mentioned Danfo operations benefit from the tfjs wasm backend (https://www.npmjs.com/package/@tensorflow/tfjs-backend-wasm). If you benchmark, please include that in the benchmarks! :)

[2021-01-23 18:51] asuggula opened #93 "Your website has been down for the last day - just wanted to let you know so you're aware."

[2021-01-23 18:54] vxm5091 opened #94 "Website down"
Hey Team - first off, thanks for putting this library together! My team and I have been getting up to speed on it over the last several days and it's been super helpful. Just wanted to give a quick heads up that your website has been down for the last day or so [https://danfo.jsdata.org/].

Thanks again and enjoy the weekend!
Vlad

[2021-01-23 23:06] GantMan commented on #86
I started setting up a codesandbox to work with this.  It appears danfo doesn't play well with codesandbox.com - you should probably add that to a list somewhere, too.

I'll have to make a local experiment and let you know if I think I can contribute this back or not.

[2021-01-23 23:15] GantMan commented on #88
Hrmmm, your 0.1.5 release doesn't seem to work.   This isn't the whole file.
 Load the JS and look at how small it is.  I don't think it got rolled up properly.

 https://cdn.jsdelivr.net/npm/danfojs@0.1.5/dist/index.min.js

I guess I should put some time aside to come see if I can help automate and streamline your releases to CDNs

[2021-01-23 23:42] cimm commented on #94
Works for me. Might have been down before, I don't know but https://danfo.jsdata.org has been working fine the last 2 hours or so.

[2021-01-23 23:54] steveoni commented on #94
oh, but it's working from my end. can you check again

[2021-01-23 23:54] cimm opened #95 "Importing JSON datetime columns"
New to Danfo, very clean and easy to work with, great job. :+1: I do have some problems understanding dates though.

In my JSON:

[code]
In my browser Danfo 0.1.2 script:

[code]

The dtype for the `recordedAt` column is a `string`, this makes sense, JSON does not have dates. I tried appending columns where I convert the date string to a JavaScript date or a timestamp but since Danfo does not have

[2021-01-24 04:49] vxm5091 commented on #94
Yep, just checked and works on my end too. Thanks!

[2021-01-24 04:49] #94 closed

[2021-01-24 04:54] vxm5091 commented on #37
Did you find a workaround to this? I'm having a similar issue.

[2021-01-24 09:30] risenW commented on #93
Hi, thanks. This issue probably from your end. It's working fine from over here.

[2021-01-24 09:30] #93 closed

[2021-01-24 11:02] risenW commented on #88
I just fixed this issue, anytime we merge to master, the latest version gets deployed and can be accessed via the CDN link `    <script src="https://cdn.jsdelivr.net/gh/opensource9ja/danfojs@latest/lib/bundle.js"></script>`

The latest ensures the current release is loaded.

[2021-01-24 11:02] #88 closed

[2021-01-24 11:04] risenW commented on #90
@sagoncalves , just a quick update that this has been fixed. You can always get the latest version via the script tag `    <script src="https://cdn.jsdelivr.net/gh/opensource9ja/danfojs@latest/lib/bundle.js"></script>
`

[2021-01-24 11:05] risenW commented on #87
@steveoni This would be easy to implement, and I think is very useful. reopening this and adding a `first time` tag.

[2021-01-24 11:07] risenW commented on #85
@muneebshahid  just a quick update that this has been fixed. You can always get the latest version via the script tag `    <script src="https://cdn.jsdelivr.net/gh/opensource9ja/danfojs@latest/lib/bundle.js"></script>
``

[2021-01-24 11:18] risenW commented on #86
@GantMan  I Fixed the sandbox issue as well. Check out this [example](https://codepen.io/risingodegua/pen/bGwPGMG)

[2021-01-24 13:21] muneebshahid commented on #85
@risenW thank you for the quick fix and the update.

[2021-01-24 16:20] risenW commented on #37
I'm working on a fix

[2021-01-24 18:28] risenW commented on #95
@steveoni what do you think. Probably our date parser is not robust enough

[2021-01-25 10:56] steveoni commented on #95
We don't have datetime as a `ctypes` or so. But the date parser is robust enough.

[code]

[2021-01-25 11:08] chengemily opened #99 "sort_values on column with duplicate values"
When using `sort_values(by="colName")` where `colName` has duplicate values, only one unique row is represented per value in the final dataframe. For example let `df` be

Date  Name  Score
1/1    Alex     2
1/2    Bob     2

Then, `df.sort_values(by="Score")` gives

Date  Name  Score
1/1    Alex     2
1/1    Alex     2

The documentation is not clear on how to get around this issue by sorting by m

[2021-01-25 11:11] steveoni commented on #99
what version of danfo.js are you using?

[2021-01-25 11:20] chengemily commented on #99
I'm using 0.1.1: <script src="https://cdn.jsdelivr.net/npm/danfojs@0.1.1/dist/index.min.js"></script>

[2021-01-25 11:23] steveoni commented on #99
pls used the new update `@latest` or `0.1.2`. This issue is fixed in the latest version

[2021-01-25 13:04] chengemily commented on #99
Great thanks! It works.

[2021-01-25 13:04] #99 closed

[2021-01-26 01:11] phhu opened #100 "groupby: dates treated as integers rather than strings"
If I try grouping on a string column which represents a date (e.g. in ISO format ,e.g. "2021-02-01T06:00:00Z"), the date column is treated as an integer and truncated to the year only ("2021").

See the example below, where the `date` column of the third table would be expected I think to contain the full ISO date strings as above, and the ctype of the same column should be `string`, as it is in t

[2021-01-26 04:41] GantMan commented on #88
I ran your sandbox code: https://codepen.io/risingodegua/pen/bGwPGMG which is awesome that it runs great in that demo!

The code points to that bundle.  But if you copy and paste the HTML from that sandbox in a local server you get an error.

<img width="552" alt="Screen Shot 2021-01-25 at 10 36 01 PM" src="https://user-images.githubusercontent.com/997157/105801137-17746280-5f5e-11eb-9dde-724d016f

[2021-01-26 12:36] phhu opened #101 "DataFrame.add doesn't respect column and row indices"
If I use `DataFrame.add` to add two dataframes together, the order of the rows and columns seems to be used to combine the values, rather than the column and row indices.

E.g. in the below, I think I would expect to see 4 + 20 = 24 for the Col1, r2 sum. Instead the output DataFrame does not have indices, and the sums go by column and row order.

[code]
[code]

[2021-01-26 18:34] risenW commented on #88
I moved the script tag to the body, and it worked locally:
[code]

[2021-01-26 18:38] risenW commented on #88
Also a quick update that we now have two main branches for doing dev work: danfojs-browser and danfojs-node.

[2021-01-27 23:05] cimm commented on #95
I see. I didn't realize I had to call `dt` to convert the column to a date. I taught the `DateFrame` constructor would convert the values to dates internally.

[code]

It works now!

[2021-01-27 23:05] #95 closed

[2021-01-27 23:12] cimm commented on #101
I am new to Danfo (and Pandas for that matter) so not sure if this is related but I have the same when adding JSON.

[code]

[code]

Not row 2 is swapped. Danfo simply takes the order of the column, not knowing it's reading JSON where the position doesn't matter.

[2021-01-27 23:16] cimm opened #102 "Broken links in documentation"
The documentation at https://danfo.jsdata.org is a fantastic help for beginners, if only every JS library would go in to such depth. Still it seems some links still point to https://jsdata.gitbook.io/danfojs which does not/no longer exists.

Take the `Accessor` link on https://danfo.jsdata.org/getting-started#time-series for example. I found some more so a search on "gitbook.io" might help.

[2021-01-27 23:20] cimm commented on #102
Oops, wrong repository. I just found out there is a repository for the documentation as well, should have opened an issue there.

https://github.com/opensource9ja/danfojs-doc

[2021-01-27 23:20] #102 closed

[2021-01-28 00:29] phhu commented on #100
This can be worked around by converting the dates to UNIX timestamps (and so int32 cType)

Something like this works:

[code]

[2021-01-28 17:15] apokralipsa commented on #57
I was looking into it, planning to use a Symbol instead of prefixing the field names to better avoid conflicts.
The issue is that the `index` property is exposed by the `NDframe` class and is documented [here](https://danfo.jsdata.org/api-reference/dataframe/dataframe.index). At the same time accessing columns by name is also documented [here](https://danfo.jsdata.org/getting-started#getting). I d

[2021-01-29 23:24] steveoni commented on #101
@phhu the current implementation for element-wise operation such as `add, min, div` e.t.c assumes that both data frame have same numbers of rows and probably their index is the same, which makes it easier to prevent using for loop and make use of Tensor flow ops

To fix this, we need to check if they contain the same index, if not we don't use the tensorflow ops (if you will like to help fix this)

[2021-01-29 23:33] steveoni commented on #100
@phhu  you might need to convert date columns to DateTime column using `df['date'].dt` and then extract your month, day and the likes see issue #95

[2021-01-30 10:59] risenW commented on #101
Thanks for sharing this, I do think its a separate issue though.

[2021-01-30 10:59] risenW commented on #101
Also, there might be some speed tradeoffs as well

[2021-01-31 07:20] aribambang opened #103 "Feature Request: MinMaxScaler inverse_transform"

[2021-01-31 15:27] mjarmoc opened #104 "ColData Tensor is not updated after manipulation"
Steps to reproduce:
1. Create a new dataframe with 3 columns and 10 rows.
2. Add 1 new column with 10 values.

Expected Result:
col_data_tensor.shape should be `[4,10]`

Actual result:
 col_data_tensor.shape is `[3,10]`

Same applies for dropping columns.

[2021-01-31 21:25] steveoni commented on #104
@mjarmoc thanks for pointing this out, I just scheck this out and also see that `df.shape` after `addColumn` is not outputing the updated shape.

Are you working on this already?

[2021-02-04 01:51] sagoncalves opened #105 "Feature Request: Specify columns to show when using table function"
Hi i think this can be useful for many reasons. Thanks!!

[2021-02-04 19:13] sagoncalves opened #106 "How to make a plot without toolbar"
Hi i want to make a plot without the toolbar or better called mode-bar on plotly.

Im using the next lines of code but it doesn't work and isn't throwing any errors.

`let configObj= {
          displayModeBar: false
        }`

`df['column'].plot("div").hist({config:configObj});`

If anybody knows a way to make this work i'll appreciate it.

Thanks!!

[2021-02-06 17:28] GantMan commented on #88
OK, that works but I have new tickets to file :D

I'd love to be able to lock to a version, though.  That way the code won't be broken by changes to @latest

[2021-02-06 17:50] GantMan opened #107 "Double CSV Load"
Right now the `read_csv` loads twice.

### Code example (using yours looking at latest)
https://codepen.io/risingodegua/pen/bGwPGMG

### The issue
![image](https://user-images.githubusercontent.com/997157/107125768-5618ef80-6871-11eb-9574-15a6ee23e800.png)

This has been happening for a few versions.  When the CSV is hudreds of MB this basically doubles the load time.

[2021-02-06 17:58] GantMan commented on #107
I don't see why it's loading the files twice, is it calling the function twice?

https://github.com/opensource9ja/danfojs/blob/358577496131b3fac8d22db2e9fc664a00bc2d83/danfojs/src/io/reader.js#L21-L40

[2021-02-07 03:56] GantMan opened #108 "Messing with TFJS somehow"
I can't seem to figure this one out.   The version of Danfo that I include makes or breaks TFJS code.

I've created a reproduction of this here: https://github.com/GantMan/danfo-upgrade-issue

The README.md explains everything.

**WARNING:** this demo is from my book and load 700+MB CSV files.   It's kinda slow as hell.  I wish I could have made a smaller reproduction for you, but I figured I'd sh

[2021-02-08 07:03] frozenflow opened #109 "multi_index"

[2021-02-08 07:05] frozenflow opened #110 "MultiIndex support"
multiindex support so that can do set_index(['a',b']) then plot stacked bar or grouped bar plot automatically

[2021-02-08 07:05] #109 closed

[2021-02-08 12:44] sagoncalves opened #111 "plotting value_count of categorical variables as a bar chart not working properly"
Hi when i plot the value_count of a column with catergorical values, like this one that has only 2 values, "increasing" and "decreasing", the result of the plot has both axis as numerical.

<img width="352" alt="Screen Shot 2021-02-08 at 9 41 45 AM" src="https://user-images.githubusercontent.com/63732425/107221285-2f35f700-69f2-11eb-82ff-d521dc21be08.png">

Thanks!

[2021-02-13 23:46] cavillo opened #112 "Error: Cannot find module '@babel/runtime/helpers/interopRequireDefault'"
Following installation steps for node:

[code]

I got the following error:

[code]
---

Tested with:
- danfojs-node "^0.2.0"
- node version `v10.21.0` and npm version `6.14.4`
- node version `v14.15.5` and npm version `6.14.11`
and got the same result.
---

This gets solved by adding the dependency `@babel/runtime`
[code]
---
Is this an additional step for the installation or is it missing in the

[2021-02-14 15:42] risenW commented on #112
@cavillo Thanks for raising this issue. This has been fixed in the latest version 0.2.2. Please install and try it out.

[2021-02-14 17:35] #112 closed

[2021-02-14 17:36] risenW commented on #108
@GantMan The latest version `v0.2.2` now exposes tensorflow, so as to fix this error. Can you install and try it out:

[code]

[2021-02-14 17:44] risenW commented on #107
@GantMan This is really strange to me as well. The code basically uses tfjs.data module to load the file.

I'll investigate with tf.data.csv separately first.

[2021-02-14 18:00] risenW commented on #107
@GantMan Just found out this is coming from the tensorflow csv function.
Tried this:
[code]

and in the network tabs, I got this:

![Screen Shot 2021-02-14 at 6 59 36 PM](https://user-images.githubusercontent.com/29900845/107884712-d20cda80-6ef6-11eb-8388-9c16c72a187a.png)

Possible solution is to load and parse CSV using another library like papaparse.

[2021-02-14 20:08] #108 closed

[2021-02-15 06:24] GantMan commented on #107
I'll go file a ticket with TFJS on this and see if I can fix it.

[2021-02-15 17:00] sagoncalves opened #115 "df.corr() - Undefined function"
<img width="567" alt="Screen Shot 2021-02-15 at 1 59 17 PM" src="https://user-images.githubusercontent.com/63732425/107974902-07b4d080-6f96-11eb-8b29-86ea66dcfa50.png">

[2021-02-15 17:04] sagoncalves opened #116 "df.sample() - error"
this happens with any csv i've fetch

<img width="622" alt="Screen Shot 2021-02-15 at 2 03 26 PM" src="https://user-images.githubusercontent.com/63732425/107975296-aa6d4f00-6f96-11eb-92cf-fd8d580fc33b.png">

[2021-02-15 17:06] #106 closed

[2021-02-15 17:30] risenW commented on #116
@sagoncalves can you share a sample code, and possibly the link to the csv  file.

[2021-02-15 17:31] risenW commented on #115
@sagoncalves we do not have the corr function implemented yet.

[2021-02-15 17:31] risenW commented on #115
It is a work in progress.. see https://github.com/opensource9ja/danfojs/pull/26

[2021-02-15 18:36] sagoncalves commented on #116
@risenW  sure. danfo source: "https://cdn.jsdelivr.net/npm/danfojs@0.2.2/lib/bundle.min.js"

and sample code:
[code]

[2021-02-15 18:36] sagoncalves commented on #115
@risenW thanks!

[2021-02-15 18:36] #115 closed

[2021-02-16 19:11] MGCataldo commented on #50
Hi @leh08
I'm trying to integrate danfojs in a vuejs app and tried your solution, unfortunately without success.

I did install the client package
`npm install danfojs`

and I've imported it in a vue component
`import * as dfd from "danfojs/danfojs/src/index"`
and I wrote a method to test it as follows:
`    loadDFD(){
      dfd.read_csv("https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/

[2021-02-18 19:48] drixie opened #117 "How to create new columns based on existing columns?"
In pandas, you can do something like this:

` df["20sma"] = df["Close"].rolling(window=20).mean()`

How can I use dance to do something similar in which the computed column is added to the same dataframe?

Also, danfo does not give helpful error messages. It just fails quietly whenever it cannot handle any instruction. Is there a "verbose=true" setting anywhere?

[2021-02-20 15:20] wodefey opened #118 "left merge problem"
I am having a problem with left merge if the number of rows in the left table exceeds the number of rows in the right

	const data1 = [
		{year: 2019, color: "red"},
		{year: 2020, color: "blue"},
		{year: 2021, color: "green"}
	]
	let df1 = new dfd.DataFrame(data1)
	log.info(df1.print())

	const data2 = [
		{"year": 2018, "month": 1, "sold": 1},
		{"year": 2019, "month": 7, "sold": 7},
		{"year":

[2021-02-20 18:41] steveoni commented on #118
@wodefey i will look into this

[2021-02-21 12:38] batjko commented on #59
A related topic would be memory requirements.
I'm only minimally familiar with pandas and don't know how they do it, but how are large datasets affecting memory usage? If I have a 10MB json and apply a few transforms on it that return new data frames each time, is any stream processing used that Node is very famous for, for example?

[2021-02-21 12:52] batjko opened #123 "README example for the browser doesn't seem to work"
I've pasted this example from the README into an HTML file and tried opening it in Chrome (latest version):

[code]

What comes out is an empty page, and the following console error:

![image](https://user-images.githubusercontent.com/7287076/108625532-54d7ed00-7443-11eb-836c-a85b672fff6d.png)

It appears that the dfd bundle being pulled in is not able to execute properly.

[2021-02-22 08:23] PascalStehling opened #124 "Failed to compile: Module not found: Can't resolve 'aws-sdk'"
Hi,

I  want to use danfo.js in an React App. I created an React app with `npx create-react-app somename --template typescript` and then installed danfo with `npm install danfojs-node`. When I now try to import danfo.js I allways get the Error

[code]

I tried to update node-pre-gyp to @mapbox/node-pre-gyp, but this didn't helped

When installing the aws-sdk there are alot of Warining, which dont

[2021-02-22 10:48] risenW commented on #123
@batjko This is probably cause by the size... can you do try this instead:

place the script tag in the body of the HTML , so that it is loaded before you try to use it, something like:

[code]

[2021-02-22 10:51] risenW commented on #124
@PascalStehling You can't danfojs-node in react, as it is server side, use [danfojs](https://www.npmjs.com/package/danfojs) instead. You can follow this example https://danfo.jsdata.org/examples/using-danfojs-in-react

[2021-02-22 10:52] risenW commented on #117
To add new columns, you can use the addColumns function. Take a look at the doc here (https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.addcolumn)

Regarding error, we'll definitely work to improve it, as of now, there's no verbose option.

[2021-02-22 10:57] batjko commented on #123
Yup, this works fine for me.
I assume that means the bundle used to be smaller before so it still worked in the header. Must have grown a lot then, I guess.

[2021-02-22 10:57] #123 closed

[2021-02-22 11:07] risenW commented on #116
@sagoncalves Thanks for raising this, there's an issue with the sample function. I'll update it now

[2021-02-22 12:15] PascalStehling commented on #124
Ohh :D thank you for your clearification :D

[2021-02-22 13:06] #124 closed

[2021-02-22 13:46] PascalStehling commented on #73
When I try using React with typsecript and danfojs I allwys get the error "Module not found: Can't resolve 'danfojs/danfojs/types/core/frame'" when trying to import danfojs. When using React with Javascript everything is fine, just with Typescript the Error occures.

I allso tried the Generated files from Nenino2, but an similar error occured.

I just changed my used App.tsx, the rest is the stand

[2021-02-22 16:36] PascalStehling opened #125 "Danfojs not working with React Typescript"
Hi,

When I try using React with typsecript and danfojs I allways get the error "Module not found: Can't resolve 'danfojs/danfojs/types/core/frame'" when trying to import danfojs. When using React with Javascript everything is fine, just with Typescript the Error occures.

I allso tried the Generated files like Descripted in #73, but an similar error occured.

I just changed my used App.tsx, the r

[2021-02-22 16:47] sagoncalves commented on #116
@risenW Thank you! Glad to help :)

[2021-02-23 17:20] drixie opened #126 "Feature Request: Resampling"
This is useful for time series data especially OHLC.

Use case: You have 1 min stock prices, and you want it aggregated to hourly prices before performing additional analysis.

See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html

[2021-02-24 06:59] ninjakx opened #127 "How to assign value at specfiic cell?"
I can access the values at a specifc cell but how to replace them?

`df.loc({ rows: ["0:1"], columns: ["type"] }).data`

**Output:**

[code]

How to change the value white to black?

[2021-02-24 10:54] Gregory-Han opened #128 "Danfojs not working with Vue(v2)"
Hi, Team

When I try using Vue(V2) and danfojs.
I allways get the error
"Module parse failed: Unexpected token (17:9)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
| export { Str } from "./core/strings";
| export { Utils } from "./core/utils";

|
| export const _version = "0.2.2";"

[2021-02-27 12:10] risenW opened #129 "Performance and Memory Optimization"
We can claim used memeory from tensor ops with the tf.tidy function. This should be used in all danfo functions involving tensors:

Ref:  https://js.tensorflow.org/api/latest/#Performance-Memory

Example:
[code]

[2021-02-28 04:28] Gregory-Han commented on #50
Vue2 has same error.

[2021-03-02 08:37] kamaraju10 opened #130 "Replace substring in a column"
I want to write the below code in JS using danfo:

sample data:
![image](https://user-images.githubusercontent.com/27988808/109621048-8bb1af80-7b75-11eb-87b0-cc4f90c39fb2.png)
df['Function'] =  "y=maqsc(right=(_1, _2, _3, _4), mid=0, wrong=[_5], w1=1, w2=0, w3=1)"

rep_chars = 'y=|w1=|_|w2=|w3=|right=|wrong=|mid=|mid =|right =|wrong =|Y='
df['Function'] = df['Function'].str.replace(rep_chars,"")

[2021-03-02 15:31] nicolashedoire opened #131 "Date range not working properly"
## For this exemple, use START DATE and END DATE

START DATE :  2009-11-01
END DATE :  2010-10-01

Date format => YYYY-MM-DD

https://danfo.jsdata.org/api-reference/series/series.dt.day

Code like in documentation :

`let dataDays = new dfd.date_range({"start": startDate, "end":endDate});`
`console.log("### DAYS BETWEEN DATES WITH DANFO DATE RANGE : ", dataDays.length);`

## Code result is bad =>

[2021-03-03 06:00] risenW commented on #131
@nicolashedoire Thanks for raising this, we'll definitely look into it.

[2021-03-03 06:01] risenW commented on #131
@steveoni What do you think?

[2021-03-03 08:16] risenW commented on #130
@kamaraju10 The replace method exposes the JavaScript replace method https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace, as such you should use it exactly how you would use it on a single string.

Regarding your question, is the `rep_chars = 'y=|w1=|_|w2=|w3=|right=|wrong=|mid=|mid =|right =|wrong =|Y='` a Regex expression?

[2021-03-03 09:06] nicolashedoire commented on #131
Yes it's a good idea ! Dates are always a problem in programming ...

[2021-03-03 09:11] nicolashedoire commented on #125
@PascalStehling  you can create a JSX file in your project to use Danfo

[2021-03-03 09:15] kamaraju10 commented on #130
@risenW : Thank you for your reply!
Yes, I want to replace a substring in each and every row of that column. Is there something we can do?

[2021-03-03 09:37] risenW commented on #130
Can you give a clearer example of the input and the expected output you want. I think your Regex expression might be wrong/incomplete:
For instance:

[code]

<img width="690" alt="Screen Shot 2021-03-03 at 10 36 36 AM" src="https://user-images.githubusercontent.com/29900845/109785377-5d32e380-7c0c-11eb-9f20-544db7707adb.png">

[2021-03-03 09:44] PascalStehling commented on #125
@nicolashedoire Thanks, I got around the Problem by using `const dfd:any = require("danfojs/danfojs/src/index")`.

[2021-03-04 05:36] kamaraju10 commented on #130
Hey Thank you for your reply!
As you suggested I looked into the regex, this is the updated:
`rep_chars = /y=|w1=|__|w2=|w3=|right=|wrong=|mid=|mid =|right =|wrong =|Y=/gi`
for series it works fine but I want to do for a column in dataframe,

I have a datafarme and this function is a column of it for example
`df_data = [{
    'ID': 2004,'Function': "y=maqsc(right=(_1, _2, _3, _4), mid=0, wrong=[_5

[2021-03-04 11:08] alexjeanderae opened #133 "Issues in the documentation - proposed fix included."
While "getting my feet wet" and getting to know Danfo js, I noticed already a few steps in the documentation that are not correct. Running the code yields errors or different output than the one expected.  At this stage, I am not comfortable with gitbook.

https://danfo.jsdata.org/getting-started
Sorry no paragraph link on that section. Sorting by values (Defaults to ascending): running the block

[2021-03-06 05:42] reacharound opened #134 "webpack required on browser"
**Describe the bug**
I copied the code from the Getting Started page here (https://danfo.jsdata.org/getting-started) under the '10 minutes to danfo.js' from the Browser section. I got "TypeError: t is null
    o                                https://cdn.jsdelivr.net/npm/danfojs@0.2.2/lib/bundle.min.js:6
    89810                        https://cdn.jsdelivr.net/npm/danfojs@0.2.2/lib/bundle.min.js:

[2021-03-06 10:19] risenW commented on #134
Hi @reacharound Where are you trying to run danfo from? The browser?

If yes, then try the updated version of danfojs (v0.2.3):

Here's an example:
[code]

[2021-03-06 10:33] risenW commented on #133
@alexjeanderae Thanks for spotting this. I'll make the updates now. It is helpful.

Also if you're considering making doc fixes, you can edit the markdown directly [here](https://github.com/opensource9ja/danfojs-doc), and also let me know if you need some help.

[2021-03-06 10:36] risenW commented on #133
I'm looking forward to this tool as well. We'd love to feature it in docs

[2021-03-06 18:59] Equidem commented on #37
@risenW any progress on the fix?

[2021-03-06 21:07] #134 closed

[2021-03-06 21:07] #133 closed

[2021-03-06 21:10] risenW commented on #127
@ninjakx you can use the replace method to change values in a particular cells. Take a look at the docs https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.replace

[2021-03-06 21:11] #125 closed

[2021-03-06 21:11] #117 closed

[2021-03-07 00:15] reacharound commented on #134
This is the exact code I entered, which returned the initially mentioned error.

Yes I was installing on browser, Firefox 86.0

[2021-03-07 03:21] ninjakx commented on #127
But how to assign using particular index and. Col?
This will use a column and match the given value but won't use index

[2021-03-08 04:54] GantMan commented on #107
Hey bud, this issue is definitely with Danfo and not TFJS.

![image](https://user-images.githubusercontent.com/997157/110276046-f7da4c00-7f97-11eb-8761-17e4e668e23c.png)

See proof of concept here:  https://codepen.io/gantman/pen/abBRObO

[2021-03-08 09:20] steveoni commented on #118
@wodefey I couldn't reproduce this error; from my end, the second case seems to work

![Screen Shot 2021-03-08 at 09 19 13](https://user-images.githubusercontent.com/20904032/110300917-6a2a4b00-7fef-11eb-8ebf-93fecfc4d69d.png)

[2021-03-08 09:20] #118 closed

[2021-03-08 09:45] steveoni commented on #131
@nicolashedoire  and @risenW I just check the `date_range` now, the method is working okay, the only bug is that it is generating more than the required range; for the example, instead of it ending at `10/1/2010` it ends at `10/29/2010`.

When the index of `10/1/2010`  is checked it gives the same result as @nicolashedoire which is 335

[2021-03-08 10:34] steveoni commented on #131
@nicolashedoire issue now fixed in #139

[2021-03-08 10:34] #131 closed

[2021-03-08 15:23] risenW commented on #107
@GantMan Adding this line to the tensorflow csv function causes it to load twice:
[code]

This code:
[code]

 currently gives me:

![Screen Shot 2021-03-08 at 4 22 00 PM](https://user-images.githubusercontent.com/29900845/110341288-78498d00-802a-11eb-8759-8a10c7784270.png)

And we are currently calling this function in danfo's read_csv function. I'm currently working on a fix for loading data besi

[2021-03-08 21:28] #100 closed

[2021-03-09 12:33] gtklocker opened #142 "groupby on single column fails"
**Describe the bug**
Running the example code from [this page](https://danfo.jsdata.org/api-reference/groupby/groupby.cumsum) results in an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a minimal html file with these contents:
[code]
2. Open in a browser
3. Open the console log
4. See error:
Uncaught TypeError: Cannot read property 'undefined' of undefined
    at eval (eval a

[2021-03-09 13:37] risenW commented on #142
@gtklocker Thanks for opening this. I was able to reproduce it, I see it throws that row when grouping by a single column.

[2021-03-09 13:55] risenW commented on #130
@kamaraju10 Sorry for the late reply. In such a case, you can do the following:

[code]

<img width="1088" alt="Screen Shot 2021-03-09 at 2 55 05 PM" src="https://user-images.githubusercontent.com/29900845/110481065-74c80b80-80e7-11eb-90c5-7e7c29353ef1.png">

[2021-03-09 13:55] #130 closed

[2021-03-09 13:57] #127 closed

[2021-03-09 14:48] gtklocker commented on #142
fwiw I get a similar but different error with `.sum`, but haven't had time to look into it

[2021-03-09 21:00] risenW commented on #126
@drixie Since this is a feature request, can you give us more details using the feature issue template: https://github.com/opensource9ja/danfojs/issues/new?assignees=&labels=&template=feature_request.md&title=

[2021-03-09 21:02] risenW commented on #128
I'll look into this, but just to confirm, have you tried this: https://danfo.jsdata.org/examples/using-danfojs-in-react

[2021-03-09 21:04] risenW commented on #111
@sagoncalves can you share the code example you used?

[2021-03-09 21:05] risenW commented on #110
@frozenflow more clarification is needed here. please use the feature request template here: https://github.com/opensource9ja/danfojs/issues/new?assignees=&labels=&template=feature_request.md&title=

[2021-03-09 21:11] risenW commented on #105
@sagoncalves Thanks for raising this, can you use the feature request template, so we can better understand this request. To be clear, we need some examples of code and result.

[2021-03-09 21:13] risenW commented on #103
@aribambang Can you give us more details by using the new[ feature request template](https://github.com/opensource9ja/danfojs/issues/new?assignees=&labels=&template=feature_request.md&title=)

[2021-03-10 03:17] sagoncalves commented on #111
@risenW  sure sorry for not reporting it the right way first.

CDN: `https://cdn.jsdelivr.net/npm/danfojs@0.2.2/lib/bundle.min.js`

[code]

[2021-03-10 04:17] ninjakx opened #144 ".describe() doesn't give expected output instead gives nan"
**Expected output (using pandas):**

|       | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g | year        |
|------:|---------------:|--------------:|------------------:|------------:|-------------|
| count |     342.000000 |    342.000000 |        342.000000 |  342.000000 | 344.000000  |
|  mean |      43.921930 |     17.151170 |        200.915205 | 4201.754386 | 2008.029070 |

[2021-03-10 04:59] ninjakx opened #145 "head function is not working properly"
`df.head(10).describe().print() `

![s1](https://user-images.githubusercontent.com/29797787/110578591-2cfac000-818b-11eb-8579-2e0ff2722255.png)
I get only one column.

`df.head(13).describe().print()`
![s2](https://user-images.githubusercontent.com/29797787/110578602-31bf7400-818b-11eb-8b94-e31cc54c86d3.png)
Choosing numbers like 12 and 13 give me this error

`df.head(100).describe().print()`
![s3

[2021-03-10 05:00] ninjakx commented on #145
**Notebook:**

https://observablehq.com/@visnup/hello-danfo-js

[2021-03-10 05:28] ninjakx commented on #144
So pandas `std` uses `ddof` as 1 and is taking care of `nan` values.

[code]

I have to look at `math.js` to fix the cases containing nan values.

[2021-03-10 07:27] risenW commented on #144
@ninjakx Thanks for raising this issue.

* First, you need to update your version of danfojs to the latest (0.2.3).
* Secondly, as of 0.2.0 upward, we already take care of NaN values, by removing them before making calculations.
* Thirdly, where I think we can make updates is the inferring of dtypes. At the moment we use the first 10 values to infer dtype, and if there are missing values in those

[2021-03-10 08:19] risenW commented on #144
Is there a specific reason why NaN types should be set to float instead of strings? I would genuinely love to know, any pointers

[2021-03-10 08:22] risenW commented on #144
Also just to mention, in this fix #147 I updated the code to properly detect dtypes with NaN:

So the following holds:
[code]

[2021-03-10 08:28] ninjakx commented on #144
@risenW : because of some IEEE standard.
In pandas NaN are treated as float because of the same. Don't know about the other language.

[source](https://stackoverflow.com/questions/48558973/why-is-nan-considered-as-a-float)

[2021-03-10 08:29] risenW commented on #144
Thanks for the pointer. Will definitely update this.

[2021-03-10 08:51] ninjakx commented on #144
@risenW : I see some issues with the functions like `reset_index()`. I will raise it.
I love pandas actually so I would like to contribute. I know javascript (basic level) so If there are some bugs left related to pandas functionality, I can try to resolve it during weekends.

[2021-03-10 08:51] #144 closed

[2021-03-10 08:59] ninjakx commented on #145
@risenW : There is some issue with the `head` and `tail` function. That same NaN issue.

If there is any nan in the column, `head/tail` will have col_types values for non null values column `col_types: Array(3) ["string", "string", "int32"]`

[code]

columns are 8, due to having nan col_types is having only 3 elements data type which will create an issue if I do `df.head(5).reset_index()`

[code]

[2021-03-10 09:25] risenW commented on #144
Alright, thanks. Looking forward to it.

[2021-03-12 15:34] gaw89 commented on #128
I have the same issue.  If I change [this line](https://github.com/opensource9ja/danfojs/blob/ae1ede30fac60c6d3c08c8a695bfe85aca45ed31/danfojs-browser/src/index.js#L17) to an import and move it to line 2 then add `export { tf };` on line 18, it appears to work normally.

I am using Vue 2.6.11.

[2021-03-12 18:12] andreaminieri commented on #128
Thanks @gaw89, your workaround works for me as well.

I was experiencing the same issue importing danfo.js into a Nuxt.js application based on Vue v2.6.11.
I installed it with `yarn add danfojs` and imported it in a Component with `import * as dfd from "danfojs/src/index"`

[2021-03-12 19:02] sagoncalves commented on #105
@risenW Thank you.

I think it would be nice to choose wich columns of the dataframe you want to plot as a table.

Example of desired use:
[code]
If the column param is undefined it will work as always.

I thought maybe this is already possible so also tried doing this but it doesnt works:
[code]

If you think it would be usefull or not, i'll be more than honoured to contribute in this project, wi

[2021-03-12 23:21] steveoni commented on #142
@gtklocker now fixed in #150

[2021-03-12 23:21] #142 closed

[2021-03-13 04:12] Gregory-Han commented on #128
Thank you, Andrea.

I am still happen same problems.

Thank you.
Greg Han

안녕하세요.

-----Original Message-----
From: "Andrea ***@***.***>
To: ***@***.***>;
Cc: "Greg ***@***.***>; ***@***.***>;
Sent: 2021-03-13 (토) 03:13:06 (GMT+09:00)
Subject: Re: [opensource9ja/danfojs] Danfojs not working with Vue(v2) (#128)

Thanks @gaw89, your workaround works for me as well.
I was experiencing the same issue

[2021-03-15 11:56] phhu commented on #100
Thanks. From memory, it wasn't particularly convenient to convert the ISO dates to separate year / month /day columns, as the ISO format was easier to handle downstream. The point I was trying to make is that the column should be treated as a string rather than an number (integer), because it is a string (or, at least, I should be able to override the default handling as an integer). ISO date form

[2021-03-16 08:42] risenW opened #151 "Merge function does not throw correct error on more than 2 keys"
**Describe the bug**
Danfojs does not throw correct error when more than one key specified in the merge function

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://playnotebook.jsdata.org/'
2. load danfojs version 0.2.4 using load_packages
3. run the following code:
[code]
4. See error:
<img width="826" alt="Screen Shot 2021-03-16 at 9 34 41 AM" src="https://user-images.githubuse

[2021-03-18 05:55] xareelee commented on #126
For Quant, danfo.js needs more APIs as pandas to manipulate price data, and interop with ta-lib for technical analysis.

`pandas.DataFrame.resample` is just one of them.

Comparing to Python in data science, JavaScript is better for real-time performance, visualization and building an App/WebPage for shipping, but danfo.js needs more APIs for data handling in many other fields.

We'd like to see t

[2021-03-18 08:44] steveoni commented on #126
@xareelee thanks for bringing this to our notice. can you help list some of the most important methods in pandas that are used in Quantitative analysis and add then to the features list

[2021-03-18 15:13] xareelee commented on #126
@steveoni For time series analysis, you'll need at least:

- `rolling` / `expanding` / `ewm`
- `shift`
- `resample`

It's not easy to list "the most important methods". It depends on what's the job.

- You'll need `ohlc` to find the prices in a time frame.
- You'll need good supports with `Date` indexes, and group/resample them.
- You'll need some handy functions like
    - `read_html` and `read_s

[2021-03-27 00:14] AmauryVa opened #157 "Issue Install danfojs-node"
Hi everyone,
I have issue when i install danfojs-node with npm :
[code]

The problem come from tensorflow and i have no idea to solve it.
Thank you

[2021-03-27 07:29] ninjakx commented on #157
does this helps: https://stackoverflow.com/questions/66402003/sysmlink-error-when-installing-tensorflow-tfjs-node?

[2021-03-28 02:32] HenrikPereira commented on #57
Happened the same to me, but my JSON had a key named `data`... After change of this key on source to `data_c`, everything went ok.

[2021-04-03 21:54] risenW commented on #157
@AmauryVa Try installing the latest danfo-node v0.2.6.

[2021-04-04 23:28] dom-devel commented on #128
Was experiencing the same issue with a gatsby application.

Fix provided by gaw89 also worked for me.

[2021-04-05 01:21] Gregory-Han commented on #128
Thank you everyone.

I fixed it by @gaw89 and especially thank you to @gaw89

[2021-04-06 06:01] radekBednarik opened #161 "Please update dependencies to fix Axios security issue"
After installing npm warns of security issue.

`npm audit` reports:

axios  <0.21.1
Severity: high
Server-Side Request Forgery - https://npmjs.com/advisories/1594
fix available via `npm audit fix`
node_modules/axios
  tableschema  <=1.12.3
  Depends on vulnerable versions of axios
  node_modules/tableschema
    frictionless.js  *
    Depends on vulnerable versions of tableschema
    node_modules/f

[2021-04-06 07:27] AmauryVa commented on #157
@ninjakx Thank you for the link. I had to try 2 times to make it work.
@risenW Ok, i will try to install this version.

[2021-04-06 07:27] #157 closed

[2021-04-06 10:33] risenW commented on #161
Thanks for spotting this, I’ll fix it ASAP.

[2021-04-06 10:43] #128 closed

[2021-04-06 12:27] dom-devel opened #162 "Groupby with more than two columns isn't possible"
**Describe the bug**
_I'm a little unsure if this is a bug? Or some sort of un-documented restriction?_

If you try to groupby with 3 columns, it only groups by the first.
If you try to groupby with 2 columns, it only groups by both.

**Version**
- Browser version of danfo.
- danfo - 0.2.5

**To Reproduce**

- Generate a dataframe with 3 text columns and one numeric column.
- Run a groupby - `cons

[2021-04-06 16:50] steveoni commented on #162
that's true, currently it only group by two column

[2021-04-15 14:44] sinayra commented on #157
@AmauryVa How did you manage to solve this? I tried @ninjakx and @risenW suggestions, but I still keep getting the same error.

[2021-04-15 15:26] risenW commented on #157
Did you try installing the latest version?

[2021-04-15 15:27] sinayra commented on #157
Yes, I did.

[2021-04-15 15:31] risenW commented on #157
This is looking like a tensorflow install error. Do you have an existing tfjs-node version installed before? Maybe remove and do a clean installation.

If that doesn't work try installing @tensorflow/tfjs-node": "3.3.0 separately first.

[2021-04-15 15:36] sinayra commented on #157
I tried without installing tfjs-node package, just a pure `npm install danfojs-node`. It didn't worked, so I tried to install the latest tfjs-node and, yes, same thing.
However, I didn't tried the 3.3.0 version, only the 3.4.0. I'll try this one and hope for the best.

[2021-04-15 15:51] sinayra commented on #157
Just for future reference, I've downgraded my node to 12.18.0 version, deleted node_modules, removed the @tensorflow/tfjs-node from dependencies and run once again the `npm install danfojs-node` command. Everything working just fine now.

[2021-04-17 16:51] lordorito opened #165 "Missing isin method of DataFrame"
isin is relevant function to filter the rows values

[2021-04-20 13:32] w-p opened #166 "Feature Request: Implement merge on columns with different names."
**Is your feature request related to a problem? Please describe.**
No problem to report.

**Describe the solution you'd like**
Implement merge / join on arbitrary column names as in [pandas.merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge.html#pandas.merge) via the `left_on` and `right_on` arguments.

**Describe alternatives you've considered**
- Converting data int

[2021-04-20 16:53] jpjagt opened #168 "bug: merge fails when merging on column which contains values containing underscores"
**Describe the bug**
`danfojs-browser/src/core/merge.js` stores sets of values by joining them with an underscore, and later splitting on underscore. however, when the values themselves contain underscores, this becomes problematic, as this split causes nonsensical columns to be defined when indexing the data.

**To Reproduce**
Steps to reproduce the behavior:
1. create two dataframes, both with t

[2021-04-20 16:58] jpjagt commented on #168
i have submitted a PR which fixes this bug for both browser and node: #167

please tell me what you think!

thank you for your awesome work on this package! ❤️

[2021-04-20 17:00] jpjagt commented on #168
by the way, i noticed the following changes in my git status:

[code]

[2021-04-21 04:00] sponsfreixes opened #173 "Are the instructions for contributing correct? (missing babel)"
I am trying to contribute to the project, but before doing my changes I want to confirm that tests are successfully running. I'm running into errors when following https://danfo.jsdata.org/contributing-guide.

On the danfojs root:
[code]

If I manually install `babel-cli` I keep getting other errors, so before going into a rabbit hole I want to confirm if I the Contributing guide is correct and I

[2021-04-21 08:20] risenW commented on #173
@sponsfreixes Give a minute to update it. There are a few changes.

[2021-04-21 08:48] risenW commented on #173
@sponsfreixes I just updated the contributing guide. Let me know if it's easier to follow.
See https://danfo.jsdata.org/contributing-guide#tl-dr for a quick setup guide

[2021-04-21 08:50] risenW commented on #168
Thanks for taking out time to fix this! 😃  I'll certainly review and get this merge ASAP.

[2021-04-21 08:51] risenW commented on #168
Well not really, we committed the lib builds earlier when we were supporting install via Github. We don't do that anymore, so I'll add that to the git ignore file.

[2021-04-21 10:09] risenW opened #175 "iloc should support accessing single values"
If i run the following:
[code]
I should get the correct result not the following error:
[code]

[2021-04-21 10:17] risenW opened #176 "Support return of primitives from loc and iloc"
I should be able to get the primitve value of a single cell. For instance if I have the following:
[code]
should give me:
`Apple`

[2021-04-21 16:32] sponsfreixes commented on #173
Ok, I started from scratch and was able to run `yarn` (berry) on the `danfojs-node` directory, and then `yarn test` ran the tests successfully.

On the `danfojs-browse` directory `yarn-test` is failing though (to clarify, I also ran `yarn` in there and I'm using the latest `master`):
[code]

[2021-04-21 16:50] sponsfreixes commented on #173
I looked at the project's CI and I saw that it is running yarn 1.22.10, not yarn 2.  That was my mistake.

I need to deal now with installing a headless chrome (I'm working on WSL), I'll do that in a few hours and confirm that everything is fine.

[2021-04-21 18:42] spleshakov opened #177 "Can't specify dtype of csv column"
Page https://danfo.jsdata.org/api-reference/input-output/danfo.read_csv says I can specify any option supported by tensorflow (`csvConfigs: other supported Tensorflow csvConfig parameters`)

Their documentation says `csvConfig.columnConfigs[columnHeader].dtype` can be any value of `int32, float32, bool, or string` (https://js.tensorflow.org/api/latest/#data.csv)

However, running the below code do

[2021-04-22 03:37] sponsfreixes commented on #173
All tests successfully passed, thanks! Closing issue.

[2021-04-22 03:37] #173 closed

[2021-04-22 08:43] risenW commented on #177
@spleshakov Have you tried using the astype function: https://danfo.jsdata.org/api-reference/dataframe/dataframe.astype

[2021-04-22 15:29] spleshakov commented on #177
Although, it is not ideal since it is an extra line of code and extra operation, it works for me, thank you.

[2021-04-22 16:12] risenW opened #180 "Filter function that supports both boolean mask and multiple logical operators"
We need a filter function that can accept multiple logical operators and also be able to filter by a boolean mask, just like pandas as shown here. There are numerous use cases of this, and we certainly have to implement it.

See discussion https://github.com/opensource9ja/danfojs/discussions/170 and https://github.com/opensource9ja/danfojs/discussions/179

## Acceptance
* [x] We can filter a DataF

[2021-04-22 16:16] risenW opened #181 "The str accessor does not work on columns selected using the .columns property"
Selecting a column from a dataframe returns a Series, but the `.str` accessor does not work when column has NaN values. For example running the following:
[code]
gives the following error:
[code]

[2021-04-22 23:49] franz101 opened #182 "Another sorting error"
When sorting str date values the order won't change.
For example I had the following index:
[new Date(2020,4,1).toJSON(),new Date(2020,4,3).toJSON(),new Date(2020,4,2).toJSON(),new Date(2020,4,10).toJSON()]

Any idea? I used 0.2.5 (or the latest released version). Cheers. Great project.

[2021-04-23 14:28] td7650 opened #183 "groupby casts string column to int"
**Describe the bug**
Running the example code below results in wrong column type

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached test.html in your browser
2. or group a string column with numerical values like "2021-01" and count another column

[code]

**Expected behavior**
1. column "month" in grouped dataframe should show values like "2021-01", "2021-02", ...
2. instead

[2021-04-23 16:38] Machuntox opened #184 "query operation "not equal""
I would like to select all rows, which dont have specific values in a column. Therefor a query option for not equal "!=" would be very helpful.

thanks in advance.

[2021-04-24 01:16] steveoni commented on #184
this query option already exist

[2021-04-24 01:16] #184 closed

[2021-04-24 02:24] steveoni commented on #182
@franz101 can you give more insight in order to reproduce the same error

[2021-04-25 05:10] tonyabracadabra opened #187 "Mean aggregation with NaN excluded"
I tried doing aggregation on a column with NaN in it and it got me this error, is there a way we can excluding the NaNs when we are doing mean aggregation? Or is there a way we can define our own aggregation functions?

[code]

[2021-04-25 10:15] #183 closed

[2021-04-25 10:17] risenW commented on #187
@tonyabracadabra Can you provide more details, like an example code.

[2021-04-25 10:20] #168 closed

[2021-04-25 10:21] risenW commented on #162
@steveoni Did you fix this in the recent PR, or should we move this to future plans?

[2021-04-25 13:44] risenW opened #188 "Read config value from x variable instead of y"
Change `this_config["y"]` to ` this_config["x"]`
https://github.com/opensource9ja/danfojs/blob/e15aff19a58598d8f3e6da14426b594219418146/danfojs-browser/src/plotting/plot.js#L414

[2021-04-25 13:58] adithyaakrishna commented on #188
@risenW Can I work on this?

[2021-04-25 14:01] risenW commented on #188
Yes please go ahead. Thanks 😊

[2021-04-25 14:18] adithyaakrishna commented on #181
@risenW Ig this can be fixed by using name.sf.str.startsWith(data.Name[1]). Not sure tho, as I'm still learning 😶

[2021-04-25 14:24] adithyaakrishna commented on #77
@risenW Is this specific error in this line? https://github.com/opensource9ja/danfojs/blob/master/danfojs-browser/src/plotting/plot.js#L48

Bc the link in the comment is giving 404 :/

[2021-04-25 14:25] risenW commented on #181
Note really. I think the problem is caused by the fact that the value is not cast to a String type. So therefore calling string functions on it do not work.

Try casting the values to string explicitly first. I'm sure this will be fixed in the [str class. ](https://github.com/opensource9ja/danfojs/blob/master/danfojs-node/src/core/strings.js)

[2021-04-25 14:32] adithyaakrishna commented on #181
Got it, will try that 💯

[2021-04-25 16:03] risenW commented on #77
It’s open for me. And yes, the error is on that line. I forgot to fix this. It’s a simple line change.
Wanna do it?

[2021-04-25 16:04] #188 closed

[2021-04-25 16:06] adithyaakrishna commented on #77
Yesss, Will Do 💯

[2021-04-25 16:27] adithyaakrishna commented on #81
@risenW I would like to work on this 😶

[2021-04-25 18:13] tonyabracadabra opened #191 "Failed to compile issue when loading the module in React"
[code]

After reading this (https://github.com/tensorflow/tfjs/issues/1333), I manually changed the file `src/index.js` from

[code]

to

[code]

It works for me now. Would we consider changing that?

[2021-04-25 19:14] chris-sel opened #192 "Issue on .sort_values"
**Describe the bug**
Getting back the same dataframe when attempting to df.sort_values (when keeping the date&time input as a column) or df.sort_index (when setting it as the index). Examined dataframe comes from uploaded timeseries data .csv file, which is parsed using PapaParse. dateSeries = df[df.column_names[0]].dt works fine.

Date & Time format example: 2019-05-29 13:44:00.000

**To Reproduc

[2021-04-26 13:33] Machuntox commented on #184
ah, I'm sorry. Apparently it isn't written in the docs = https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.query

[2021-04-27 11:14] steveoni commented on #192
@chris-sel if you are trying to parse uploaded file to danfojs can you check this out https://github.com/opensource9ja/Data-aRT/blob/master/src/App.js

If this is not what you want, can you paste a code example to fully replicate this error

[2021-04-27 11:23] steveoni commented on #187
@tonyabracadabra is this mean aggregation on `groupby` data if so you can use `.apply` to create a custom aggregation`

[2021-04-27 11:26] steveoni commented on #162
@risenW not fixed, it will require some refactoring to the groupby class, we can add it to the future plans

[2021-04-27 16:20] sponsfreixes commented on #162
I had a look at it, and I think I can have a patch in a few days.

[2021-04-27 18:13] steveoni commented on #162
@sponsfreixes that will be great.

I plan of refactoring and structuring the groupby operation properly. but time factor.

you can go ahead and add your changes

[2021-04-27 18:41] sponsfreixes commented on #162
I started working on it this last weekend, but forgot to post here 😅. It's a pretty fun refactoring because to support any number of columns you need to use recursion to transverse nested dictionaries as trees. I'll make a PR once I'm done.

[2021-04-27 22:29] steveoni commented on #162
@sponsfreixes That's cool. I will be expecting your PR 👍

[2021-04-28 15:09] JaeWangL opened #193 "[Feature Request] Please support 'read_html' in pandas"
**Is your feature request related to a problem? Please describe.**
No. It is not problem

**Describe the solution you'd like**
using some codes from existing html tabel to json like 'tabletojson'

[2021-04-28 15:31] jtwigg commented on #175
+1 agreed.
I struggled to figure out how to get random access working with this library. I could only perform `values[0]` which is probably very slow to construct an array.

[2021-04-28 15:37] jtwigg opened #194 "Importing danfojs conflicts with existing @tensorflow/tfjs-node"
**Describe the bug**
When importing
[code]
I'm finding that the console is printing out warnings about `is already registered`

[code]

**Desktop (please complete the following information):**
OS: Windows

[code]

[2021-04-29 19:30] spleshakov opened #195 "to_json() output is a string"
1. Code example from https://danfo.jsdata.org/api-reference/dataframe/dataframe.to_json is not working, as there is an extra (fourth) value in "Count" column

2. Taking code example from https://danfo.jsdata.org/api-reference/dataframe/dataframe.to_json, correcting json data and adding `console.log(typeof json)` as follows

[code]
results in this output
[code]
Expected type of retuned value is jso

[2021-04-30 01:15] SathishRaju commented on #47
Hey, any updates on this one?

[2021-04-30 21:35] #77 closed

[2021-05-01 12:56] steveoni commented on #47
@SathishRaju at the moment no update, but it's added to the list of features

[2021-05-02 18:45] sponsfreixes commented on #162
While working on it I think I discovered a bug (or either I'm misunderstanding something). I am getting duplicated rows on the following example:

[code]

I get back:
[code]

Row 0 is duplicated with row 5, row 1 with row 6, etc. Then for the "bar" group, the same happens with 10-13, 11-14, etc. Is that really the expected behavior?

[2021-05-02 19:18] steveoni commented on #162
@sponsfreixes that's true, I've fixed that in edd2e0c34d7002d8a38dd987b20f998bd95572b6 and its already merged. so pull the new update or check the commit and make adjustment to the version you have

[2021-05-04 19:11] #187 closed

[2021-05-05 17:57] kalebpace opened #197 "Support ObservableHQ"
**Is your feature request related to a problem? Please describe.**
Cannot import danfo into an ObservableHQ notebook. I have seen forum posts where people seem to have danfo working in a notebook, but there are no official examples and the methods of importing I have tried do not work.

![image](https://user-images.githubusercontent.com/5586615/117187580-ae448c80-ada1-11eb-8e14-28015ae9ec5a.png)

[2021-05-06 18:15] MashhourAbbas commented on #157
its not working... can tell me again what have you done?

[2021-05-07 07:46] jpkli opened #198 "Incorrect type definition for Dataframe.ctypes"
Docs said Dataframe.ctypes is Series - https://danfo.jsdata.org/api-reference/dataframe/dataframe.dtypes

But type definition is "any []" - https://github.com/opensource9ja/danfojs/blob/master/danfojs-node/types/core/frame.d.ts#L337

It's returning as Series in the source - https://github.com/opensource9ja/danfojs/blob/eb5919d2cac34271fc3b725fa24aa3ad4eacde37/danfojs/src/core/frame.js#L1848

Shoul

[2021-05-11 14:03] schajee opened #200 "Handling NaNs when calculating mean or sum"
**Describe the bug**
When calculating the mean() or sum() of a dataframe, NaNs are not ignored and output contains NaNs.

[Issue #144](https://github.com/opensource9ja/danfojs/issues/144#issuecomment-795016694) says that 0.2.0 onwards this behavior is addressed.

**To Reproduce**
1. `data = [[11, 20, 3], [null, 15, 6], [2, 30, 40], [2, 89, 78]]`
2. `let df = new dfd.DataFrame(data)`
3. `df.mean().

[2021-05-13 11:56] davidxiao commented on #126
any plan for this ?

[2021-05-13 14:37] steveoni commented on #197
@kalebpace sorry for the late reply. Here are some materials that could help:
https://observablehq.com/@visnup/hello-danfo-js
https://heartbeat.fritz.ai/end-to-end-machine-learning-in-javascript-using-danfo-js-and-tensorflow-js-part-1-223223c83935

[2021-05-13 14:37] #197 closed

[2021-05-17 16:17] chomatdam opened #201 "Support macOS Big Sur and Apple Silicon hardware platform"
This issue is to track the progress of the Apple Silicon hardware support.

Tensorflow recently released it with [v2.5.0](https://github.com/tensorflow/tensorflow/releases/tag/v2.5.0).

Tfjs is tracking this hardware support with [this issue](https://github.com/tensorflow/tfjs/issues/4514) and will probably get an update soon.

Danfojs is currently using `"@tensorflow/tfjs-node": "3.3.0"`.

As soo

[2021-05-18 15:33] chrisckc commented on #126
Would be really useful to have this in a JS library.

[2021-05-21 01:39] ravog opened #202 "Fucking dataframe print function not print specific numbers of rows"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-05-21 06:46] #202 closed

[2021-05-22 16:55] callmekatootie opened #203 "Weird slicing behaviour"
**Describe the bug**

The output after slicing does not match the expectation

**To Reproduce**
Steps to reproduce the behavior:

[code]

The above code gives me the output:

![image](https://user-images.githubusercontent.com/2317133/119234562-3d94c280-bb4c-11eb-9d9d-c3ae9859d789.png)

**Expected behavior**

The output that I get has all the columns. Expected was only the Name column to be shown s

[2021-05-24 18:13] steveoni commented on #203
@callmekatootie I will look into it. thanks

[2021-05-29 13:13] vinaysudani opened #206 "Error: File format not supported - when creating dataframe in Node-RED function node"
`const dfd = require("danfojs-node");
json_data = [
    { A: 0.4612, B: 4.28283, C: -1.509, D: -1.1352 },
    { A: 0.5112, B: -0.22863, C: -3.39059, D: 1.1632 },
    { A: 0.6911, B: -0.82863, C: -1.5059, D: 2.1352 },
    { A: 0.4692, B: -1.28863, C: 4.5059, D: 4.1632 },
];
df = new dfd.DataFrame(json_data);
df.print();`

This code snippet produces expected result when running with node.js. when ru

[2021-05-29 13:18] vinaysudani commented on #206
A workaround to the issue is also mentioned on the same thread.
https://discourse.nodered.org/t/error-while-executing-code-with-function-node/46443/7?u=vinaysudani

[2021-05-30 08:19] #206 closed

[2021-05-30 08:47] #203 closed

[2021-05-30 08:47] risenW commented on #203
FIXED: https://github.com/opensource9ja/danfojs/pull/209

[2021-05-30 10:21] risenW commented on #200
@schajee Thanks for raising this issue.

I just realized that I fixed the issue in the Series class only.

In the case of a DataFrame, there are some concerns.
First, we are computing the mean on a DataFrame using Tensorflow.js (tfjs) `.mean` function. This `.mean` function and generally all tfjs arithmetic operations will return NaN if any field is NaN or undefined. This in turn affects the mathe

[2021-05-30 11:24] risenW commented on #206
Thanks for raising this issue and linking a solution.

FIXED: https://github.com/opensource9ja/danfojs/pull/208

[2021-05-30 11:27] #200 closed

[2021-05-30 11:28] risenW commented on #200
FIXED IN https://github.com/opensource9ja/danfojs/pull/210

[2021-05-30 11:33] risenW commented on #198
FIXED in #211

[2021-05-30 11:35] risenW commented on #194
@jtwigg This is not an error. It's just letting you know that a tensorflowjs-node backend already exists (meaning you have it installed already), as such it's not going to use the tensorflowjs-node coming from danfojs-node.

[2021-05-30 11:35] #194 closed

[2021-05-30 11:35] #198 closed

[2021-05-30 11:39] risenW commented on #192
Closing this as it looks stale

[2021-05-30 11:39] #192 closed

[2021-05-30 12:46] risenW commented on #191
Thanks @tonyabracadabra This has been updated in the latest release

[2021-05-30 12:46] #191 closed

[2021-05-30 13:52] risenW commented on #181
FIXED in #213

[2021-05-30 13:53] risenW commented on #176
WONTFIX: This can be easily achieved by subsetting the returned error.

[2021-05-30 13:53] #176 closed

[2021-05-30 13:54] #181 closed

[2021-05-30 14:09] risenW commented on #175
Closing this for now: Can achieve this with the following code:

[code]

[2021-05-30 14:09] #175 closed

[2021-05-30 14:09] risenW commented on #161
Fixed!

[2021-05-30 14:09] #161 closed

[2021-06-01 06:35] vinaysudani commented on #206
Thanks for looking into it and quickly applying it to the source.

[2021-06-01 14:41] govinda18 opened #214 "Plotly table not being plotted"
**Describe the bug**
Table with plotly is not getting plotted.

**To Reproduce**
https://codepen.io/govindatotlaisasd/pen/wvJpYxo

**Expected behavior**
https://danfo.jsdata.org/api-reference/plotting/tables - As suggested in this doc

Plots a plot instead.
![image](https://user-images.githubusercontent.com/25079291/120342408-628bf100-c315-11eb-8b99-973a3e96f0e7.png)

**Desktop (please complete th

[2021-06-01 16:31] risenW commented on #214
Hi @govinda18 You should update your Plotly version:
See: https://codepen.io/govindatotlaisasd/pen/wvJpYxo

[2021-06-01 16:31] #214 closed

[2021-06-01 16:31] risenW commented on #214
Hi @govinda18 You should update your Plotly version:
See: https://codepen.io/govindatotlaisasd/pen/wvJpYxo

[2021-06-01 21:53] halflings opened #215 "Attempted import error: 'read' is not exported from './io/reader'."
**Describe the bug**
Getting this error when import danfojs (in typescript, for a React application):
`import * as dfd from "danfojs/src/index";`

Note that typescript complains about the lack of types as well:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Import danfo: `import * as dfd from "danfojs/src/index";`
2. Try to create a dataframe: `new dfd.DataFrame(data, {columns: column

[2021-06-02 06:13] polvoazul commented on #215
it seems like this commit 2a0614380edc74dc3cbe481f7c5674d182af92dd removed the method but forgot to update the types

[2021-06-02 08:16] risenW commented on #215
@halflings Thanks for the update. I totally missed that.

FIXED in new release [(v0.2.7)](https://www.npmjs.com/package/danfojs)

[2021-06-02 08:16] #215 closed

[2021-06-06 11:22] halflings opened #216 "Could not find a declaration file for module 'danfojs/src/index'. (typescript missing type definition)"
**Describe the bug**
The Typescript type definition is somehow not found when I import the module.

**To Reproduce**
I import danfojs (for web) as suggested in the React example, and I get this error:

Could not find a declaration file for module 'danfojs/src/index'.
'[my src directory]/node_modules/danfojs/src/index.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/danfojs` if it e

[2021-06-06 20:01] Tunjii10 commented on #195
The  source code uses Json_stringify to convert dataframe to JSON and it works. Using typeof on a stringified object returns String data type.
Here is a link for better understanding https://javascript.info/json.

[2021-06-09 12:13] stordopoulos commented on #201
@chomatdam, are there any updates on this issue? I still get a ```Unsupported system: cpu-darwin-arm64``` message.

[2021-06-09 18:27] #195 closed

[2021-06-09 18:29] steveoni commented on #162
@dom-devel you can now group by more than two columns in the new update

[2021-06-09 18:29] #162 closed

[2021-06-10 23:22] levyitay opened #217 "Can't get 2 or more columns out of DataFrame"
When trying to get 2 or more columns out of the DataFrame, only getting the last column

**To Reproduce**
[code]

**Expected behavior**
[code]
should return a,b columns

[2021-06-10 23:39] #217 closed

[2021-06-10 23:42] risenW commented on #151
@steveoni Did you finish this?

[2021-06-10 23:43] risenW commented on #87
@steveoni I believe you fixed this already?

[2021-06-11 13:35] gregory-chatelier opened #220 "Row's named index may conflict with the slice notation"
.iloc() accepts a string slice object with ints, e.g. "1:7"

I came across a case where row indices were like the string : "ANN_T1_1:9,100"

In case of multiple indices there is no problem. Good news ;-)

sub_df = df.loc({rows:['2010', '2011'], columns:['TERM_N1_I', 'TERM_N1_3:1']})
sub_df.print()

╔══════╤═══════════════════╤═══════════════════╗
║                │ TERM_N1_I         │ TERM_N1_3:1

[2021-06-11 15:19] risenW commented on #220
@gregory-chatelier This is a rare edge case because generally when a single column property is passed to the loc function, we generate slices by splitting on `:` character. So in your example (columns:['TERM_N1_3:1']) , the column name contains `:`, and as such the error.

The quickest and best way to solve this will be to rename your column names.

[2021-06-11 15:44] gregory-chatelier commented on #220
This is indeed a very special case, but I rely on external providers for column names.
As a workaround i use integer indices, even if it is less convenient.

What bothers me is the inconsistency of comportment between an array with only one element versus an array of more : this is the source of many potential issues.

Now, try indexing by integers : iloc({columns[10,12]}) works as expected but il

[2021-06-11 19:43] iliyaML opened #221 "Combining Strings for Grouped Columns"
**Is your feature request related to a problem? Please describe.**
May I know if this feature is available in danfojs?

**Describe the solution you'd like**
Is there something similar to this? This is a pandas example. https://colab.research.google.com/drive/1l9R1QTixQCHGOFvTjyT9qOnS8DCngi_4?usp=sharing

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-06-12 13:31] steveoni commented on #87
yeah

[2021-06-12 13:34] steveoni commented on #151
I checked this: the issue is, `C0` specified in `on` list of keys, is not even a column.

[2021-06-13 12:22] callmekatootie opened #222 "StandardScaler needs an inverse transform function"
**Is your feature request related to a problem? Please describe.**

I normalized the data using [StandardScaler](https://danfo.jsdata.org/api-reference/general-functions/danfo.standardscaler). I then trained a tensorflowjs model. I now wish to predict. In order to carry this out, I need to first normalize and then use tensorflowjs's model predict() function - and then get the un-normalized predict

[2021-06-13 12:24] callmekatootie commented on #222
Related https://github.com/opensource9ja/danfojs/issues/103

[2021-06-14 15:38] callmekatootie commented on #222
Related - On the same note, would like to also see the constructor for StandardScaler (or MinMaxScaler) to accept a mean and standard deviation values, that would have been earlier calculated - so that it can be used to transform data again using the same mean and std

[2021-06-14 18:34] pandichef opened #223 "Handling large data"
**Is your feature request related to a problem? Please describe.**
When I load a 4GB CSV file using read_csv, I see this:
File size (4591820193) is greater than possible Buffer: 2147483647 bytes

**Describe the solution you'd like**
Handle larger data sets

[2021-06-16 09:30] pandichef opened #224 "df.plot.table Fails in React"
[code]

line() and box() work great!  But unfortunately, table() just produced an empty chart.

[2021-06-17 09:08] hemasunder opened #225 "RangeError [ERR_FS_FILE_TOO_LARGE]: File size (3809880577) is greater than 2 GB"
When trying to load a csv with 1 million rows (and 3 cols), in chunks using the code given in the documentation

[code]

getting memory error for even a small chunk of 10 rows.

[2021-06-20 09:10] risenW opened #226 "Box plot does not plot columns against index"
When a list of columns is specified to the box plots config, it should plot each column against the index. The doc says it's plotting against the index but there's a slight mistake in the code. See the line below:

https://github.com/opensource9ja/danfojs/blob/ae106c4bbfb60d56af8e6ba89a909a79dac86297/danfojs-browser/src/plotting/plot.js#L659

To fix, modify the following [code](https://github.com/

[2021-06-20 10:00] risenW opened #227 "Train test split utility function"
We should be able to pass a dataset to a function called `train_test_split` and get back splits of training and testing data similar to the sklearn train_test_split function [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).
.

[2021-06-20 10:07] risenW opened #228 "Optimize how internal tensors are created and update and retrieved"
At the moment we generate all internal tensors when a DataFrame/Series is created. This definitely uses more memory and makes tensors harder to track and update. A better solution will be to expose functions on the DataFrame/Series object that dynamically computes these properties.

See related issue #104 #129

[2021-06-20 13:27] hemasunder opened #229 "index based access of elements using .loc on Series"
we have this for DataFrame [here](https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.loc), but missing for Series.

I just can't find a way to access an element at an index

[2021-06-20 13:53] RhnSharma commented on #226
I would like to take this one.

[2021-06-20 16:43] #226 closed

[2021-06-24 09:12] iserranoe opened #233 "Get column values as an array"
**Is your feature request related to a problem? Please describe.**

Given the example in the documentation:
[code]
And the output
[code]
It is useful to obtain the values by rows, but I would like to obtain the values by columns, i.e. to recover the original arrays.

**Describe the solution you'd like**

It'd be great to have something like Pandas: ``df['A'].to_list()`` with output:  ``[-20.1, 30,

[2021-06-24 09:21] risenW commented on #233
@iserranoe You can do the following for column as well:
console.log(df["A"].values)

[2021-06-24 09:21] #233 closed

[2021-06-25 09:25] iserranoe opened #234 "DataFrame.append with column names"
**Is your feature request related to a problem? Please describe.**

Sorry if this feature is implemented, I couldn't find it in the documentation. When I append a row in a dataframe with column names, the new data is not placed below the previous rows:

[code]
columna1   columna2
      1               4
      2               5
      3               6

Options I tried:
`df.append([[3,8]])`
`df.appe

[2021-06-25 09:52] steveoni commented on #234
@iserranoe I think i break this in the latest version. I make some updates to `concat` to work perfectly with `groupby` table indexing, and `append` is using the `concat` method. The test should have caught this though

Sorry for this.

If you need this urgently, you can do well to use the previous version.

[2021-06-25 10:14] iserranoe commented on #234
@steveoni

Thank you very much! That's working perfectly

[2021-06-26 08:26] EteimZ commented on #227
Hi @risenW, I would love to work on this issue.

[2021-06-26 09:36] risenW commented on #227
Cool, I'll assign you. if you have any questions or clarification, just ping me.

Also, this should be implemented in the processing folder here: https://github.com/opensource9ja/danfojs/tree/master/danfojs-node/src/preprocessing

You can also read our contributing guide/set up here: https://danfo.jsdata.org/contributing-guide

[2021-06-26 12:38] EteimZ commented on #227
Okay, Thanks a lot.

[2021-06-27 09:16] risenW commented on #234
@steveoni You may want to open an issue referencing this, so we don't forget to fix it.

[2021-06-28 06:31] mingfang opened #236 "remove require("fs") in the browser version"
https://github.com/opensource9ja/danfojs/blob/88f6fdcb2b8c48428fb39eb7b2f8625cd3df0674/danfojs-browser/src/core/frame.js#L73

This is causing esbuild to fail with the error below
[code]

[2021-06-28 14:45] gregory-chatelier opened #237 "danfo.read with authorization bearer"
danfo.read() should support a config parameter for request headers in order to secure the accesses (passing jwt tokens for ex.)

{ headers: {"Authorization" : `Bearer ${Token}`}

[2021-07-01 17:43] #236 closed

[2021-07-03 12:57] EteimZ commented on #227
Hi @risenW  how can I bundle danfojs-browser version, is it by running:

[code]

[2021-07-03 13:45] risenW commented on #227
Yes

[2021-07-03 14:35] EteimZ commented on #227
Thanks, if I want to run it locally do I place the bundle.js within <script> tags.

[2021-07-03 16:19] risenW commented on #227
Yes 👍

[2021-07-05 11:34] tgc624 commented on #224
@pandichef

This may be due to the version of plotly.

I tried the following sample code from a browser, and the table still did not render.
https://github.com/opensource9ja/danfojs#example-usage-in-the-browser

However, when I changed the version of plotly to the latest version 2.2.0 instead of 1.2.0, the table was rendered.

If you have the same cause, we may want to edit the sample.

[2021-07-07 12:43] Mbensler opened #239 "Dataframe - Can't drop and rename"
**Describe the bug**

I am trying to read a .xlsx file, then drop three columns, and then rename the remaining columns.
If i remove the code for dropping, renaming works just fine, and if i remove the code for renaming, dropping works just fine.
HOWEVER they don't work together!
[code]

Renaming first and dropping second, doesn't work either.

[code]

[code]

**To Reproduce**
Steps to reproduce th

[2021-07-07 19:19] steveoni opened #240 "Calling `fs` in browser mode"
**Describe the bug**
In https://github.com/opensource9ja/danfojs/blob/927af8918b78dea9b3d0cea2c7cfd674c4306493/danfojs-browser/src/core/frame.js#L70 the condition is wrong, leading to the calling of node filesystem in the browser and browser code in node js enviroment

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expec

[2021-07-09 04:52] Wolf020508 opened #241 "any solution ?"
Hi everyone! When I am querying a DataFrame which would return an empty result, danfojs-node throws the following error (as it is implemented in core/frame.js)
`Error: query returned empty data`
but shouldn't it actually return an empty DataFrame like in Pandas?
IMO, throwing an error breaks the chain of execution and it would make it difficult in cases where a decision is dependent on the query t

[2021-07-09 04:53] #241 closed

[2021-07-09 08:48] undefined-ask commented on #180
Are you working on it? I'm interested in this issue

[2021-07-09 12:36] risenW commented on #180
That would be great. Thanks for the offer. At the moment, I'm doing some base refactoring to Typescript- see #235
So I'll ask you to hold on till I'm done, so you can implement this new update there.

[2021-07-16 08:27] nite commented on #9
Any updates on this? Seems like baseline functionality for a pandas implementation!

[2021-07-16 14:23] risenW commented on #9
We will work on this, just not in the roadmap atm. Unless someone decides to pick it up. Would you be interested ?

[2021-07-18 02:11] codeinhere123 commented on #157
hi is there any update on this issue? trying to install danfo but still stuck in the same issue

[2021-07-18 02:52] codeinhere123 commented on #157
i tried to downgrade to 12.18.0 version, deleted node_modeles, removed tensorflow/tfjs-node dependency from package and package.lock file and run again `npm install danfojs-node` command. it still have the same issue. i also tried to install danfo-node v0.2.6 but it still have the issue.

[2021-07-18 08:02] steveoni commented on #157
@codeinhere123 are you using macos ?

[2021-07-18 22:44] nite commented on #9
Point me to the relevant code & I'll take a look!

tbh this is currently a bit of a blocker to me even doing a spike with danfo - but if we do it, then I'd like to know how hard it'd be to implement a pivot.

Here's a gist I wrote to do a pivot on an array of melted objects with lodash: doubt it's this easy!
https://gist.github.com/nite/6ffda3d61278dccfb2152f8565492009

[2021-07-19 08:39] furion4tom opened #244 "errors in groupby.agg in browser mode"
**Describe the bug**
A clear and concise description of what the bug is.
when i use the example in Getting started : groupby.sum with browser mode ,it turns out to be wrong

**Screenshots**
![image](https://user-images.githubusercontent.com/7701597/126129059-3ee9d3e1-38bb-4af4-a892-45df6bb48d07.png)
![image](https://user-images.githubusercontent.com/7701597/126129139-ebf92e9c-11da-4fa6-ba89-4476ef

[2021-07-19 10:57] steveoni commented on #244
@furion4tom try using the current version of Danfo.js

[2021-07-19 11:23] steveoni commented on #239
@Mbensler sorry for the late reply.
I was able to reproduce the error. but from my end, the changes were reflected in the table. I will check what's causing the error.

[2021-07-20 06:35] furion4tom commented on #244
wow,that works! thankyou

[2021-07-20 08:17] furion4tom opened #245 "can't read excel file within danfo.read_excel in browser model"
i use the example of dfd.read_excel but ...
**Screenshots**
![image](https://user-images.githubusercontent.com/7701597/126285612-02f661ff-911c-460f-9832-8a1c07ea3db2.png)
here is the source
**Screenshots**
![image](https://user-images.githubusercontent.com/7701597/126285937-83178db4-6daf-4468-ae12-facb62780ced.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser

[2021-07-20 09:18] OscarEcoTree opened #246 "can't convert excel ton dataframe"
<img width="694" alt="code3" src="https://user-images.githubusercontent.com/86836946/126295639-c998aa31-edba-45d2-aefa-c745667fe5cf.png">

Hello,

I need to  be able to convert an Excel into a dfd.DataFrame. I've been able to read an excel and print it but "df" seems to be a void type and not DataFrame.

If anyone knows how to do so, please let me know !

I also tried to use the already existing "

[2021-07-20 09:49] steveoni commented on #245
@furion4tom I think is cross-origin access restriction

This is the error I obtained before the one you screenshotted:
[code]

[2021-07-20 09:57] steveoni commented on #245
@furion4tom i think I did not get the URL right the first time.

I tried it again and it's working okay.
<img width="1257" alt="Screen Shot 2021-07-20 at 09 56 21" src="https://user-images.githubusercontent.com/20904032/126304039-d4b41f22-2c8a-4b3b-87e7-b7d6917e5bd7.png">

[2021-07-20 10:01] steveoni commented on #246
@OscarEcoTree You are not meant to return `test.head().print()` , it's just like trying to return `console.log()` the return value will be void. The best thing is to return `test.head()`

Btwn When you check your console did you see any output. Also whenever you use `df.head().print()` you don't need to wrap it inside `console.log`

[2021-07-20 10:13] OscarEcoTree commented on #246
Hello, @steveoni, thank you for you answer.
Yes I've got an ouput in the console :

<img width="905" alt="code4" src="https://user-images.githubusercontent.com/86836946/126306699-01181fba-3cca-41df-b171-8cbcce92dbf9.png">

with this code :

<img width="693" alt="code5" src="https://user-images.githubusercontent.com/86836946/126306804-1c647305-7eaf-4789-a3b2-c83e03a8d481.png">

However, df is still

[2021-07-20 10:18] steveoni commented on #239
@Mbensler this now fixed in #247

[2021-07-20 10:18] #239 closed

[2021-07-20 10:22] steveoni commented on #246
@OscarEcoTree  `df.head()` is of type `DataFrame` since you are using `Typescript` we have some Type definition here https://github.com/opensource9ja/danfojs/tree/master/danfojs-browser/types

[2021-07-20 10:23] #244 closed

[2021-07-20 10:34] steveoni opened #249 "df.append with array values not working properly"
**Describe the bug**
Appending an array to a DataFrame not working as axpected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2021-07-20 10:45] #234 closed

[2021-07-20 10:45] #249 closed

[2021-07-20 10:46] #224 closed

[2021-07-20 10:57] steveoni commented on #222
@callmekatootie sorry for the late reply. But if you will like to implement this, I can point out somethings to you:

For `StandardScalar` we have `this.mean` and `this.std`, with this variable we can reconstruct the normalized data back.

This is how the normalized data is generated

[code]

to get the unnormalized data back we can do it like this:

[code]

The same thing applies to MinMaxScalar.

[2021-07-20 11:11] callmekatootie commented on #222
Yep. That's how I did it too. It would be nice-to-have this as a method though...

[2021-07-20 13:48] steveoni commented on #222
@callmekatootie that's true. you can help add your implementation as a method.

[2021-07-21 06:51] licarth opened #251 "`Series.mul(-1)` changes Series column types from `float32` to `int32` on Series with leading zeros"
**Describe the bug**
`Series.mul(-1)` rounds floats to the nearest integer when run on a Series with leading zeros (more than 10).
More generally, Series with more than 10 leading zeros are incorrectly typed (infered column types are wrong).
More annoyingly, even when setting col_types manually, `.mul()` switches back to `int32`.

See tests below.

**To Reproduce**

[code]

**Expected behavior**
-

[2021-07-21 07:26] risenW commented on #251
@licarth Thanks for taking out time to report this, and the test case you provided will really help. This is definitely a bug, and I'll look into it ASAP.

[2021-07-21 07:36] #240 closed

[2021-07-21 07:38] risenW commented on #229
@hemasunder Great request, I'm surprised we didn't add this. I'll fix this.

[2021-07-22 09:51] #182 closed

[2021-07-22 10:09] #166 closed

[2021-07-22 15:40] GantMan commented on #86
I'm glad the sandbox works. I still haven't found free time to come back and add dispose.  It's on the list of things to do :D

[2021-07-24 10:56] halflings commented on #216
Any update on this? I just tried importing danfo again and still getting the same error about a missing type declaration, even if I see it here in the repo.

[2021-07-24 16:00] steveoni commented on #221
@iliyaML sorry for the late reply.
This is possible in Danfojs initially, but with previous `.apply` the value of `x` in your callback function `f(x)` will be a Series value, hence its not possible to access the columns as you specify.

But now the`.apply` is now updated to pass in DataFrame instead of array of Series.

So the above code can be implemented as follow:
[code]

[2021-07-24 16:00] #221 closed

[2021-07-24 16:05] steveoni commented on #201
@chomatdam can you show the full error response you recieved.

[2021-07-24 17:01] steveoni commented on #9
@nite i don't think it will be that hard to implement, to implement `pivot_table` i think we need to implement how to access and display `multi-index` table.

But however, we can  get started without the above

But with my little knowledge of pivot table, to create the main functionality for `pivot_table` without including some more complicated functionality as included in `pandas`

The main funct

[2021-07-25 01:21] JhennerTigreros commented on #8
Its been a while since I can work on this. @steveoni or @risenW Any update for this implementation?. Now I can return to tackle this issue 💪🏽

[2021-07-25 08:20] risenW commented on #8
It's still the same process, the only difference is that you'll add this in the places- danfojs-node and danfojs-browser.

[2021-07-25 08:28] risenW commented on #9
Also to add @nite You would implement this in the DataFrame class [here](https://github.com/opensource9ja/danfojs/blob/master/danfojs-browser/src/core/frame.js). Your output is going to be a DataFrame, so something of this signature:

[code]

[2021-07-25 08:33] risenW commented on #216
@halflings We are currently converting the entire code base to using Typescript. See progress in the PR https://github.com/opensource9ja/danfojs/pull/235 So give us some time to fix this.

[2021-07-25 23:25] jazztronomers opened #254 "sort_values not working properly when "by" value is set to array"
version i used: danfojs@0.2.7

WHAT I TRIED
------------------------------------------------------------------------------------------------------------------
json_data = [{ YY: 09, MM: 01, C: 1,  D: 'A' },
             { YY: 09, MM: 02, C: 2,  D: 'B' },
             { YY: 10, MM: 01, C: 3,  D: 'C' },
             { YY: 10, MM: 12, C: 4,  D: 'D' },
             { YY: 10, MM: 01, C: 5,  D: 'E' },

[2021-07-26 15:12] hellopaidco opened #255 "tfjs-node module exceed max serverless function size, 312 MB uncompressed / 74.1 MB compressed size"
Using danfojs-node in a NextJS project which I'm trying to deploy via Vercel.

I'm importing dfd via `const dfd = require('danfojs-node');`

Unable to deploy build as the node_modules/@tensorflow/tfjs-node exceeds the max serverless function size of 50 MB compressed or 250 MB uncompressed. Everything works fine in dev.

Is there a way to reduce the module size / workaround to this issue?

<img wid

[2021-07-29 05:28] #165 closed

[2021-07-29 05:28] #129 closed

[2021-07-29 05:28] #110 closed

[2021-07-29 05:28] #107 closed

[2021-07-29 05:28] #104 closed

[2021-07-29 05:28] #89 closed

[2021-07-29 05:28] #84 closed

[2021-07-29 05:28] #82 closed

[2021-07-29 05:28] #81 closed

[2021-07-29 05:28] #61 closed

[2021-07-29 05:28] #59 closed

[2021-07-29 05:28] #56 closed

[2021-07-29 05:28] #52 closed

[2021-07-29 05:28] #51 closed

[2021-07-29 05:28] #50 closed

[2021-07-29 05:28] #41 closed

[2021-07-29 05:28] #18 closed

[2021-07-29 10:25] risenW commented on #103
Possible Duplicate : See #222

[2021-07-29 10:30] risenW commented on #37
D

[2021-07-31 22:24] nite commented on #59
I'm just doing a spike with danfo, and came across this post.

I might be missing something, but I have this spike:
https://codesandbox.io/s/danfojs-sandbox-ivyzk

A simple groupBy with lodash takes 53ms, and with danfo 42s.
What am I missing?

[code]

[2021-08-01 18:30] #255 closed

[2021-08-01 18:32] #246 closed

[2021-08-01 18:33] risenW commented on #228
In progress at #235

[2021-08-01 18:34] risenW commented on #225
@hemasunder I'll look into this, and fix working with big files in the new version. Track progress at #235

[2021-08-01 18:35] risenW commented on #223
I plan to work on these issue in the new version we are working on here #235

[2021-08-03 07:42] jasonwu513 opened #257 "filter with Multiple conditions request"
**Is your feature request related to a problem? Please describe.**

Try to use query method with multiple condition, but fail. only support for single condition filter.

[code]

**Describe the solution you'd like**
Like pandas solution df.loc[(df['Salary_in_1000']>=100) & (df['Age']< 60) & (df['FT_Team'].str.startswith('S')),['Name','FT_Team']]

is there alternative method for filter with Multiple

[2021-08-03 08:37] furion4tom commented on #245
thanks

[2021-08-03 09:26] isaacbizteg opened #258 "danfojs-node return wrong data rows"
I have an excel file `.xlsx` (refer **Image 1**) and refer **Image 2** for my source code in reactjs/typescript/electron js. It outputs the wrong results (refer **Image 3**).

Anyone have idea what's wrong? Thanks in advance

**Image 1**

[![enter image description here][1]][1]

**Image 2**

    const dfd = require("danfojs-node")

    dfd.read_excel(inputfile)
        .then((df) => {

[2021-08-03 09:55] #245 closed

[2021-08-03 09:56] #258 closed

[2021-08-03 19:23] spleshakov opened #260 "read_excel is missing the first row of data"
`zip_code_file.xlsx`
[code]
code
[code]
output
[code]
Issue
The first data record is missing

Additionally, I tried to explicitly specify 1st row like so
[code]
But got the same result like if the config was ignored

[2021-08-04 14:37] spleshakov commented on #260
Apparently, the [documentation](https://danfo.jsdata.org/api-reference/input-output/danfo.read_excel) is wrong, there are no
`header_index` `data_index` properties in the code. Using this as a config instead, fixes the issue
[code]

[2021-08-04 14:45] GabrieleLabanca opened #261 "Example for querying text column not working"
**Describe the bug**
I am using Danfo in Observablehq.com.
Running the example at https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.query#query-by-a-string-column-in-a-dataframe, it fails with the error "ReferenceError: Ng is not defined".

**To Reproduce**
In an Observable cell, run the following
[code]

**Expected behavior**
No error, result as in example.

**Desktop:**
 - Browser

[2021-08-05 16:01] db1981 opened #265 "Weird behavior of iloc function"
Hello everyone,
I'm experiencing what I believe is a bug, but since I'm a Javascript newbie, it could be me...

I'm trying to pull out row by row from a dataframe, after having populated it from a CSV:

[code]
This is returning a weird error:

[code]

The "column" that does not exist is indeed the following function, declared a few lines above:

[code]

Does anybody know why the memory seems to be

[2021-08-06 05:28] #193 closed

[2021-08-06 05:28] #111 closed

[2021-08-06 05:28] #105 closed

[2021-08-06 05:28] #103 closed

[2021-08-06 05:28] #101 closed

[2021-08-06 05:28] #91 closed

[2021-08-06 05:28] #65 closed

[2021-08-06 05:28] #57 closed

[2021-08-06 05:28] #55 closed

[2021-08-06 05:28] #37 closed

[2021-08-15 14:08] pguso opened #267 "Function to_datetime cannot handle some formats"
**Describe the bug**
If the date string contains one of the following symbols / . _ : or %y the function to_datetime throws an error "Invalid date, the date format not recognise"

**To Reproduce**
The following code throws the mentioned error.

[code]

**Expected behavior**
A TimeSeries object that can be used for further analysis.

**Desktop (please complete the following information):**
 - OS: M

[2021-08-19 05:27] #220 closed

[2021-08-19 05:27] #151 closed

[2021-08-19 05:27] #87 closed

[2021-08-25 12:35] risenW commented on #267
Noted, currently working on a fix

[2021-08-27 12:25] Mbensler opened #268 "Replacing only works when printing"
**Describe the bug**
A clear and concise description of what the bug is.

When trying to replace data from an Excel file and outputting it to a CSV file nothing happens. It does however work when printing.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

I expect it to replace the word with the new wor

[2021-08-28 07:31] iliyaML commented on #221
@steveoni , thanks for sharing this. However, I tried the code your shared on danfojs version 0.2.7 but it's not working.

Below is a snapshot of the error I'm getting.

![image](https://user-images.githubusercontent.com/19851002/131210274-50257d88-7657-4e99-9d49-82b42051a385.png)
![image](https://user-images.githubusercontent.com/19851002/131210289-90739759-ed79-4b1a-9865-28dad2a40dc8.png)

Was t

[2021-08-28 08:36] steveoni commented on #221
@iliyaML I don't think the pr that fixes this has being added to the new development.

For now you can copy the changes from this pr and add it to your codebase or clone and build from your end.

@risenW

[2021-08-29 08:20] #268 closed

[2021-08-31 06:17] risenW commented on #37
This has been fixed in the latest conversion to TS. See #235

[2021-09-02 14:29] GabrieleLabanca commented on #261
Changing the import section to
[code]
instead of the older one below
[code]
solved it. Thanks!

[2021-09-02 14:29] #261 closed

[2021-09-03 05:08] DonJayamanne opened #270 "Provide an API that would allow 3rd party libraries to intercept `<dataframe>print()`` in order to generate Html output"
First, thanks a lot for this awesome package. I dabble a little in python and use pandas, and this library just makes me feel at home when using tensorflow.js in node. Awesome.

**Is your feature request related to a problem?**

I've built an extension for VS Code that provides rich HTML output when using danfo.js in node.js. Also supports danfo.js plots in node.js.
See here https://github.com/Don

[2021-09-03 13:21] risenW commented on #270
@DonJayamanne Awesome work with typescript-notebook. I started trying it out, but could not get it to work on my vscode though. I'll raise an issue with explanations in the repo.

Regarding getting DataFrames/Series as Html output, it's currently part of the work we are doing here #235 (toHtml), so if it's something you would like to work on, please let me know, so I can provide more explanation.

[2021-09-03 14:14] DonJayamanne commented on #270
Oh no, please do let me know in that repo.

Sure thing, I can work on that.

Actually, I'd like the user to use the same code, just use `print` and based on the environment it will use `HTML` or `console` output. I.e. if user is in node.repl, then it will use `console.log`, in `browser` we can use `console.log` or `console.table` and in danfonotebooks we the `html` fucntion can internally make use

[2021-09-03 14:58] risenW commented on #270
In that case, [this](https://github.com/opensource9ja/danfojs/blob/5d0647e450c138981bd8ad49a6a98b9ef682f721/danfojs-browser/src/core/generic.ts#L367) is the print function you have to update. The current print function uses the extended toString method of the class. If you look at the Series and DataFrame class, we extended the toString property [here](https://github.com/opensource9ja/danfojs/blob

[2021-09-03 15:09] DonJayamanne commented on #270
Perfect. was hoping for something like this (users keep using `print)`.
Will work on a PR. however I noticed you have some major refactoring going on for typescript.
What branch should I base my work off?

One way to do this is via some global variable or the like. Or for danfonotebook to call some method in the danfo module.
`require('danfo...').setxxxx(yyy)`
To be clear my extension doesn't supp

[2021-09-03 15:43] risenW commented on #270
Will work on a PR. however I noticed you have some major refactoring going on for typescript.
What branch should I base my work off?

Since conversion is almost done, you can branch off from danfo/typescript for now. Although we are still missing a missing some functions for DataFrame, Series is ready, so you can test.

require('danfo...').setxxxx(yyy)
To be clear my extension doesn't support danf

[2021-09-03 15:50] risenW commented on #267
Fixed in #235

[2021-09-03 15:50] #267 closed

[2021-09-03 15:50] risenW commented on #229
Fixed in #235

[2021-09-03 15:50] #229 closed

[2021-09-03 15:51] risenW commented on #222
@steveoni will yu work on this?

[2021-09-03 15:53] risenW commented on #257
@jasonwu513 This is not supported yet, but I will add it in the new version. You can track progress here https://github.com/opensource9ja/danfojs/pull/235

[2021-09-03 15:59] risenW commented on #180
Fixed in #235

[2021-09-03 15:59] #180 closed

[2021-09-04 14:19] callmekatootie commented on #222
@risenW @steveoni I can work on it. I have a question though - Should I run the build after I carry out the changes, or is that happening automatically, say through a github action or something else? I see that the dist folder is part of the commit so unsure if I need to do that prior to submitting the PR or it happens automatically post merge...

[2021-09-04 14:24] callmekatootie commented on #222
Also,

- which nodejs version should I verify my changes with, for both the browser and node versions of the package
- shouldn't I commit the `package-lock.json` - I don't see it right now but I _think_ we should?

[2021-09-04 16:00] risenW commented on #222
Awesome!

Yes, you can run a build to test locally, pushing the build/dist folder to Github is not required. we have configured a bunch of script in package.json for you to do that already. Also, you can add some tests in the corresponding test folder here.

Also, see the contributing guide [here](https://danfo.jsdata.org/contributing-guide), it will help you get started. If you need any informati

[2021-09-04 16:01] risenW commented on #222
Our [contribution guide](https://danfo.jsdata.org/contributing-guide) explains this better. We have two separate folders for the Node and Browser version.

[2021-09-04 17:15] callmekatootie commented on #222
PR ready for review - https://github.com/opensource9ja/danfojs/pull/271

[2021-09-06 20:06] PBird opened #272 "print function doesn't work after concatenate dataframes"
**Describe the bug**
After concatenate dataframes and then if you try to print one of dataframes that concatenated it gives error.

**To Reproduce**
Steps to reproduce the behavior:

i took this simple example from documentation

[code]

**Expected behavior**
print dataframe

**Screenshots**
![image](https://user-images.githubusercontent.com/9611415/132257457-19713f3f-ddc1-4473-942d-9afa013d701c.p

[2021-09-07 03:58] DonJayamanne commented on #270
Thanks, FYI - I'll be using somethink like this
[code]

[code]

[2021-09-07 13:09] jbrathwa opened #273 "Provide configuration options for to_csv method"
**Is your feature request related to a problem? Please describe.**
As of now `DataFrame.to_csv()` method returns comma-separated values. But, the issue is data becomes corrupted when the value itself contains a comma.
**Describe the solution you'd like**
We can provide value separator config , Like in pandas  `df.to_csv(path, sep=',')`.

There are other options as well which are very helpful like

[2021-09-07 13:44] risenW commented on #273
Great request, I’ll add this feature to the new build.

[2021-09-07 13:46] risenW commented on #272
@PBird Thanks for raising this issue. The problem has been fixed in the new conversion going on here #235 (internal column data update). So this fix will come with the latest update in a couple of weeks.

[2021-09-07 23:46] PBird opened #274 "get_dummies function is not working properly"
**Describe the bug**
get_dummies works wrong when you give column parameter that is not first column name. For example, if you give columns parameter fruits it is going work fine but if you give Color or other ones this time it is going fail.

**To Reproduce**
[code]

**Expected behavior**
get_dummies encode given columns properly

**Screenshots**
![image](https://user-images.githubusercontent.com

[2021-09-08 04:35] jbrathwa commented on #273
Thanks, @risenW

If possible, I would like to work on this issue.

[2021-09-08 08:11] risenW commented on #273
Awesome! You can read our contribution guide [here](https://danfo.jsdata.org/contributing-guide), and let me know if you need any help.

[2021-09-08 09:18] Riki96 opened #275 "data_range not working"
**Describe the bug**
I tried using the function data_range as written in the examples on the main page, but it outputs the following error:
Uncaught Error: Kernel 'LinSpace' not registered for backend 'undefined'

**To Reproduce**
Steps to reproduce the behavior:
let data = new dfd.date_range({start:'2021-01-01', freq:'M', period:3});
console.log(data);

**Expected behavior**
Create a variable ran

[2021-09-08 23:02] bernarma opened #277 "File format not supported: danfojs-node"
**Describe the bug**
Attempting to drop na's from a Series where first value is null and a "File format not supported message" returned.

**To Reproduce**
Run the following code:

new dfd.Series([null, 100, null, 200], { index: [0, 1, 2, 3] })
            .dropna()
            .print();

Node JS: v12.22.1

**Expected behavior**
Standard Print() without the 2 null entries.

**Additional context**
E

[2021-09-09 00:10] steveoni commented on #274
@PBird i will look into this. thanks

[2021-09-09 00:13] steveoni commented on #275
@Riki96 this is working as expected. please use the latest version

<img width="772" alt="Screen Shot 2021-09-09 at 00 12 33" src="https://user-images.githubusercontent.com/20904032/132601885-13f742a4-54db-4ca9-b02e-f9fd64d4372a.png">

[2021-09-09 17:54] maycheongs opened #278 "Source data has "data" as a column header"
Dataframe methods don't work if the datasource has dfd methods as a header eg "data" -- because the methods are using the column getter now instead of the dataframe data to do its operations.

As a result I cannot use this library  because the user MAYBE has a dataset with "data" as a column name.
The dataframe eventually needs to be converted back to a csv with its original column names which als

[2021-09-10 17:59] javierluraschi opened #279 "Support for Danfo.js in Arquero.js as a backend?"
Related to https://twitter.com/risingodegua/status/1436387929371389957 and https://news.hal9.ai/posts/data-science-with-javascript

Basically, we found out [Arquero.js](https://github.com/uwdata/arquero) is pretty great at doing transformations and working against a database; however, it does not play well with TF.js but it does support backends... so it should be possible to build a Danfo.js back

[2021-09-10 18:48] risenW commented on #279
Thanks @javierluraschi I’ll go through Arquery over this weekend. By then I would have enough background to contribute to this discussion.

cc @steveoni

[2021-09-11 08:09] steveoni commented on #279
nice one @risenW  @javierluraschi  I will also look into this.

[2021-09-12 11:40] #275 closed

[2021-09-12 12:12] steveoni commented on #274
@PBird
Here is the fix for this issue;
https://github.com/opensource9ja/danfojs/blob/7f369320e52bf2eff8556c30dfd9848884893799/danfojs-node/src/core/get_dummies.js#L80

the wrong column was accessed

this meant to be

[code]

a pr will be created to change this

[2021-09-21 13:54] kbzowski opened #282 "to_csv does not support DataFrame indexes"
Indexes in DataFrame are not saved when exporting to csv using to_csv.

`  const df = new DataFrame(input, { index: ['A', 'B', 'C'] } );
  df.to_csv(filename);`

[2021-09-21 19:43] pguso opened #283 "Replace index with mapped values"
**Describe the bug**
Replace index with mapped values

**To Reproduce**
[code]

**Expected behavior**
Pokemon Card names indexes replaced with sub string index.

**Additional context**
I try to make this tutorial https://www.kaggle.com/ash316/learn-pandas-with-pokemons with danfo

[2021-09-21 19:54] pguso commented on #283
Also it seems that I don't get the right shape after changing the DataFrame

[code]

The console.log shows the initial 13 columns but, I set one column as index and dropped another one, so it should be 11.

[2021-09-21 20:19] pguso commented on #283
iloc doesn't seem to work after changing the index to none numeric values.

[code]

Shows error:
_UnhandledPromiseRejection: Error: column index 12 is bigger than 11_

[2021-09-22 09:59] pguso opened #284 "Count on DataFrame does not return correct value"
**Describe the bug**
Count on DataFrame does not return the correct value if the string contains special characters in CSV file.

**To Reproduce**
Steps to reproduce the behavior:
1. CSV File content:
[code]
2. Load CSV & run count on DataFrame
[code]

**Expected behavior**
Count for column dteday shows 10

**Current behavior**
Count for column dteday shows 1

[2021-09-26 13:27] risenW commented on #278
@maycheongs Fixed in the latest version v0.3.0

[2021-09-26 13:27] #278 closed

[2021-09-26 13:30] risenW commented on #277
Fixed in latest version v0.3.0

[2021-09-26 13:30] #277 closed

[2021-09-26 13:30] #274 closed

[2021-09-26 13:33] risenW commented on #273
Fixed in latest version v0.3.0

[2021-09-26 13:33] #273 closed

[2021-09-26 13:33] risenW commented on #272
Fixed in latest version v0.3.0

[2021-09-26 13:33] #272 closed

[2021-09-26 13:34] #260 closed

[2021-09-26 13:34] risenW commented on #257
Added in latest version v0.3.0

[2021-09-26 13:34] #257 closed

[2021-09-26 13:35] risenW commented on #254
@jazztronomers You can only sort by a single column atm.

[2021-09-26 13:35] #254 closed

[2021-09-26 13:37] risenW commented on #237
Added in latest version v0.3.0

[2021-09-26 13:37] #237 closed

[2021-09-26 13:38] #225 closed

[2021-09-26 13:38] #222 closed

[2021-09-26 13:39] #86 closed

[2021-09-26 14:09] #279 closed

[2021-10-02 20:01] NikelausM opened #292 "Applying JavaScript function to DataFrame not working"
**Describe the bug**
TypeError thrown when using example code of the [apply functionality found in the documentation](https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.apply#apply-a-javascript-function-to-all-elements-in-dataframe).

**To Reproduce**
Steps to reproduce the behavior:
1. Create test.js
2. Copy and paste the following code:
[code]
3. Run:
```node test.js```
4. See foll

[2021-10-03 00:30] risenW commented on #292
Hi, doc is a bit outdated for the apply method. I’ll ensure to update it. In the meantime, here’s a recent example of using apply:

[2021-10-03 16:48] #292 closed

[2021-10-03 16:51] risenW commented on #216
@halflings I recently pushed a new release and updated the types. This should be fixed now. Do test and let me know. I’m closing this issue in the meantime

[2021-10-03 16:51] #216 closed

[2021-10-03 16:53] risenW commented on #227
@EteimZ Let’s move this feature to the new scikit.js lib we are building. See link here: https://github.com/opensource9ja/scikit.js

[2021-10-07 10:21] Mbensler opened #293 ""callable is not a function""
**Describe the bug**

I am reading a CSV file which works just fine. Then i am dropping and renaming some of my columns (which also works just fine).
When i try to call a function on my dataframe i get an error. I've even tried the exact examples of how to use apply on your website and i get the exact same error.

[code]

**ERROR MESSAGE:**
[code]

[2021-10-10 20:40] risenW commented on #283
Change `key` parameter to `column` in set_index:
`df.set_index({column: "Name", inplace: true})`

[2021-10-10 20:41] #283 closed

[2021-10-10 20:53] risenW commented on #251
@licarth This bug on `mul` function has now been fixed in the latest version (v0.3.3)

Note: You can set type on creation by doing the following:
[code]

[2021-10-10 20:53] #251 closed

[2021-10-11 15:11] mebibou opened #294 "Typing issue with void functions"
**Describe the bug**

When using typescript and operation like `drop`, it cannot be chained directly to another operation or the compiler will throw an error like `Property 'to_csv' does not exist on type 'void | DataFrame'.\n  Property 'to_csv' does not exist on type 'void'.`

**To Reproduce**

[code]

**Expected behavior**

It should return `void` only when using `inplace: true`. Currently it as

[2021-10-11 15:16] risenW commented on #294
@mebibou Have you tried this:

`df.drop({ columns, inplace: false })?.to_csv(); `

[2021-10-14 13:33] undavide opened #295 "Renaming a column prevents from getting it later"
**Describe the bug**
If I rename a column it's then impossible to get it

**To Reproduce**

[code]
The column is now inaccessible, I can't reference it via `"new_name"`, nor the old `"A"`

**Expected behavior**
`df["new_name"]` should return the same column the old name provided

**Desktop (please complete the following information):**
 - OS: macOS 10.15.7
 - Node.js: v16.11.1
- Danfo: 0.3.2

Than

[2021-10-14 13:46] risenW opened #296 "All IO functions should support DataFrame configuration options"
When reading a file into DataFrame, we should be able to pass in a DataFrame configuration option just like we do when creating a new DataFrame.

For example, the following should be possible:

[code]

[2021-10-14 13:50] risenW opened #297 "Add plotting module back to Nodejs version"
In order to support interactive plotting in the Nodejs Jupyter notebook, we need to add the plotting module and its types back to the danfojs-node lib. See discussion [here](https://github.com/DonJayamanne/typescript-notebook/issues/41).

[2021-10-15 02:42] tbui-isgn opened #298 "DataFrame.sort_values() should support sorting by multiple columns"
**Background of this feature request**
Currently, according to [Danfo documentation](https://danfo.jsdata.org/api-reference/dataframe/dataframe.sort_values):

Going by the documentation, I understand the 2 use cases supported being sorting using values in a single column (specified by a single column name) or a kind of manual sort where you have to compute an index array yourself (or even manual i

[2021-10-15 07:24] akshay9 opened #299 "Inconsistent Data while creating Dataframe from array of array"
**Describe the bug**
Creating a new dataframe using 2D Tensor in danfojs-browser does not correctly map the object keys and column names

**To Reproduce**
Steps to reproduce the behavior:
Execute the following Code:
[code]
Output
╔════════════╤═══════════════════╤═══════════════════╤═══════════════════╗
║            │ A                 │ B                 │ C                 ║
╟────────────┼──────

[2021-10-15 07:49] risenW commented on #299
Hi @akshay9 The format of your input data is not correct. If using an array of objects, then each entry corresponding to a row, and they must be in the same order.

This is the format we expect:

[code]

[2021-10-17 18:56] #299 closed

[2021-10-21 13:19] jordantoaster opened #301 "Error: package.json does not exist - Danfojs-node does not work with webpack based bundlers."
**Describe the bug**
I am currently using DanfoJS in a Node JS project, my aim is to deploy the solution to an AWS Lambda. Danfo JS introduces a handful of issues that stops this from being possible:

- The DanfoJS Library cannot be minified with any Webpack compatible optimisers (in my case I am using the serverless plugin "serverless-plugin-optimize").

Questions:

- Is there a way to enable the

[2021-10-21 13:49] risenW commented on #301
@jordantoaster You cannot build Danfojs-node with webpaxk, because most of the libs used in Danfojs-node version only works in Nodejs environment.

You should consider using the Danfojs browser based version of you need to bundle with webpaxk. See : https://www.npmjs.com/package/danfojs

[2021-10-21 13:51] jordantoaster commented on #301
Thanks @risenW, I should have clarified I do not mean web packs in the traditional usage of the term. I am referring to web packs particularly for node for deploying to node run times, example of one below:

https://www.npmjs.com/package/serverless-webpack

[2021-10-24 21:33] sanchaz opened #302 "DataFrame.query() resets the column names."
**Describe the bug**
DataFrame.query() by string resets the columns to 0, 1, 2, ...
https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.query#query-by-a-string-column-in-a-dataframe
According to the docs the columns should remain there.

**To Reproduce**
https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.query#query-by-a-string-column-in-a-dataframe
Copy the example post

[2021-10-24 23:18] kohehir opened #305 "Unexpected Read Behavior on list of JSON"
**Describe the bug**
When creating a DataFrame from a list of JSON objects with key value pair data, the DataFrame ignores keys and populates the DataFrame using the order of the values passed. Below is a toy example of this behavior.

**To Reproduce**

[code]

This generates the below table.

![image](https://user-images.githubusercontent.com/7588231/138616856-a7a89be0-1c37-441a-bef5-66030372a342

[2021-10-27 08:15] zxqian1991 opened #306 "Spelling mistakes"
**Describe the bug**
The word  “length” is spelled wrong

**Screenshots**
![image](https://user-images.githubusercontent.com/11419268/139027040-baf584ae-8efb-47c9-a060-d9cee2ec9fb9.png)

[2021-11-03 13:17] rjkey opened #307 "read_excel does not parse date columns correctly"
**Describe the bug**
I have a column in my excel-file which contains dates in this format (D/M/YYYY)/(DD/MM/YYYY)
When I use the `read_excel` function in danfojs-node, it spits out a number instead of the date as a string or similar.

Example: The date "1/1/2020" got converted to 43898.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a excel document with a date column
2. Read the excel

[2021-11-03 23:23] Devwulf commented on #61
Any updates on this? I would love to have File object support for `read_csv`, especially for browsers. Selecting files using the `<input ...` tag returns File objects, but the `read_csv` currently only takes in a `filePath`, which doesn't make much sense for browsers. This requires the file to first be uploaded somewhere in the cloud before being able to use it for Danfo, making this feature unusa

[2021-11-03 23:26] risenW commented on #61
Hey @Devwulf , the latest version of Danfojs supports file object. See https://danfo.jsdata.org/api-reference/input-output/danfo.read_csv

[2021-11-03 23:30] Devwulf commented on #61
That's weird. I do have the latest version of Danfojs from npm, which is currently `0.3.3`. Is that not the latest version?

[2021-11-04 17:19] ghing opened #308 "Sorting by date string does not result in expected sort order."
**Describe the bug**

Sorting by a "YYYY-MM-DD" date string does not sort the data in the expected sort order and is not consistent with sorting of those strings using `Array.prototype.sort()`.

**To Reproduce**

In a Node.js REPL:

[code]

**Expected behavior**

This table will be output:

| | date |
|---|---|
|0|1955-12-06|
|1|1963-11-18|
|2|1974-02-19|

**Observed behavior**

This table is outp

[2021-11-05 00:02] GKjohns commented on #201
Have there been any updates here? Given that apple silicon isn't going away, there's a lot of potential impact in fixing the issue

[2021-11-05 11:24] iserranoe opened #309 "Operations between columns"
Sorry if this feature is already implemented, but I can't figure out how to do it. It is possilbe to perform operations between columns or obtain derived columns as in Pandas?

[code]

What I did so far for the first operation is using `.map` and `.addColum`

[code]
How could I do the sum between columns?

[2021-11-05 12:31] risenW commented on #309
You can call the math functions directly on a column. For example to add column A and B, you can do the following:

df[“A”].add(df[“B”])

See: https://danfo.jsdata.org/api-reference/series#binary-operator-functions

[2021-11-06 22:44] mserranomartin opened #310 "groupby error"
**Describe the bug**
I get a `Column names length mismatch` error when trying to group by one column. If I try the same thing in Pandas everything works as it should.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Obtaining a list of dataframes each of which only contains observations with the same University value.

**Screenshots**
![2021-11-06 (1)](https://user-

[2021-11-07 12:08] risenW commented on #201
Great suggestion, but making this a peer dependency does not solve the current issue.

[2021-11-07 12:09] risenW commented on #201
Sadly no official fix yet, but I keep tracking this [issue](https://github.com/tensorflow/tfjs/issues/4514) for any.

[2021-11-07 12:10] risenW commented on #310
@steveoni Can you take a look at this.

[2021-11-07 12:10] #309 closed

[2021-11-07 12:12] risenW commented on #307
Interesting, we currently use the [xlxs](https://www.npmjs.com/package/xlsx) library for loading excel files, this could be an issue with the lib.

[2021-11-07 12:14] risenW commented on #306
Thanks @zxqian1991 . wanna send a fix?

[2021-11-07 12:16] risenW commented on #305
@kohehir Reading JSON into DataFrames does not use the object key as it will be less efficient, we instead use the position. Going forward, we may add an option to use keyed objects.

[2021-11-07 12:17] #301 closed

[2021-11-07 12:18] risenW commented on #298
@tbui-isgn Thanks for the suggestion, we can definitely support this.

[2021-11-09 03:24] DonJayamanne commented on #297
@risenW DId you want me to submit a PR for this?

[2021-11-09 09:51] risenW commented on #297
@DonJayamanne if you have the time, please do.

[2021-11-10 05:20] tbui-isgn commented on #298
Thank you :) really appreciate your consideration

[2021-11-11 20:57] Teut2711 commented on #30
I installed from npm yesterday only. Same issue. On querying column headers change to  numbers.

![image](https://user-images.githubusercontent.com/40588378/141367787-e231c948-2c21-4a5f-b5eb-2824c1a48c29.png)

[2021-11-12 07:59] risenW commented on #30
@Teut2711 Can you update to the latest version of danfojs. I just tried and it's working fine.

<img width="633" alt="Screen Shot 2021-11-12 at 8 59 10 AM" src="https://user-images.githubusercontent.com/29900845/141431415-6c122f39-34ca-4cfb-a9fc-0ab3f1a68031.png">

[2021-11-12 17:53] Teut2711 commented on #30
That's weird. I have  "dependencies": {
    "danfojs-node": "^0.3.3"
  },

[2021-11-13 07:13] Teut2711 commented on #310
`
        const testsDf = await read_excel("./case7.xlsx");
        testsDf.addColumn({ "column": "AgeGroup", "values": testsDf["Age"].apply(x => Number(x) > 40 ? "old" : "young"), inplace: true })
        testsDf.drop({
            columns: ["Age",
                'Patient Name',
                'MRN',
                'Result Value'
            ], inplace: true
        })

        let testsGroupB

[2021-11-13 11:10] Teut2711 commented on #310
It looks like I am facing catching issue with node. Sorry.

[2021-11-13 11:30] Teut2711 commented on #310
It looks like undefined is filtered from row which makes the length  lesser.

[2021-11-15 11:21] steveoni commented on #310
@homomorfismo i think the way you write the code is not correct

[code]

[2021-11-15 15:01] homomorfismo commented on #310
@steveoni I get the same exact error

[2021-11-15 16:07] steveoni commented on #310
@homomorfismo that's weird... i tried same thing without any issue. can i see your code?

[2021-11-17 22:20] stevenjchang commented on #310
I get the same error
I'm using `"danfojs": "0.3.3"`

<img width="628" alt="Screen Shot 2021-11-17 at 1 50 00 PM" src="https://user-images.githubusercontent.com/13124244/142288324-cf6d6178-ee60-4b96-a24f-6d28e8620b0a.png">

[code]

For more context, the code works when I use a dummy dataset, like the `titantic.csv` file found in the tutorial https://danfo.jsdata.org/examples/titanic-survival-predic

[2021-11-18 19:16] homomorfismo commented on #310
I copypasted yours. I use chrome's console, load the danfo library in an html file and run the line.

[2021-11-20 20:18] steveoni commented on #310
i'm actually using the node enviroment, have you tried that out to see if it works

[code]

[2021-11-20 20:20] steveoni commented on #310
@stevenjchang can you try using a lower version and see if it works (to be sure if it's this version)

[2021-11-22 16:03] goodPointP opened #314 "Add a feature for inserting a column"
It would be really useful if there was a method that could insert a column into an existing Dataframe between two existing columns. I know about .addColumn, but that seems to place the new column at the end of the Dataframe.

For example:

df.print()

A | B
===
7  | 5
3  | 6

_df.insert({ "afterColumn": "A", "data": [4,1], inplace: true })_

A | C | B
=====
7  | 4 | 5
3  | 1 | 6

[2021-11-23 01:34] Devwulf opened #315 "DataFrame groupby typings does not follow groupby implementation"
Hello! I've noticed that the `groupby()` typings for dataframes do not follow the intended implementation of the `groupby()` function.

The documentation here:
https://github.com/opensource9ja/danfojs/blob/146ba82ca723527f5c2008b5077c6a13d196e01f/danfojs-browser/src/core/frame.js#L2310
states that the `col` parameter is a list of (string) columns, while the typing here:
https://github.com/opensour

[2021-11-26 14:17] kfern commented on #50
HI!

I have an incomplete example using Danfojs, Vue 3, Typescript and Jest at https://github.com/kfern/my-vue-monorepo/tree/main/packages/ts-time-series

It works :-D but I can´t convert a timestamp to datetime because to_datetime is not a function

I tried:
[code]

and

[code]

Is it a bug? Can I do something to solve it?

[2021-11-28 07:49] risenW commented on #315
Thanks for raising this. @steveoni Can you update this

[2021-11-28 07:50] risenW commented on #314
Thanks for the suggestion. We will consider it. If you're interested in working on this, let us know.

[2021-11-28 11:03] kfern commented on #50
ping @risenW

[2021-11-28 15:04] risenW commented on #50
Hey @kfern The function doc is a bit outdated. The name of the function is toDateTime.

[2021-11-28 16:21] kfern commented on #50
@risenW Thanks.

dfd.toDateTime throws a Typescript error:

Property 'toDateTime' does not exist on type 'typeof import("my-vue-monorepo/node_modules/danfojs/types/index")'. Did you mean 'to_datetime'?

[code]

[2021-11-29 07:54] risenW commented on #50
Which version of danfo are you using? The latest (0.3.3) ?

Because it works fine on my end.

![Screen Shot 2021-11-29 at 8 53 52 AM](https://user-images.githubusercontent.com/29900845/143828782-a3366e35-fdb9-4f30-9f78-c713348765fd.png)

[2021-11-29 08:01] risenW opened #316 "> https://danfo.jsdata.org/api-reference/general-functions/danfo.to_datetime"
Ahh, I see we forgot to update the correct type in https://github.com/opensource9ja/danfojs/blob/dev/danfojs-browser/types/index.d.ts

Would you be interested in updating this and sending a PR? A great simple issue to start contribution.

_Originally posted by @risenW in https://github.com/opensource9ja/danfojs/issues/50#issuecomment-981372346_

[2021-12-01 01:32] habitsAI opened #318 "TF does't work on Mac M1 - Please update TF"
**Describe the bug**
By install danfo and tensorflow on Mac M1 processors can´t work .

Now TF fix the bug you only have to update library please.

https://github.com/tensorflow/tfjs/pull/5899

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Mac M1 Chip '
2. Try to npm install danfojs
3. See error

**Expected behavior**
Will download and install dependences correctly

**Desktop (please

[2021-12-01 06:39] risenW commented on #318
I’m aware of this, and have been tracking this on this issue #201

If this has been fixed , then that’s great news, I’ll look into it and do any update needed.

[2021-12-05 19:17] #297 closed

[2021-12-05 19:23] #316 closed

[2021-12-05 19:24] risenW commented on #315
Fixed!

[2021-12-05 19:24] #315 closed

[2021-12-05 19:26] #306 closed

[2021-12-05 19:27] risenW commented on #307
This is a minor issue with xlxs library, so closing

[2021-12-05 19:27] #307 closed

[2021-12-05 19:43] risenW commented on #302
FIXED!

[2021-12-05 19:43] #302 closed

[2021-12-05 20:00] risenW commented on #295
FIXED

[2021-12-05 20:00] #295 closed

[2021-12-06 01:35] DonJayamanne commented on #297
Thanks, sorry I didn't get to this, been very busy with an upcoming relocation...

[2021-12-06 07:38] risenW commented on #297
@DonJayamanne No worries, I fixed this already, and pushed to the latest version v0.3.4

[2021-12-06 19:46] kfern opened #321 "RFC: Time series. Could they be first-class citizens just like they are in Pandas?"
**Is your feature request related to a problem? Please describe.**

Currently dates/times are treated as strings and lacks support for time zones, there are some related issues like #308 and being able to properly manage time series is important in certain domains.

Could they be first-class citizens just like they are in Pandas?

**Describe the solution you'd like**

An initial idea could be:

Ac

[2021-12-16 10:40] skwasha commented on #305
Unfortunately, this makes usage with JSON almost useless. JSON by definition is not required to be ordered. From the source [JSON.org](https://www.json.org/json-en.html)
`An object is an unordered set of name/value pairs.`

[2021-12-16 12:42] risenW commented on #305
I’ve come to realize this as well. I’m adding it as a priority to the next update. You can track here: #235

[2021-12-24 00:11] brooksvb opened #325 "Make index available to Series.map() lambda"
**Is your feature request related to a problem? Please describe.**
The Series.map() function should enable the usage of index in the passed lambda, just like the normal Array.map() function does. My example use case is calculating a moving average, which requires referencing values next to the current position in the Series.

**Describe the solution you'd like**
I would like to be able to write th

[2021-12-24 22:20] brooksvb opened #326 "date_range() does not include all expected dates"
**Describe the bug**
date_range does not produce expected output for large range of dates.

**To Reproduce**
[code]

Output:
[code]

**Expected behavior**
Output should include all dates between 1/1/2021 and 12/20/2021.

**Desktop (please complete the following information):**
 - OS: Manjaro Linux
 - Browser: N/A
 - Version: 0.3.3

[2021-12-27 07:02] steveoni commented on #314
@risenW i'm trying to implement this since it's needed in the groupby implementation.

But looking at the code to add new column, it looks expensive, like we had to look through all the datapoint to add a new column

[code]

this can be more expensive for large dataset, but i'm thinking if we represent the data like this
[code]

For we to add new column it will just be like this:
[code]
With this

[2021-12-27 07:43] risenW commented on #314
@steveoni Representing internal DS with an object is not optimal because of other operations we do on DataFrames and Series. One major example is indexing by position, objects are not as efficient as Arrays when it comes to indexing by position, and also JS does not guarantee the position of object entries. There is a myriad of other reasons I considered as well.

Regarding this issue, at most, it

[2021-12-27 07:49] risenW commented on #325
Nice request, we will definitely add this. If interested you can work on this, just let me know.

[2021-12-27 07:50] risenW commented on #321
Makes sense!, thanks for the suggestion, I'll look into this.

[2021-12-27 07:59] risenW opened #328 "Refactor Danfo.js to Typescript"
Linked PR #235

This refactor converts the danfojs to use typescript. This is scheduled to be released as Danfo.Js v1.0 (stable), and will include a couple of breaking changes, bug fixes, and new features.

Task and progress
* [x] Generic core
* [x] Frame class
* [x] Series class
* [x] File Readers /input and output
* [x] Utility class
* [x] Configuration class
* [x] Groupby class
* [x] Concat
* [

[2021-12-27 08:02] risenW opened #329 "Fix failing CI tests"
Test passes locally, but fails in CI, see https://github.com/javascriptdata/danfojs/runs/4640341484?check_suite_focus=true

[2021-12-27 11:08] steveoni commented on #314
@risenW  okay i get. thats cool.

but i don't get what you trying to do here
[code]

but i will go with the example i have before, which is similar to the example you gave

[2021-12-27 11:43] risenW commented on #314
Splice by default will mutate the array, so I'm saying that you should make a copy first.

[2021-12-27 11:46] steveoni commented on #314
Yeah sure. I’m aware of that

[2021-12-28 09:52] risenW commented on #329
This failing test is caused by the pow operations. After investigation, I found out that the precision of the result is not guaranteed. I get integer results when I make some pow ops in Nodejs, but get floats when doing the same in browser env.

Also, see: https://stackoverflow.com/questions/28330489/why-does-javascripts-math-pow-seem-to-return-a-rounded-value-compared-to-the

[2021-12-28 09:55] #329 closed

[2021-12-29 23:20] halflings opened #332 "tensorflowjs initialized (at least) twice by danfojs"
**Describe the bug**
When importing/using danfojs (in the browser), I get a lot of warning log messages saying tensorflow was already initialized. This wasn't happening in earlier versions of danfojs, started happening after I updated to the latest release at some point in the last couple of weeks.

Example log messages:
[code]

**To Reproduce**
1) Import danfojs (in a react app).
2) Check console

[2021-12-31 16:20] Devin345458 commented on #332
[code]
I get the following error when trying to run with tensorflow already installed on mac node

[2021-12-31 16:57] Devin345458 commented on #332
After some digging if you look [here]( https://danfo.jsdata.org/examples/titanic-survival-prediction-using-danfo.js-and-tensorflow.js#setting-up-your-environment ) tf is exported by danfos i'll submit a pr to add it to the type definition

[2022-01-01 14:37] codeheart09 opened #335 ""Cannot calculate mean, unexpected type of argument" when data has nulls"
When I call `.describe()` on a data frame with some null values, I get this error:

[code]

You can check the dataset here: [https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz](https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz)

Here is the code I have:

[code]

And if I `console.log` the dataframe itself, the data seem t

[2022-01-07 18:17] KingWebsites opened #338 "Dataframe "nunique" is broken. Quick fix suggested."
I believe the nunique function for a dataFrame is broken.

Steps to reproduce the behavior:
If I add an extra item to each column of the test data then the nunique function creates an error.

Here's the new code adapted from the API Reference (browser) with an extra item added to each column:

[code]

Expected result:
I expect to see a new single-column dataframe with rows containing the total num

[2022-01-08 20:12] Lu-David opened #339 "read_excel with file object source"
I noticed in the danfojs docs that the read_excel method only takes in a string for the file path or url. The other methods, read_csv and read_json, both can read in file objects.

Would it be possible to add functionality to read_excel so that it can also read from a file object to dataframe? I'm wondering if there were any issues regarding implementing this functionality in the first place?

Tha

[2022-01-09 07:08] risenW commented on #339
@Lu-David read_excel also supports loading of file objects, we probably missed adding that in the documentation.

[2022-01-09 07:10] risenW commented on #338
Thanks for raising this issue, I’ll take a look ASAP.

[2022-01-09 07:12] risenW commented on #335
Thanks for raising this issue, and yes, we skip null values before computations. I’ll take a look ASAP.

[2022-01-12 12:19] michael-pont opened #340 "Groupby multi columns not working when"
**Describe the bug**
I am trying to use groupby function to group by multiple columns and I get the following error.
I debugged the situation and in groupby.js the error is being thrown because it expects an array but there
is an object { '2': { VIE: { '2021': [Object], '2022': [Object] } } }. There is an issue with having clientId and week equal to the same value. If you change week in item # 1 t

[2022-01-12 14:36] risenW commented on #296
Fixed

[2022-01-12 14:36] #296 closed

[2022-01-12 15:43] risenW commented on #339
Update: Documentation has been updated! https://danfo.jsdata.org/api-reference/input-output/danfo.read_excel#reading-an-input-file-object-in-the-browser

[2022-01-12 15:44] #339 closed

[2022-01-12 15:45] risenW commented on #338
@KingWebsites @michael-pont Can you install and use the latest Typescript version (v1.0.0). This has been fixed.

If you need help migrating to the latest version, see: https://danfo.jsdata.org/examples/migrating-to-the-stable-version-of-danfo.js

cc @steveoni You can look at this

[2022-01-12 15:45] #338 closed

[2022-01-12 15:46] risenW commented on #335
Update:

@codeheart09 This has been fixed in the latest release.
 You can install and use the latest Typescript version (v1.0.0).

If you need help migrating to the latest version, see: https://danfo.jsdata.org/examples/migrating-to-the-stable-version-of-danfo.js

[2022-01-12 15:46] #335 closed

[2022-01-12 15:47] risenW commented on #328
FIXED and released!

[2022-01-12 15:47] #328 closed

[2022-01-12 15:48] risenW commented on #332
UPDATE!!

@michael-pont Can you install and use the latest Typescript version (v1.0.0), and see if this works.

If you need help migrating to the latest version, see: https://danfo.jsdata.org/examples/migrating-to-the-stable-version-of-danfo.js

[2022-01-12 15:49] risenW commented on #325
FIXED and released in the latest TS version.

If you need help migrating to the latest version, see: https://danfo.jsdata.org/examples/migrating-to-the-stable-version-of-danfo.js

[2022-01-12 15:49] #325 closed

[2022-01-12 15:49] risenW commented on #310
FIXED and released in the latest TS version.

If you need help migrating to the latest version, see: https://danfo.jsdata.org/examples/migrating-to-the-stable-version-of-danfo.js

[2022-01-12 15:49] #310 closed

[2022-01-12 15:50] risenW commented on #294
FIXED and released in the latest TS version.

If you need help migrating to the latest version, see: https://danfo.jsdata.org/examples/migrating-to-the-stable-version-of-danfo.js

[2022-01-12 15:50] #294 closed

[2022-01-12 15:51] risenW commented on #223
We added a couple of stream data processing functionality in the latest Typescript release. See: https://danfo.jsdata.org/api-reference/general-functions/danfo.streamcsvtransformer

If you need help migrating to the latest version, see: https://danfo.jsdata.org/examples/migrating-to-the-stable-version-of-danfo.js

[2022-01-12 15:51] #223 closed

[2022-01-12 15:52] #201 closed

[2022-01-12 15:52] #326 closed

[2022-01-12 16:50] michael-pont commented on #340
@risenW funny the release fixing my issue comes the same day I have a problem :)
Can confirm that same code now works by installing  "danfojs-node": "^1.0.0",
Thanks !

[2022-01-12 16:50] #340 closed

[2022-01-12 17:02] michael-pont opened #343 "Typescript support in VSCode not working when using import dfd from 'danfojs-node';"
**Describe the bug**
With latest v1.0.0, I changed how I import of danfojs-node at type of file to get type support.
Type support works but then dfd is undefined when I run code

[code]

[code]

**To Reproduce**
1. Run code above with ts-node

**Expected behavior**
dfd is properly loaded and methods can be called on object

**Screenshots**
If applicable, add screenshots to help explain your proble

[2022-01-12 17:07] #343 closed

[2022-01-13 01:55] Devwulf opened #344 "Groupby.std() missing"
So, I've been updating my codebase to use the version 1.0.0 of Danfo JS. But apparently the Groupby.std() function is now missing. I've checked the code and the std operation is still supported. Perhaps a public function for it was forgotten to be included?

[2022-01-13 02:39] Devwulf opened #345 "DataFrame.rename() mapper arg should be typed instead of any"
In version 1.0.0, the DataFrame.rename() mapper argument is typed as any instead of strongly typed. This caused me to completely miss the fact that the mapper argument is now outside the options argument while migrating to this new version of Danfojs, and it may lead others to do so as well. Wouldn't it be better to type it something like this?

[code]

[2022-01-13 02:51] Devwulf opened #346 "Using instanceof Series or DataFrame to check the difference between the two does not work"
After upgrading to version 1.0.0, the type checks I have using `instanceof Series`  or `instanceof DataFrame` does not seem to work anymore. This is especially useful not only for comparing the two against each other, but also against other types. Is there a better way of checking the difference between the two, besides using `.$isSeries` or counting columns? The former seems like an internal vari

[2022-01-13 03:15] Devwulf commented on #346
I think I may have found the proper solution for it. Instead of importing both Series and DataFrame from `danfojs`, Series should instead be imported from `danfojs/dist/danfojs-base/core/series` while DataFrame should be imported from `danfojs/dist/danfojs-base/core/frame`. The first one seems to point to the browser typings, while the second ones point to the base typings instead.

I'll do some m

[2022-01-13 03:35] #346 closed

[2022-01-13 06:53] risenW commented on #344
@steveoni Can you confirm this.

[2022-01-13 06:54] risenW commented on #345
@Devwulf Good point. Would you like sending a PR?

[2022-01-13 07:19] Devwulf commented on #345
Sure, I'll get on it tomorrow morning!

[2022-01-13 09:53] steveoni commented on #344
@risenW @Devwulf thats true. The code for std was implemented in the arithmetic logic, but the method was not created to expose it. I will add that

[2022-01-14 15:29] risenW opened #349 "New methods `iat` and `at` to access single value in DataFrame/Series"
Regarding your point on:

I think we need to add a new method for that. Something like `[iat](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iat.html)` in pandas. I'll create an issue for it.

_Originally posted by @risenW in https://github.com/javascriptdata/danfojs/discussions/348#discussioncomment-1970316_

## Acceptance
* [ ] `iat` method exists and supports retrieving single va

[2022-01-14 15:34] KingWebsites commented on #349
Great news. Could you add an "at" method too, which is the same but uses named row and column labels?
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html

[2022-01-14 17:04] risenW commented on #349
@KingWebsites Would like to work on this?

[2022-01-14 17:10] #345 closed

[2022-01-14 17:13] KingWebsites commented on #349
Unfortuately I don't have the skillset to contribute. After years as a front-end dev who just used jQuery I've only spent a few months learning more modern js. I'm hoping to be in a position to do so at some point in the future though.

[2022-01-14 17:25] risenW commented on #349
No worries at all 👏🏻Thanks for using the library and taking out time to give us feedback. It is also a very important contribution.