[2022-01-14 18:49] Devwulf commented on #344
@risenW @steveoni Could I work on this instead? I really need this feature as soon as possible so I can finally deploy my project.

[2022-01-14 20:16] codeheart09 opened #350 "Counting the number of rows"
Hi guys,

What is the best way to count the number of rows in the dataframe?

I'm using `df.values.length`, but I don't know if there is another option without having to access the values array.

I thought `df.size` would do that, but it seems to return the total number of cells, not rolls.

PS: the `Dataframe.size` attribute link is broken in the documentation.
https://danfo.jsdata.org/api-refere

[2022-01-14 20:17] steveoni commented on #350
df.shape[0]

[2022-01-14 20:19] steveoni commented on #350
df.size should return an array of number of rows and columns

[2022-01-14 20:21] steveoni commented on #350
I mean df.shape,

for rows df.shape[0] @codeheart09

[2022-01-14 20:22] #350 closed

[2022-01-14 20:37] steveoni commented on #344
@Devwulf you can go ahead to fix it.

[2022-01-15 14:43] #344 closed

[2022-01-16 11:31] risenW opened #354 "Bug: readCSV by default returns data as all String"
Here's an example:

let dfd = require('danfojs-node')
let df = dfd.readCSV('http://scikitjs.org/data/iris.csv')
console.log(df['target']) // ['0.0', '0.0', ..., '1.0'] instead of [0, 0, 0, 1, 1]

This is because we use Papaparse to load CSV, and by default, the dynamicTyping is set to false. To fix this we need to set dynamicTyping to true by fault.

[2022-01-16 12:02] #354 closed

[2022-01-16 12:16] risenW commented on #344
Thanks for flagging and fixing this, I have pushed a new release (v.1.0.1)

[2022-01-16 16:05] jamg44 commented on #201
It seems to be fixed [now](https://github.com/tensorflow/tfjs/issues/4514#issuecomment-999022255)

[2022-01-16 17:36] codeheart09 opened #355 "Stratified sampling for dataframe splitting"
Hello everyone,

I'm working on a project that needs stratified sampling of the dataset so it can have a more balanced test set.
More on the subject: https://en.wikipedia.org/wiki/Stratified_sampling

I implemented a solution using Danfo.js for that purpose and, if you think it is a good idea, I can open a PR with that as a splitting tool.
Its parallel in scikit learn: https://scikit-learn.org/sta

[2022-01-17 23:49] Emporea opened #356 "Add dt.date"
Coming from pandas, it seems inconvinient that dt.date is missing from all the datetime functions. Is there a reason for that?
Would be awesome if this could be added.

`2022-01-17T00:00:00Z > dt.date > 2022-01-17`

[2022-01-18 00:13] Emporea opened #357 "Series index is not retained after sorting values"
sortValues seems inconvinient because it does reset the index and its hard to reindex it if I only have numbers...

The Index gets ignored too often in general for example:

Series.toJSON() or toCSV() only includes the values. This is inconvinient. There should be an option to not drop the index.
Pandas doesn't drop the index either.

Also is it possible to combine the functions valueCounts() and

[2022-01-18 03:44] Emporea commented on #357
A workaround for me would be to replace line 148 in src/danfojs-base/io/node/io.json.ts with
`obj[df.columns[0]] = Object.fromEntries(df.index.map((e, i) => [e, df.values[i]]))`

[2022-01-18 06:52] risenW commented on #357
@Emporea Thanks for the PR. I will address each paragraph:

The intended behavior of `sortValues` is to sort each value position in the Series, and as such, the index is updated with it. This is similar to the behavior in Pandas. See https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html

Pandas doesn't drop the index either.

This is a good call and can be added. If you want

[2022-01-18 06:54] risenW commented on #356
Hi, there's no major reason for excluding this other than we forgot to add it. It's quite easy and definitely a good first issue.

[2022-01-18 06:58] risenW commented on #355
Hello @codeheart09 Thanks for the suggestion, and yes, we would love this, but we are currently working on a [Scikit.js library](https://github.com/javascriptdata/scikit.js), and this will fit right into it. Specifically, in this folder: https://github.com/javascriptdata/scikit.js/tree/main/src/model_selection

I can transfer this issue there, and then assign you to it. What do you say?

[2022-01-18 08:59] Emporea commented on #357
Thanks for your answer!
I am very very new to javascript, I can see what I can do! But no pressure, I am still learning.

The difference is that pandas keeps the index, which is very useful.

Example:

[code]

while pandas does this:
[code]

I know I can chain sort_values. But in the end with danfo I dont even know which item occures how often because of the dropped index in all Series operations.

[2022-01-18 09:15] risenW commented on #357
No pressure, I understand your request now, at least regarding the `resetIndex`. Also, I don't know if you this, but you can print out the content of a DataFrame or Series by calling `.print()`:

[code]

[2022-01-18 13:54] rzykov commented on #318
It seems it fixed in tfjs
https://github.com/javascriptdata/danfojs/issues/201#issuecomment-1013903036

[2022-01-18 14:24] risenW commented on #318
Looking into it now

[2022-01-18 21:17] codeheart09 commented on #355
Hey @risenW, sure! You can transfer it and I get it from there!

[2022-01-19 09:58] Emporea commented on #357
Yes ofc I know about print().

Whats sortValues missing is the preservation of the index, it has to be also sorted regarding its sorted values.
We need an equivalent of [this line in pandas](https://github.com/pandas-dev/pandas/blob/a474af5b4526dc333f62260587a1d8ef494df57c/pandas/core/series.py#L3524):
Or to be precice this extended numpy.argsort function in pandas called [nargsort
](https://githu

[2022-01-19 10:13] #356 closed

[2022-01-19 11:53] risenW commented on #357
Hey, @Emporea I still don't understand what you're trying to achieve. Can you give me an example of the result you want and the current result Danfojs is giving you?

[2022-01-19 11:53] Emporea commented on #357
My node danfo.js@1.0.1 npm files seem not to be the same as these git files.

I modified [toJSON()](https://github.com/javascriptdata/danfojs/blob/52ee69da50fd36161057f701f426e7b618e37ab1/src/danfojs-base/io/node/io.json.ts#L143) so that it doesnt output it inside a empty '0' column.

[code]

[code]

this is obselete now.

[2022-01-19 11:57] #349 closed

[2022-01-19 12:12] Emporea commented on #357
[code]
without change gives me:
![image](https://user-images.githubusercontent.com/21969523/150126703-065c9240-72d5-4a5b-9782-482e26592e9e.png)

but with the change of adding [real_SortedIdx](https://github.com/javascriptdata/danfojs/issues/357#issuecomment-1016270290) I get
![image](https://user-images.githubusercontent.com/21969523/150126840-107a5cd6-9043-4e4f-8896-da0c6c42471e.png)

The index g

[2022-01-19 12:41] risenW commented on #357
Ah I get you now. This index is not retained for Series. It was retained in DataFrame. I'll get this fix now.

[2022-01-19 13:30] risenW commented on #8
Update on this? We have released the TS version, so you can update this issue

[2022-01-19 13:34] #357 closed

[2022-01-19 13:34] #318 closed

[2022-01-19 13:52] risenW commented on #357
@Emporea I just pushed a new version (v1.0.2) which to fix this. The new version also adds the `at` and `iat` methods. Do test and let me know.

[2022-01-19 14:15] Emporea commented on #357
Yeah, your fix works too! Now its official and I dont have to fix it manually :D

Could you take a look at the [toJSON()](https://github.com/javascriptdata/danfojs/issues/357#issuecomment-1016270290) function where I did a workaround to get rid of the unnecessary "0" dict? Should I create a new issue? Or is my fix (changing obj[df.columns[0]] to obj) sufficient for a PR?

[2022-01-19 14:26] risenW commented on #357
I think it should be sufficient, just add/update a couple of test in the toJSON and send a PR for review.

[2022-01-19 14:28] Emporea commented on #357
Okey I can make a pull request. I actually did changed 2 things.

Do you know a better way for this?
`Object.fromEntries(df.index.map((e, i) => [e, df.values[i]]))`

I changed it to this, because toJSON() only gave the values, not the keys. So this concats them. Do you understand?

[2022-01-19 14:39] Emporea commented on #356
`df["date"].dt.date().print();`

gives invalid dates:

![image](https://user-images.githubusercontent.com/21969523/150152535-43623d95-3d0b-4ce4-889c-eb20fe638003.png)

[2022-01-20 00:54] Emporea opened #362 "danfo.drop() add a error handler"
It would be nice to have an argument in drop() and probably other functions on how to handle errors.
If one column in a list of columns to drop does not exist it throws
`Error: ParamError: specified column "example_column" not found in columns`

[Pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) does provide the options `errors{‘ignore’, ‘raise’}, default ‘raise’`

[2022-01-20 01:14] Emporea commented on #356
danfojs:
[code]

gives

[code]

while pandas:

[code]

gives

[code]

This is not what date() is supposed to be.

[2022-01-20 01:41] Emporea opened #363 "Adding Timeseries from .dt or toDateTime() to Series or DataFrame throws "Error: File format not supported!""
I tested it with danfojs-node and danfojs-node-nightly, because [danfo.Dt](https://danfo.jsdata.org/api-reference/general-functions/danfo.dt) includes the nightly.

What I have so far is this. Not a dt or danfo.toDateTime() operation yet.
[code]

 This is working and gives this. Danfo succesfully recognizes this string as a date.

[code]

But if I have a DataFrame where one column are dates then i

[2022-01-20 08:13] risenW commented on #363
This is related to this feature request #321 At the moment DateTime is not a standard data type in Danfojs. We will work on this pretty soon.

[2022-01-20 08:28] risenW commented on #356
We are using the Standard JavaScript Date under the hood. Peculiarities like the sep `/` and extra time properties can be easily formatted since the result is a String.

We use JS standard Date and do not want to deviate or create a custom Date implementation similar to Pandas but different from JS standard.

[2022-01-20 08:32] Emporea commented on #356
Yes you are probably right.

[2022-01-20 08:54] Emporea commented on #282
Is this related to #361?
toJSON() also didnt't include the index.

[2022-01-20 09:28] risenW commented on #282
Yes, it's similar. If you want and can, you can raise a separate PR for this.

[2022-01-20 15:53] chrisg44 opened #364 "Error returned when passing only one value to DataFrame.loc"
**Describe the bug**
This seems way to be way to obvious to actually be a bug and there is definitely potential I'm just using it wrong (only recently started using Danfo) - but at the very least the error handling is unhelpful.

When passing only one row value to DataFrame.loc it returns a "Uncaught Error: IndexError: Specified index (a) not found" irrespective of what value is passed. For exampl

[2022-01-20 16:25] risenW commented on #364
Not a bug, just some subtlety in `loc` row indexing. You need to explicitly quote a row index of it's an alphabet:
It was documented here:
[code]

[2022-01-20 18:28] chrisg44 commented on #364
Thanks - appreciated for getting back to me so promptly. I'm actually using a non-alphabetic index - but that works for that as well. Just for clarity as this seems to leave an odd implementation where you have to check for arrays of length one (unless I misunderstand how to implement).

In my application I don't know the length of the array that will be passed in (only that it will contain betwee

[2022-01-20 20:40] risenW commented on #364
Yes, that’s a good way to do it.

[2022-01-21 23:31] #364 closed

[2022-01-25 23:28] IvanKuchin opened #368 "Exception if data cell missed"
**Describe the bug**
Exception thrown by `df.describe()` if data cell missed in xxx.csv

Uncaught TypeError: Cannot calculate mean, unexpected type of argument (type: null, value: null)

**To Reproduce**
Browser as well as node susceptible to that behavior:

train2.csv
[code]

node.js
[code]

[code]

**Expected behavior**
`describe()` should not throw exception. Maybe treat null as NaN.  Not sure

[2022-01-26 03:42] IvanKuchin commented on #368
open by accident

[2022-01-26 03:42] #368 closed

[2022-02-01 14:14] joshuakoh1 opened #375 "Length error when filtering by array with df.query and df['column'].ne"
**Describe the bug**
[code]
df is a 5000 row DF
[code]

**Expected behavior**
Filters all the rows where date not in list

**Desktop (please complete the following information):**
 - OS: [Windows]
 - Browser [Edge]
 - Version [97]
 - Danfo 1.0.2

[2022-02-01 17:48] risenW commented on #375
Arguments passed to the `.ne` operator must be of the same length. That means the length of `df['dates']` must be the same as `removeDates` before you can compare them.

[2022-02-03 20:37] staznz opened #376 "Error: File format not supported! when accessing column with null as first value in danfojs-node"
When attempting to access a columns where the **first** value is null, (corresponding to empty value in csv), I get a `File format not supported!` error.

**To Reproduce**
[code]

**Expected behavior**
To print column without crashing.

**Desktop**
 - OS: Mac OS 11.4
 - Node: v16.13.0
 - danfojs-node: v1.0.2

[2022-02-04 15:32] pluc87 opened #377 "Month() mixing days and months in Dateranges"
**Describe the bug**
When using DateTime on a Daterange series object, month() seems to be looking at days instead of month in the Date strings.

**To Reproduce**
2. dates = dfd.dateRange({"start":'01/01/2020', freq: '6H', period:300})
3. dfd.toDateTime(dates).month().print()

**Expected behavior**
All 4*31 first elements are in January, so month() value should be 0 or 1 for the first month of the

[2022-02-08 22:05] brunsky opened #378 "No maximum function of columns per groups"
There is no "max" in the opsName list.

https://github.com/javascriptdata/danfojs/blob/0d33e344b80a3ed54c91c9393ac3b583d4b0b1a4/src/danfojs-base/aggregators/groupby.ts#L233

If I need to obtain maximum value then I will get "group operation: max is not valid".
Is there any reason not to let "max" in?

[2022-02-08 22:15] steveoni commented on #378
@brunsky max was mixing in the first built, but its now added

https://github.com/javascriptdata/danfojs/blob/a39fd4a75bc3006a5a5c8a38ab51cf3ce3576bee/src/danfojs-base/aggregators/groupby.ts#L234

[2022-02-10 07:25] alexebl opened #379 "File format not supported! - Exception raises when creating a Serie or DataFrame with a leading null value"
This code reproduce the error:

const obj_data = [null, 'bval2', 'bval3', 'bval4'];
const ds = new dfd.Series(obj_data, {dtypes: ['string']});

In production environment its very common to have missing data.
If data is missing somewhere in the array it seems to work correctly, but in case of first value it raises the exception: File format not supported!

[2022-02-10 07:40] risenW commented on #379
Interesting, thanks for raising this. It's a subtle issue, which our test did not catch. For example, placing the `null` value in any other position besides the first works fine.

I'll fix this ASAP!

[2022-02-10 07:40] #378 closed

[2022-02-10 07:47] risenW commented on #377
Thanks for raising this issue, but I can't reproduce your concern. From my end, this works as intended, where month index starts from 0-11 (Jan-Dec).

[2022-02-10 07:48] risenW commented on #376
Thanks for raising this issue, I just confirmed it as well. I'll work on a fix ASAP.

[2022-02-10 07:57] pluc87 commented on #377
Hi,

I  think this is linked to DateRange using "Tolocaldatestring" and hence using the regional parameter of the browser, but datetime not really referring to these regional parameters (from what I understood).

I changed my firefox language to EN-US, and it works currently as it should (I first changed Windows regional parameters and it did not change anything). Yet the fact that this piece of c

[2022-02-10 08:07] risenW commented on #377
Interesting, thanks for this info! I'll investigate and make it generic.

[2022-02-11 07:14] brunsky opened #382 "Not support "download in browser" option in toExcel method"
https://github.com/javascriptdata/danfojs/blob/d3df3a3bd92182576c07f55d0d5f097d33188e6f/src/danfojs-base/io/browser/io.excel.ts#L99

It looks like not support "download in browser" yet. But I found this feature that was introduced in the document.
Will it be implemented in the new version?

[2022-02-11 09:14] joshuakoh1 opened #383 "DataFrame.diff/pct_change"
There's no difference function?

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html

[2022-02-11 18:23] pluc87 opened #386 "weekNumber number support ?"
**Is your feature request related to a problem? Please describe.**
Would it be possible to get the support of the weekNumber function in Datetime

**Describe the solution you'd like**
For a given date, it should return the number of the week in the year, from 1 to 52/53 (or 0 to 51/52).

Thanks

[2022-02-13 21:31] yeus opened #387 "remove nodejs api depedencies in order to support webpack5 and other bundlers."
**Is your feature request related to a problem? Please describe.**
I am trying to get danfojs running with quasar + webpack5 + vue3. Its a pain, because danfojs apparently relies on the nodejs api.

I have no idea about the internals of danfojs  but I do get these errors here when trying to compile with the configuration below:

danfojs:  1.0.2
quasar: v2.5.5
vue: 3.2.31

I solved it by doing thin

[2022-02-14 11:28] farzadkhandan opened #388 "Error building in node.js"
I have added the package to my node.js/typescript application. The package.json file shows ```"danfojs-node": "^1.0.2"```.

When I try to build the app using ```npm run build```, I get 139 errors. The first few are:
[code]

My build script is

[code]

Any advice? Am I missing something?

[2022-02-14 16:01] yeus opened #389 "[Feature Request] drop large libraries such as plotly"
**Is your feature request related to a problem? Please describe.**
danfojs is too large to include it in PWA/SPA applications. It would help if we could at least exclude some of the large dependencies. Or make danfojs modular so that we don't have to import the entire library at once. Similar to lodash.

**Describe the solution you'd like**
Somehow decrease the size in order to make danfojs more u

[2022-02-14 22:25] hrseymour opened #390 "Nit: head() and tail() puke if less than rows than specified (default=5)"
If my DataFrame just has 2 rows, and I call `df.head()`, I get:

[code]

That is not how Pandas behaves.  I think just my 2 rows should be returned.

[2022-02-15 09:41] farzadkhandan commented on #388
It seems that the compiler is compiling all the *.d.ts again and this creates a problem. Any way to avoid this? setting "skipLibCheck": true in compilerOptions doesn't work though.

[2022-02-15 09:51] farzadkhandan commented on #388
Never mind. I've updated the typescript and node-ts for the local package and it worked!

[2022-02-15 09:51] #388 closed

[2022-02-15 09:59] risenW commented on #390
@hrseymour Great catch. Thanks for reporting this, I will work on a fix, unless you want to pick this up?

[2022-02-15 10:01] risenW commented on #389
@yeus This is a good suggestion, and something I have also considered. We'll do some more analysis on this.

[2022-02-15 10:07] #382 closed

[2022-02-15 16:20] hrseymour commented on #390
@risenW In `head` and `tail` replace:

[code]

with:

[code]

I would rather leave the PR to you.  I am a JavaScript newbie :)

[2022-02-15 20:12] #375 closed

[2022-02-15 22:18] yeus commented on #389
I have isolated the danfojs dependencies here:

![image](https://user-images.githubusercontent.com/736695/154158384-c01905bc-08e2-4abd-8c32-8450aab95009.png)

I am able to use webpack to lazily load danfojs dependencies in the background using my own configuration for the "splitChunks" plugin (https://webpack.js.org/plugins/split-chunks-plugin/). But it would still be great if I didn't have to loa

[2022-02-16 21:27] joshuakoh1 commented on #383
@risenW if this isn't a near term priority could you point me in the direction of how to hack together a difference operation? Which functions should I chain?

Thanks!

[2022-02-17 07:06] risenW commented on #383
The might help https://ourcodeworld.com/articles/read/557/how-to-calculate-a-percentage-change-increase-and-decrease-from-2-values-in-javascript

[2022-02-17 07:18] risenW commented on #387
@yeus Danfojs is currently bundled for and able to run browser side, so I'm sure this has to do with your Webpack config. See our webpack config for building the browser side version here: https://github.com/javascriptdata/danfojs/blob/dev/src/danfojs-browser/webpack.config.js

[2022-02-17 07:20] risenW commented on #389
Thanks for sharing this. We'll move Plotly and XLSX to peer dependencies.

[2022-02-17 09:06] joshuakoh1 commented on #383
@risenW I mean how do I pass n, n-1 into the same function across the frame?

[2022-02-17 09:58] risenW commented on #383
You can use the `apply` function to apply custom functions to rows or columns of a DataFrame. See https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.apply

[2022-02-17 12:36] joshuakoh1 commented on #383
@risenW I'm not sure how to access the previous row. When I apply, I only get the current row but I would like a difference of the row above.

[code]

[2022-02-17 19:11] andreyshedko opened #394 "Usage of danfojs in Angular"
**Describe the bug**
`Uncaught TypeError: util.inherits is not a function` on page load.

**To Reproduce**
Steps to reproduce the behavior:
1. Install danfo.js
2. Made changes in tsconfig as "skipLibCheck": true".
3. Made changes in package.json as
[code]

**Expected behavior**
Normal usage

**Screenshots**
![image](https://user-images.githubusercontent.com/7227186/154553358-79f5a704-e8be-4654-aeb

[2022-02-20 08:28] #387 closed

[2022-02-20 09:49] #379 closed

[2022-02-20 09:50] #390 closed

[2022-02-20 09:50] #376 closed

[2022-02-20 09:52] risenW commented on #394
@andreyshedko I'm not familiar with Angular and how packaging works there, so I can't really help out here.

[2022-02-21 11:27] igonro opened #396 "`Groupby` behaves differently depending on the order of the columns"
**Describe the bug**
When creating a DataFrame, depending on the order of the columns the `groupby()` function works properly or returns an error.

**To Reproduce**
This column order works perfectly:
[code]
But when I change the column order to the following it doesn't work:
[code]

**Expected behavior**
I would expect that changing the order of the columns wouldn't make any change on the result.

[2022-02-21 23:26] NeonSpork commented on #383
If nobody else is actively working on implementing those two functions, I can try my hand at making the equivalent function in danfo? :)

I may need a guiding hand writing tests however, though I'll do my best!

[2022-02-22 07:40] igonro commented on #396
After having debugged the code a bit, I think maybe I have been able to find the error.

In `groupby.ts`, line 264:
https://github.com/javascriptdata/danfojs/blob/bdf0a2479f9d40afe01fd902d1bdefaa4cb71446/src/danfojs-base/aggregators/groupby.ts#L264

When stopped at this line in the example that returns the error we have:
[code]
so when we execute `let colDtype = this.colDtype[colIndex]` we are try

[2022-02-22 07:50] risenW commented on #396
Thanks for taking out time to submit this issue. @steveoni Can you take a look.

[2022-02-22 07:51] risenW commented on #383
PR is definitely welcome! You can read the contributor guide here first: https://danfo.jsdata.org/contributing-guide If you need any help, just ping me in the PR

[2022-02-22 10:00] igonro commented on #396
Hi @risenW and @steveoni, thanks for your quick response!

I was trying to write some tests and contribute to the project fixing this issue, but I couldn't run the tests. If you can help me solving this error, I could try to fix this myself and open a PR, I'm trying to learn a bit of Typescript 😄

When I first tried to run all the tests with `yarn test` (after running `yarn install`), I got the fo

[2022-02-22 10:04] igonro commented on #173
Hi @sponsfreixes, I may have a similar issue with the tests in #396 as I'm also on WSL. Could you take a look? I'm pretty new to node/yarn and I don't understand what is the problem... Thanks! 😄

[2022-02-22 10:05] risenW commented on #396
Can you install and work with node v14. You can use `nvm` to install a specific version of Nodejs and use it.

[2022-02-22 10:07] igonro commented on #396
Thanks @risenW, I will try it!

[2022-02-22 10:14] igonro commented on #396
Now I'm having a problem with ChromeHeadless in WSL2.
[code]

I saw that @sponsfreixes had a similar issue in #173, I will try to fix it myself 😅

[2022-02-22 16:11] RohithBhandaru opened #397 "Danfo-js for React Native"
**Is your feature request related to a problem? Please describe.**
I'm looking for using Danfojs in my react native app. But certain modules used by Danfojs, for ex, fs are not compatible with React Native environment.

**Describe the solution you'd like**
Ability to use Danfojs in react native apps

**Describe alternatives you've considered**

**Additional context**

And thank you for bringing th

[2022-02-23 00:25] sponsfreixes commented on #396
@igonro I can't remember how I fixed the issue with headless chrome and WSL... I wonder if I ended ditching WSL and making it work on Windows, or even just running it on some other computer running a native Linux. Sorry for not being able to help on that!

[2022-02-23 06:35] igonro commented on #396
@sponsfreixes thanks for your response, and don't worry I was able to solve it and run the tests! 😄

[2022-02-23 06:38] risenW commented on #397
Thanks for raising this issue. I’ll work on a update. This is similar to #387

[2022-02-23 07:16] steveoni commented on #396
@igonro great catch.  this was as a result of code change from the previous version

Here is how to fix the error base on column wise operation you made mention of. this line should be replace
https://github.com/javascriptdata/danfojs/blob/bdf0a2479f9d40afe01fd902d1bdefaa4cb71446/src/danfojs-base/core/frame.ts#L3165

to this
[code]

Then to enable arithmetic operation for count, which is ideal for

[2022-02-23 08:45] igonro commented on #396
Hi @steveoni, thanks for the help! I was having some troubles finding that bug in `frame.ts`.

I've just opened a PR in #398. Feel free to modify or add corrections to adjust the code to your liking 😉

[2022-02-23 15:55] ikb42 commented on #126
I'm also really keen to see `resample` added.

[2022-02-23 16:00] #396 closed

[2022-02-23 19:12] danbri opened #399 "Getting Started suggests you need to choose up front if you're building for Node vs webplatform/browser"
It would be useful to be able to import a single core/base module so that platform agnostic JS projects don't need to choose one or the other of your platform-specific packages to import.  As far as I can tell, https://github.com/javascriptdata/danfojs/tree/dev/src/danfojs-base isn't intended to be used this way.

I appreciate that these two JS environments have big differences (access to DOM, GPU

[2022-02-23 22:44] NeonSpork commented on #383
I started digging into pandas, and essentially followed a rabbit hole further down into numpy. So this will likely take me a while, as there is a _lot_ going on in the diff function!

It would appear that the best method of implementing the `diff` function is to emulate the numpy function which uses slice to isolate the relevant row/column and calculate the difference the [python API for tensorflo

[2022-02-25 07:52] dyllan-to-you commented on #13
Hi!

I'm very interested in the ability to easily use apache arrow as an IO format. It seems like the bot auto-staled this issue. Is there anything I can do to help make this feature a reality?

[2022-02-25 13:16] risenW commented on #13
Hi, thats possible if you can help add a new input function. You can add new input feature in the io folder. https://github.com/javascriptdata/danfojs/tree/dev/src/danfojs-base/io

[2022-02-28 05:54] psytron opened #402 "ES6 Style import"
More apps are using modern standard ES6 style import:
e.g. import { DataFrame } from "danfojs.js"

This doesn't work with danfojs and any attempts to use systems like esinstall.js or esbuild.js fails with error:
__polyfill-node:assert-adfeef41.js:2460 Uncaught TypeError: Cannot read properties of undefined (reading 'prototype')
    at Object.inherits (__polyfill-node:assert-adfeef41.js:2460:46)

[2022-02-28 13:55] risenW commented on #402
@JanKaul Yes please, go ahead.

[2022-03-02 06:49] kylemcdonald opened #404 "to_dict() equivalent"
I would like to convert a DataFrame to a JSON object the same way that Pandas does with `to_dict()`.

`toJSON()` treats rows as elements in an array, and ignores the index labels. But `to_dict()` uses the index as keys.

Here is an example of what I have in mind:

[code]

Perhaps this could work as `DataFrame.toDict()` or as an option in the behavior of `toJSON()`.

Example DataFrame:

[code]

Exa

[2022-03-02 23:11] hrseymour opened #407 "Selecting `Date` column blows up"
Create a data frame with a `Date` column.  Example value: `new Date("2022-04-01")`.  Try to select the data column using [either documented method](new Date(["2022-04-01"](https://danfo.jsdata.org/api-reference/dataframe/danfo.dataframe.column))).  Code blow ups with this call stack:

[code]

[2022-03-06 10:09] ClimenteA opened #410 "Deno runtime support?"
Awesome library!

I was wondering if there are any plans to support Deno runtime?

[2022-03-07 07:04] risenW commented on #407
@hrseymour We do mot have first class support for  Date type at the moment. Unless it’s a string Datatype, you cannot work with Data objects directly.

So to fix this, ensure your Date column is a collection of Date Strings, then call the .dt method on it to use the Dates.

[2022-03-07 07:05] risenW commented on #404
@kylemcdonald Thanks for suggesting this. We can add it as a variant of the toJSON method. Probably it can be set from a parameter.

I’ll note this as a new addition

[2022-03-07 07:07] risenW commented on #399
Thanks for the suggestion. We will consider it. If you have any pointers and tips, I’d love to hear them as well.

[2022-03-07 10:22] igonro opened #412 "Empty DataFrames are always created without columns information"
https://github.com/javascriptdata/danfojs/blob/df757838b812766c813489942401b424d034d62e/src/danfojs-base/core/generic.ts#L75

In this line, I see that when a DataFrame is created with empty data, the columns information is not passed to the DataFrame object.

I think this approach is not correct, because empty dataframes can also have useful information such as columns names or columns types. I wi

[2022-03-07 10:26] risenW commented on #412
Hey @igonro You're correct, and I would gladly review a PR from you on this.

[2022-03-07 10:38] igonro opened #413 "Fix printing with empty DataFrames to show more useful information"
This issue is related to #412.

Right now, when an empty DataFrame is printed, it just show an empty frame with no information. When #412 gets implemented, it could print some useful information such as columns names.

Also, currently we get an error if we try to print the `ctypes` of an empty Dataframe. This should print the `ctypes` even if the DataFrame is empty when the types are defined, or a

[2022-03-07 13:14] igonro commented on #412
Hi @risenW, can you briefly explain why this line is needed? I think I may have to modify it in order to fix some tests, but I don't see the motivation behind it (and I'm sure that there is a good reason)

https://github.com/javascriptdata/danfojs/blob/c9cc17d2b8fafb3f12b35cc14f82ca2e240b4e28/src/danfojs-base/core/generic.ts#L316

Thanks!

[2022-03-07 13:15] igonro commented on #412
Maybe @steveoni can help too answering this question(?)

Thank you very much!

[2022-03-07 17:42] risenW commented on #412
That’s the default column name when non is provided for Series. Theoretical, Series is not suppose to have a column name though.

Does removing that break any test? If no, then modify and we can test together after your PR

[2022-03-08 08:10] igonro opened #416 "Fix some invalid assert.throws statements"
While writing my tests for #412, I detected some wrong assert.throws statements. I can fix these after I finish the #412 issue (which is almost ready)

These invalid statements look like this:
[code]

and they should be like this:
[code]

I checked it and these wrong tests are passing even if the error message does not match. Fortunately, these tests will fail if no error is thrown during in the e

[2022-03-08 14:06] olivierhbh opened #420 "readExcel not importing all columns"
**Describe the bug**
When opening an excel file, columns with no data in first row are ignored.
![image](https://user-images.githubusercontent.com/15948937/157253499-e0fe55a1-99ea-47af-938d-422c913c58ad.png)

**To Reproduce**
`dfd.readExcel(remote_url,
    ).then(df => {
      df.print()
});
`

**Expected behavior**
In imported file (below), only 5 columns are read by readExcel, open, high, low ar

[2022-03-09 07:37] #412 closed

[2022-03-09 07:40] risenW commented on #410
Thanks @ClimenteA At the moment, we don't have plans for that. We might consider it in the future.

[2022-03-09 07:41] risenW commented on #402
Fixed in #403 , and pushed new release (v1.0.3)

[2022-03-09 07:41] #402 closed

[2022-03-09 07:46] risenW commented on #420
Interesting, 🤔  We currently use [XLSX](https://www.npmjs.com/package/xlsx) package for loading Excel files

[2022-03-09 07:51] #383 closed

[2022-03-09 07:54] risenW commented on #413
@igonro Was this issue fixed in the PR you raised or you want to work on this separately?

[2022-03-09 08:02] olivierhbh commented on #420
Is there any way to specify the headers? or the first row number to parse? I couldn't find any relevant options  in the doc.

[2022-03-09 18:32] kitsunde opened #421 "NaN values don't get skipped on groupby aggregations."
Hello, maybe I'm missing something but groupby aggregations behave inconsistently with DataFrame aggregations, which is a challenge since setting `NaN` values to a default like 0 behaves differently depending on the aggregations.

I will explore using `.apply` to work around this as mentioned in https://github.com/javascriptdata/danfojs/issues/187#issuecomment-827531989

**To Reproduce**

[code]

[2022-03-10 06:29] igonro commented on #421
The current behaviour I think is fine. Pandas does give an `dropna` option. It could be implemented, so the behaviour could be extended to this:
[code]
I don't know is something like that would be what you need.

Anyway, why do you say that groupby aggregations behave inconsistently? Can you give another example with a inconsistent result?

[2022-03-10 06:38] kitsunde commented on #421
Ah sorry, I copy-pasted my code poorly into the expected example, I've updated it. What I mean is that.

[code]

Will drop `NaN` but

[code]

will not. The challenge is that if I need to do something like:

[code]

Different columns can have `NaN` on different rows, and it seems like `dropna()` will drop rows or columns if there's a `NaN` in any position, while to be able to use `agg` it would nee

[2022-03-10 06:56] igonro commented on #413
I will work on this separately as soon as I have some time to look at the source code of `print()`.

[2022-03-10 07:09] kitsunde commented on #421
In pandas:

[code]

Both `mean` and `agg` here skips `None` values by default.

Repl: https://replit.com/@kitsunde/pandas-none-handling-in-groupby

[2022-03-12 20:15] joshuakoh1 commented on #383
@NeonSpork thanks for the work. @risenW, any idea when is the next version bump featuring this?

[2022-03-12 23:43] joshuakoh1 opened #423 "addColumns and result_type: expand for apply?"
Hello,

I can't seem to replicate what I can do in pandas
[code]
I found a dirty fix by accessing the values array and running a concat but there has to be a cleaner way to do this
[code]

[2022-03-13 16:40] #410 closed

[2022-03-13 16:54] selenecodes commented on #197
For people wondering how to get it to work on version 1.0.3 change the path to the `lib/bundle.js` file like so:
[code]

[2022-03-13 18:59] risenW commented on #197
Thanks for sharing @selenecodes In case anyone is interested, I have put together a starter Observable notebook: https://observablehq.com/@risingodegua/using-danfojs-on-observablehq

[2022-03-13 19:14] joshuakoh1 opened #424 "Can't create a dataframe from a horizontal array?"
const arr = [200, 400, 600, 800, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150, 2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2575, 2600, 2625, 2650, 2675, 2700, 2725, 2750, 2775, 2800, 2825, 2850, 2875, 2900, 2925, 2950, 2975, 3000, 3025, 3050, 3075, 3100, 3125, 3150, 3175, 3200, 3225, 3250, 3275, 3300, 3325, 3340, 3350, 3360, 3370, 3

[2022-03-13 19:18] risenW commented on #424
A DataFrame needs a 2D array, so wrap your arr in square brackets. For example:
[code]

[2022-03-13 19:22] joshuakoh1 commented on #424
@risenW that still doesn't solve the problem of it being a horizontal array for a single column
[code]

[2022-03-13 19:31] risenW commented on #424
This is definitely a bug, your initial code is supposed to work fine. I will fix this ASAP

[2022-03-21 03:37] qwang1113 opened #425 "terminated by signal SIGILL (Illegal instruction)"
**Describe the bug**
example code
`
const dfd = require('danfojs-node');

console.log(dfd)
`

**To Reproduce**
execute the above code, then fish output error: `fish: Job 1, 'node test.js' terminated by signal SIGILL (Illegal instruction)`

**Screenshots**
<img width="679" alt="image" src="https://user-images.githubusercontent.com/15064266/159202130-b61f4f05-d2db-429e-97f8-d5561e815bd4.png">

**Des

[2022-03-21 16:40] lcy101u opened #426 "npm install failed"
![image](https://user-images.githubusercontent.com/12782646/159310992-67274e5b-ab7f-411a-9261-6d8ff2d00d44.png)

[2022-03-22 05:52] asapcrafter commented on #386
@risenW Hey, I would like to work on this issue if that's possible

[2022-03-22 08:26] risenW commented on #386
Sure please go ahead. If you need any help, just let me know.

[2022-03-23 18:13] etothepi16 commented on #388
Which version of Typescript did you update to? I just got the same issue with `"typescript": "^3.8.0"` in my package.json

[2022-03-24 05:50] joshuakoh1 opened #429 "Add diff/pctChange to Series"
diff and pctChange features added in https://github.com/javascriptdata/danfojs/pull/418 https://github.com/javascriptdata/danfojs/pull/414 only extend to DataFrames. Currently unable to apply to a single column slice without adding extra steps.

[2022-03-24 07:48] asapcrafter commented on #386
@risenW I'm new to this so this may be a silly question but which folder should I be adding this function to? I'm a bit confused since there's a lot of directories that have the same Datetime.

[2022-03-24 08:54] risenW commented on #386
No worries, this should be added here: https://github.com/javascriptdata/danfojs/blob/dev/src/danfojs-base/core/datetime.ts

[2022-03-28 13:47] iserranoe opened #430 "Reading date in csv as string instead of datetime"
I'm reading a csv file into a data frame. One of the columns is a date and Danfo is automatically reading and transforming it into datetime format; however I'd like to mantain the date as a string, how can I do it?

[2022-03-29 13:55] akhlaq-ha opened #431 "JavaScript heap out of memory when importing danfojs library"
**Node-version:14.5.0
Dependencies attached in screenshot**

Hi,
i am using danfojs in React Application  like so :

[code]
but project fails at compiling as shown in screen shot
Let me know what am i doing wrong.
Thanks

![image](https://user-images.githubusercontent.com/77789142/160627420-40d3767b-9258-4fa7-883b-7d1f420dc704.png)

![image](https://user-images.githubusercontent.com/77789142/16062

[2022-04-01 04:10] Saran33 opened #433 "Basic vectorized operations lacking"
Hi there, thank you for this great library. As long-time Pandas user, I was really excited to try Danfo. However, after reading the docs and buying your book, I’m quite disappointed to have to revert back to using JavaScript arrays and objects for element-wise logic. Is there any way to perform basic conditional logic between rows (and subsequent creation of new series) as vectorized operations?

[2022-04-02 07:54] risenW commented on #433
Hi @Saran33 JavaScript as a languae does not support operator overloading like Python, so this `(df[‘A’] > df[‘B’]) { df[‘C’] = df[‘A’] - df[‘b’]} ` won't work. You can do the following instead using methods:

[code]

See: https://danfo.jsdata.org/api-reference/series/series.gt and https://danfo.jsdata.org/api-reference/series/series.sub

[2022-04-02 07:56] risenW commented on #431
Thanks for reporting, looking into this now. Can you provide more issues like which system you're using, React version, and Danfojs version

[2022-04-02 07:58] risenW commented on #430
Hello @iserranoe Danfojs does not automatically parse dates. It only tries to parse date strings when you call the `.dt` method on the column. See https://danfo.jsdata.org/api-reference/general-functions/danfo.dt

[2022-04-02 07:59] risenW commented on #429
@NeonSpork Would you like to add this?

[2022-04-02 08:00] risenW commented on #426
DUPLICATE of #157

[2022-04-02 08:01] risenW commented on #425
Similar to https://github.com/javascriptdata/danfojs/issues/431

[2022-04-02 08:03] risenW commented on #423
JavaScript is different from the Python language in many ways, as such most features won't translate one-to-one. What you did with Danfo is not dirty.

[2022-04-02 08:03] #423 closed

[2022-04-02 08:15] NeonSpork commented on #429
I think we need more information specifically about what you're trying to achieve that's failing, and how @joshuakoh1 ?

The diff/pctChange functions should mirror the behavior of the other math functions like pow etc, and it should accept a single number, series, column, etc, already.

Can you provide example code and errors and more detailed information about what behavior you expected please?

[2022-04-02 13:20] #431 closed

[2022-04-02 13:20] #426 closed

[2022-04-02 13:20] #425 closed

[2022-04-02 13:20] #430 closed

[2022-04-02 13:20] #433 closed

[2022-04-02 13:21] #399 closed

[2022-04-02 13:22] risenW commented on #397
Fixed in #438

[2022-04-02 13:22] #397 closed

[2022-04-03 12:46] odjhey opened #439 "sample.toJSON() broke in 1.0.5"
**Describe the bug**
`sample.toJSON()` broke in 1.0.5
looks like the `frame` returned by `df.sample()` is from `base` - `src/danfojs-base/core/frame.ts` and not from the `node` one.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
`sample.toJSON()` should return
[code]

**Screenshots**
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/8198

[2022-04-03 13:31] odjhey commented on #439
hmm, i think any method that returns the `base-df` (`sample, head, add, etc`) will not include the `io` functions found in `node-df/browser-df` which include `toCSV, toJSON, toExcel`

im directly using the exported `toJSON` for now (below example)

[code]

[2022-04-04 07:53] risenW commented on #439
Thanks @odjhey for catching and reporting this. I just realized as well. Working on it now.

[2022-04-04 10:14] risenW commented on #439
FIXED in https://github.com/javascriptdata/danfojs/pull/440

[2022-04-04 10:14] #439 closed

[2022-04-04 10:23] odjhey commented on #439
hi @risenW, super thanks! I wouldve sent a PR for a fix but my powers was not enough hehe. BTW! Thanks for working on danfojs, really helping our small team big time! :) We'll find ways to contribute better in the future! Again, super thanks ".)👍🏼

[2022-04-04 10:38] risenW commented on #439
No worries @odjhey Thanks for using danfojs, and sending issues! Much appreciated as well.

[2022-04-05 07:37] joshuakoh1 commented on #429
@NeonSpork Just trying to calc the diff/pctChange for a single series instead of the full DataFrame. Would like to be able to do  _df.column.pctChange(1)_ instead of _df.pctChange(1).column_. The latter performs unnecessary operations.

[2022-04-17 23:35] dcrescim opened #442 "Add Deno Support"
**Is your feature request related to a problem? Please describe.**
Hey folks. I'm starting to do some ML with Deno, and I think it would be a good idea to build a ESM version of this library that is easily consumable from the Deno / browser. Basically I want to write import / export code that will work in either environment (Browser / Deno). I basically want to write the code below.

# Deno
[code]

[2022-04-22 13:50] iserranoe opened #444 "Uncaught TypeError: grp.get_groups is not a function"
I'm following this example in the documentation for `groupby.get_groups` with danfojs: 1.1.1 and danfojs-node:1.1.1:
[code]

But I get the error `Uncaught TypeError: grp.get_groups is not a function`

[2022-04-29 10:14] steveoni commented on #444
@iserranoe use `.getGroups`

[2022-04-29 10:15] steveoni commented on #442
@dcrescim that sounds cool

[2022-04-29 17:48] dcrescim commented on #442
@steveoni Awesome, I just submitted a PR for an ESM bundle that would allow us to be used in Deno / more easily in browsers. It's here https://github.com/javascriptdata/danfojs/pull/447. Lemme know if this makes sense to you.

[2022-04-30 01:24] LastsForever opened #448 "Can all the source code put into just one file?"
I hope to use this project in WPS Office JS Macro, but the only way to use it at present is to copy the whole source code into a module in WPS. If all the source code in this project were in just one file, it would be much more convenient to use it.

[2022-04-30 08:45] risenW commented on #448
You can grab the single bundled JS file from : https://www.jsdelivr.com/package/npm/danfojs?path=lib

[2022-04-30 09:08] LastsForever commented on #448
Thank you.

[2022-04-30 09:08] #448 closed

[2022-05-01 00:31] joshuakoh1 opened #449 "Port df.combine_first and/or df.update"
Trying to merge two dfs and overwrite the columns with one df. Using dfd.merge simply renames the duplicate column with _1. Pandas has two functions that provide the required functionality.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.combine_first.html
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

[2022-05-01 14:33] joshuakoh1 opened #450 "Error when using .eq with Array"
Code
[code]
Output
[code]

[2022-05-02 01:07] LastsForever opened #451 "DataFrame.print() can't print the DataFrame correctly."
**Describe the bug**
DataFrame.print() can't print the DataFrame correctly.

**Screenshots**
<img width="397" alt="image" src="https://user-images.githubusercontent.com/33289453/166171898-0409d94a-79be-4221-a017-203b549ee726.png">
<img width="680" alt="image" src="https://user-images.githubusercontent.com/33289453/166172068-e12a836d-31e7-4b72-a32a-79d4a9e59997.png">

**Desktop (please complete the

[2022-05-02 02:50] LastsForever commented on #420
It should be the best way at present. Forget the readExcel!

[2022-05-02 07:33] iserranoe commented on #444
Hi @steveoni! `.getGroups` is not working either. This is the code, am I doing something wrong?

[code]

[2022-05-02 07:36] steveoni commented on #444
@iserranoe it is getGroup and not getGroups
https://github.com/javascriptdata/danfojs/blob/0ec493e7e40277526fed0c765b9d84d58fa2ed50/src/danfojs-base/aggregators/groupby.ts#L524

[2022-05-02 07:38] iserranoe commented on #444
@steveoni, It's working now! I'll close the issue. It would be great if you could update the documentation. Many thanks!

[2022-05-02 07:38] #444 closed

[2022-05-03 06:16] LastsForever commented on #451
Finally, I found that if the columns contain the keywords`index`, the `print` method will make mistakes, and even the `loc` method will have problems. If there is no `index` in the columns, everything is normal.

`index` in columns:
<img width="708" alt="image" src="https://user-images.githubusercontent.com/33289453/166411315-47ca3ae1-ad0a-4175-be27-c5e9a811f844.png">

no `index`:
<img width="694"

[2022-05-09 21:40] Achuttarsing opened #453 "Any simple way to invert a boolean mask ? ("~" operator in Pandas)"
Hi ! First, thank you for your amazing work !

I would like to remove rows containing Na in a specific column of a DataFrame. I'm new to Danfojs so maybe I'm missing something... There is no **_notNa()_** operator so I'm trying `df.query( df['specific_column'].isNa().eq(false) )` but it gives an error.

I'm wondering if there is an easy way to do this.

I'm not thinking about a notNa() function, b

[2022-05-10 10:51] ShonenAsh commented on #420
My code seems to not import excel files at all.
Although it works for csv files (with readCSV())
[code]

Error: ParamError: File not supported. file must be a url or an input File object

[2022-05-19 20:49] risenW commented on #424
Sure. Give it a go, let me know if you need any support.

[2022-05-20 03:34] onetonfoot opened #455 "df.append method"
I found some bugs whilst using `.append` which I'll try to summarize using shortcode snippets.
In addition, some things I found a little unintuitive with the API which could perhaps be improved. I'm running the latest version `1.1.1`

The first append fails for empty dataframe

[code]

However this works
[code]

Rather oddly the same code fails when using inplace

[code]

I'm not sure if you'd con

[2022-05-20 13:27] guekling opened #456 "No Error Thrown If File Path Is Invalid For df.readCSV?"
**Describe the bug**
When an invalid filepath is passed into `df.readCSV`, no errors are thrown and the request is never resolved. Are we supposed to check for validity of filepath ourselves before passing it into the function?

**To Reproduce**
Use the following code:
[code]

**Expected behavior**
Should throw an error.

**Additional context**
Using `danfojs-node` v1.1.1

[2022-05-20 14:42] Tunjii10 commented on #424
So from what I found out, this bugs happens because by default the  dfd.DataFrame class on call of it parents constructor ND.frame sets the isSeries parameter to **false** by default.
`super({ data, index, columns, dtypes, config, isSeries: false });`
The horizontal array here is basically a series. The get shape function in the generic.ts file throws the recieved error because it  calculates row/

[2022-05-25 18:53] MattLJoslin opened #457 "Add support for Pandas-style json_normalize() functionality"
**Is your feature request related to a problem? Please describe.**
I needed to construct DataFrames from complex nested JSON values containing nested arrays. Coming from python I was used to the pandas [json_normalize](https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html) function and wanted to use the same here.

**Describe the solution you'd like**
Currently I've translated th

[2022-06-01 11:04] steveoni commented on #457
That's cool @MattLJoslin you can go-ahead

[2022-06-05 16:08] shrshk commented on #165
Is this completed I don't see a way to filter data frame with a list of values like pandas isin

[2022-06-05 17:13] shrshk commented on #453
I have a similar problem, I want to do something like
 df = df.loc({ rows: df['id'].eq(['a', 'b']) })
however this does not work, another option is to do
df = df.loc({ rows: df['id'].eq('a') })
df = df.loc({ rows: df['id'].eq('a') })
and merge them but that would be very expensive

[2022-06-05 17:17] shrshk commented on #450
same problem with df = df.loc({ rows: df['id'].eq(['a', 'b']) })
I wonder if this library is missing an option to filter with an array

[2022-06-05 18:08] shrshk commented on #450
I've found a work around to this problem

`const dfd = require("danfojs-node")
const data = [
    ['asefwc', 'Abdullah', 'Cumilla'],
    ['wefcss', 'Khairul', 'Jashore'],
    ['erfegf',  'Jaman', 'Magura']
]

const columns = ['id', 'name', 'address']

let df = new dfd.DataFrame(data, { columns })

let ids = df['id'].values // get all the column values

let rowsICare = []

let idsToFilter = ['wefcs

[2022-06-11 16:53] pbrews7933 opened #459 "cant install on Windows 10 platform"
**Describe the bug**
unable to install danfojs-node

**To Reproduce**
npm install danfojs-node

**Expected behavior**
successful install

**Screenshots**
Microsoft Windows [Version 10.0.19043.1706]
(c) Microsoft Corporation. All rights reserved.

C:\Users\pbrew>npm install danfojs-node
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/31

[2022-06-14 05:23] anuveyatsu opened #460 "Script run is terminated: illegal hardware instruction"
**Describe the bug**

Similar to #425 getting the following error:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. On Node v14.17.6 install `danfojs-node`
2. Read a CSV file
3. Try to print headers or do any other operation with the data
4. See the error

**Expected behavior**

No error but CSV data is read and printed to my terminal.

**Screenshots**

If applicable, add screenshots

[2022-06-14 09:57] AhmedBenHadj2 commented on #425
Hey @risenW ,

It's not similar to https://github.com/javascriptdata/danfojs/issues/431, It's likely due to the new M1 that's not working with the library.

[2022-06-14 15:09] risenW commented on #460
Upgrading to Node v16 and above fixes this issue. I think this is because of Tensorflowjs M1 support.

[2022-06-14 15:11] risenW commented on #459
@pbrews7933 What version of Nodejs are you using? Also, are you able to successfully install Tensorflowjs independently?
You should aim to use Nodejs 16 and above.

[2022-06-14 17:41] pbrews7933 commented on #459
C:\Users\pbrew>node -v

v14.15.4

C:\Users\pbrew>npm install tensor-flow

npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\pbrew\package.json'

npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\pbrew\package.json'

npm WARN pbrew No description

npm WARN pbrew No repository field.

npm WARN pbrew No README data

npm WARN pbrew No license field.

+ ***@***.***

a

[2022-06-14 20:01] #459 closed

[2022-06-20 07:44] #460 closed

[2022-06-20 19:20] ptohara14 opened #462 "Version 1.1.1 published to NPM does not match release 1.1.1 in GitHub"
The published package for danfojs-node 1.1.1 on NPM registry does not match the version 1.1.1 release in this GitHub repository.
Specifically it does not contain [#441](https://github.com/javascriptdata/danfojs/pull/441).
The version numbers look correct in NPM however the contents of the package are not.

**To Reproduce**
1) npm install danfojs-node@1.1.1
2) cat package.json
"danfojs-node": "^1.1

[2022-06-22 19:30] mbrv1434 opened #463 "Can't Parse Dates from Excel files into DataFrame Properly"
Hello, I'm new to using Danfo.js, which is quite impressive. I'm hoping that I'm so new that I simply don't know how to do what I'm trying to do, but it appears that the functionality isn't there (after looking at the documentation). I'll elaborate below.

**Is your feature request related to a problem? Please describe.**
I'm trying to add functionality to a web app where the user can upload an ex

[2022-06-28 15:03] iserranoe commented on #430
Hi @risenW, I've just came back to this problem. Let me show you more information, as I find Danfojs is parsing dates somehow.

I have a .csv file with this data:
[code]
I then read the csv file with dfd.readCSV and can see the dates are transformed:
[code]
The output is:

[code]

So, the dates are transformed from `2022-06-27T14:39:55Z` format to `Mon Jun 27 2022…` format and I can't access the c

[2022-07-06 02:57] applegrew opened #467 "`DataFrame.apply` passes empty row to callback when the cell has objects as values"
**Describe the bug**
`DataFrame.apply` removes all values of type object. It seems to accept only string or numbers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/summer-forest-xzq2rq?file=/src/index.js
2. Open the console.

**Expected behavior**
The callback should be called with non-zero length array.

**Danfojs version:**
 - 1.1.1 (browser)

**Additional c

[2022-07-18 10:50] applegrew opened #471 "TypeError: Cannot read properties of undefined (reading '0')"
**Describe the bug**
I am getting JS error in danfo js for a specific scenario - `TypeError: Cannot read properties of undefined (reading '0')`.

The stack trace is as below.

    TypeError: Cannot read properties of undefined (reading '0')
        at _iloc (https://tksp5f.csb.app/node_modules/danfojs/dist/danfojs-base/core/indexing.js:150:56)

        at DataFrame.query (https://tksp5f.csb.app/no

[2022-07-20 08:02] applegrew opened #472 "`DataFrame.apply` function output is inconsistent"
**Describe the bug**
`DataFrame.apply` is supposed to return `Series` however it returns a `DataFrame` if the original `DataFrame` contains no rows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/sweet-voice-w2n0bx?file=/src/index.js
2. The code should run on its own.
3. Open the console and notice the outputs.
4. When `DataFrame` contains rows then `$isSeries

[2022-07-27 17:01] FunkMonkey opened #475 "DataFrame.copy() does not make a deep copy of the data."
**Describe the bug**
DataFrame.copy() does not make a deep copy of the data, only a shallow copy!

The reason is the spread operation in [copy()](https://github.com/javascriptdata/danfojs/blob/0f85caeb999808a81ac1f2cd0e8d9d6f185120a0/src/danfojs-base/core/frame.ts#L2021), which is used instead of a proper deep copy.

**To Reproduce**
[code]

**Expected behavior**
In the example above, the second c

[2022-07-28 12:32] Parthibanjj opened #476 "dataframe.get_groups is not working in nodeJS"
I Just tried to use the examples given in the site
link : https://danfo.jsdata.org/api-reference/groupby/groupby.get_groups

When I try to run it it says,

grp.get_groups(["foo"]).print()
    ^
TypeError: grp.get_groups is not a function

Below is the code i copied and tried

let data ={'A': ['foo', 'bar', 'foo', 'bar',
                'foo', 'bar', 'foo', 'foo'],
           'B': ['one', 'one', 't

[2022-07-29 06:48] steveoni commented on #476
@Parthibanjj  https://github.com/javascriptdata/danfojs/issues/444

[2022-07-29 06:51] #416 closed

[2022-08-01 07:37] #476 closed

[2022-08-01 07:37] Parthibanjj commented on #476
Its working now.. Thanks

[2022-08-01 07:39] Parthibanjj opened #479 "Group by with string contains in a collection"
Is it possible to have Group by with string contains in a collection?

Similar in python?

dataframeresult = dataframe.loc[string.str.contains(de, case=False)))

[2022-08-03 06:53] Parthibanjj opened #481 "Can we do excel formatting in toExcel function"
Can we do excel formatting in dataframe.toExcel ?

[2022-08-04 10:20] stefaneidelloth opened #482 "How to create empty DataFrame?"
I tried to create an empty DataFrame with

 let df = new DataFrame([], {'columns': ['a','b','c']});

but get undefined.

=> How to create an empty DataFrame with a given set of column headers?

[2022-08-05 10:04] Zourvan opened #483 "datetime error pass throw new Error("File format not supported!");"
**Describe the bug**
I have date read from mongodb like these:
`[
  {
    timestamp: 1659052014,
    DateTime: 2022-07-28T23:46:54.732Z,
    open: 6751.64577992092,
    close: 5195.775137545757,
    high: 1524.0121578845155,
    low: 6562.21988608587,
    volume: 1947.899689556545
  },
  {
    timestamp: 1659052016,
    DateTime: 2022-07-28T23:46:56.732Z,
    open: 1356.56558520725,
    close: 533

[2022-08-05 22:04] kikiatproton opened #484 "`Series.valueCounts` run into error when all the value are unique"
**Describe the bug**
`Series.valueCounts` run into error when all the value are unique

**To Reproduce**
Steps to reproduce the behavior:
1. Parse a .csv file
[code]
2. See error
`IndexError: Row index must contain unique values`

**Expected behavior**
Should display all valueCount

**Screenshots**
<img width="501" alt="Screen Shot 2022-08-05 at 6 01 34 PM" src="https://user-images.githubuserconte

[2022-08-10 13:11] Parthibanjj opened #485 "df.Merge with 2 different collection with different column length"
I have used examples in the site

const dfd = require("danfojs-node")

let data = [['K0', 'k0', 'A0', 'B0'], ['k0', 'K1', 'A1', 'B1'],
            ['K1', 'K0', 'A2', 'B2'], ['K2', 'K2', 'A3', 'B3']]

let data2 = [['K0', 'k0', 'C0' ], ['K1', 'K0', 'C1'],
            ['K1', 'K0', 'C2'] ['K2', 'K0', 'C3']]

let colum1 = ['Key1', 'Key2', 'A', 'B']
let colum2 = ['Key1', 'Key2', 'A']

let df1 = new dfd.

[2022-08-12 21:59] BowTiedAztec opened #486 "Cannot append() number 0 to instance of Series"
**Describe the bug**
If you attempt to append() the value 0 to a Series, it fails with error:

`Param Error: newValues cannot be null or undefined`

Any other real value (positive or negative) seems to work fine.

**To Reproduce**

Simply try this:

` new Series([1, 2, 3]).append(0, 3);`

If you change the above to the following, it works fine:

`new Series([1, 2, 3]).append(0.1, 3);`

For now I a

[2022-08-18 10:01] doomlaur opened #488 "The @types/papaparse package should be a dependency, not a devDependency"
**Describe the bug**
When calling readCSV() with special options passed to CsvInputOptionsBrowser, TypeScript can't find the types because @types/papaparse is part of the devDependencies and not of the dependencies, resulting in the following error:
`Argument of type '{ skipEmptyLines: boolean; }' is not assignable to parameter of type 'CsvInputOptionsBrowser'.
  Object literal may only specify kn

[2022-08-19 06:37] #486 closed

[2022-08-19 23:09] RohanAntony opened #489 "set_params and get_params for the StandardScaler"
**Is your feature request related to a problem? Please describe.**
Sklearn provides support for getting the parameters and setting the parameters. This is necessary for situations where the prediction method is independent and in different context from the training phase which is mostly the case during deployment. Can we have a feature for extracting the parameters in training phase and setting th

[2022-08-26 13:06] d11wtq commented on #335
I seem to be hitting this with v1.1.1. Some values are listed as `null` and `describe` throws:

[code]

Is there a regression since v1.0.0, or do we need to manually filter out the null values?

[2022-08-26 13:12] d11wtq commented on #335
Using nodejs v16.13.2 if that helps.

[2022-08-30 18:35] Parthibanjj opened #490 "Issue while installing the danfojs in node - npm install danfojs-node asked to install python"
Issue while installing the danfojs in node - npm install danfojs-node

Is python prerequisite for this?

npm install danfojs-node
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code 1
npm ERR! path C:\project\RallyJobs\highway-aha-connector\node_modules\@tensorflow\tfjs-node
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe

[2022-08-31 21:13] matt-erhart opened #491 "Browser excel output docs don't match types"
https://github.com/javascriptdata/danfojs/blob/a8d14d45bca2a50836a6e2d6ec1a77582c42993a/src/danfojs-base/shared/types.ts#L409

https://danfo.jsdata.org/api-reference/dataframe/dataframe.to_excel#convert-dataframe-to-excel-and-download-the-file-in-a-browser
[code]

When I try to run it with  download: true, I get the following error: ```Uncaught Error: Module "fs" has been externalized for browser

[2022-09-01 01:27] archanaanz opened #492 "version: 0.3.3 danfo.query converts column headers to numbers"
**Describe the bug**
 filter_from = "Business Unit"
filter_value = "Engineering (Code 1234)"

 let df_subset = df_basedata.query({ column: filter_from, is: "==", to: filter_value })

df_subset has column headers as numbers rather than headers from df_basedata.

if version 1.0.0 is used then it errors as:

indexing.ts:33 Uncaught Error: rows parameter must be an Array. For example: rows: [1,2] or r

[2022-09-01 18:02] Trapster223 opened #493 "mybad"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-07 21:25] nholmes3 commented on #475
I am having the same problem. I am currently getting around this with:

[code]

although it would of course be preferable if the copy function behaved as documented :)

[2022-09-08 13:41] stefaneidelloth opened #496 "How to multiply dataframes considering multi column index?"
Lets say I have two data frames, using two id columns to identify the rows:

A:
| id_foo | id_baa | value |
| 1 | 1 | 10 |
| 1 | 2 | 20 |
| 2 | 1 | 30 |
| 2 | 2 | 40 |

B:
| id_foo | id_baa | value |
| 1 | 1 | 100 |
| 1 | 2 | 200 |
| 2 | 1 | 300 |
| 2 | 2 | 400 |

=> What is the recommend way to add those two dataframes, so that the rows are matched by` id_foo` and` id_baa` and the entries of the

[2022-09-12 13:47] Distortedlogic commented on #459
I am using node v18 and have this installation issue. Can we get a danfo installable that does not include tensorflow? I dont even need tensorflow tbh. I use pytorch anyways n do it all in python with a flask app.

[2022-09-15 13:36] JagdishKolhe commented on #471
I think danfojs has some tight integration of index values while querying. Please try to resent the index, it might solve the issue.
df1.resetIndex({ inplace: true })

[2022-09-16 16:42] slonyik opened #497 "Describe returns error - Cannot calculate mean, unexpected type of argument" when data has nulls"
**Describe the bug**
calling describe()  returns error:
[code]

**To Reproduce**
create csv file aa.csv
[code]

load csv via `readCSV` .
[code]
run `describe()` on the read object

**Expected behavior**
displays describe/stats on the data.

**Screenshots**
na

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser :FF Developer 105.0b9 (64-bit) , Chrome 105.0.5195.12

[2022-09-16 19:39] Lindenk opened #498 "`sortValues` example is incorrect behavior"
**Describe the bug**
The example for `sortValues` (https://danfo.jsdata.org/api-reference/dataframe/dataframe.sort_values) shows the following code:

[code]

with this output:

[code]

**To Reproduce**
Look at the docs.

**Expected behavior**
The output should be:

[code]

Where values are sorted in descending order on the `C` column.

[2022-09-16 22:23] nholmes3 opened #499 "DataFrame.addColumn used to update an existing column results in no longer being able to access the column"
**Describe the bug**
When you use the addColumn function to update an existing column with a Series, the resulting DataFrame is now buggy and you are no longer able to access that column with DataFrame.column

**To Reproduce**
Steps to reproduce the behavior:
[code]

results in the following trace:
[code]

**Expected behavior**
We should be able to access the column data after an update

**Desktop

[2022-09-17 07:48] sonalkr opened #500 "readExcel: columns containing blank cell are Omited from dataframe"
As source of data excel/csv have some blank cell. While import Excel file columns containing blank cell get omited from dataframe. and other Cell value drifted to blank cell.

**Data**
![image](https://user-images.githubusercontent.com/22044153/190845335-352ec48b-183a-4648-b2fc-1a973b091cdd.png)
# Error
![image](https://user-images.githubusercontent.com/22044153/190845366-43072eb7-7672-4f48-980d-4

[2022-09-17 10:16] #500 closed

[2022-09-18 05:59] sonalkr commented on #463
Temporary fix
import { DataFrame } from 'danfojs-node';
import { readFile, utils } from 'xlsx';

const df = new DataFrame(excelToJson(file_path));

  excelToJson(file_path: string) {
    const ws = readFile(file_path);
    const s = ws.Sheets[ws.SheetNames[0]];
    return utils.sheet_to_json(s, { defval: null });
  }

[2022-09-19 07:45] vasanth-kumar-n opened #501 "danfojs-node after installing getting Module parse failed: Unexpected token error"
can anyone help me on this

![image](https://user-images.githubusercontent.com/91305310/190971278-2f585219-e865-40d7-8d36-0d6298c1f6bd.png)

[2022-09-19 09:46] #493 closed

[2022-09-19 19:05] cdoolin commented on #490
I have a very similar problem.  Installing tfjs-node 3.18.0 first, then installing danfojs-node worked.

`npm i @tensorflow/tfjs-node@3.18.0`
`npm i danfojs-node`

[2022-09-20 21:04] fonty422 commented on #298
Hi, just wondering if there has been any movement on this and whether the functionality exists?

[2022-09-22 16:14] controversial commented on #453
Did you find a solution for this?

[2022-09-23 07:24] risenW commented on #453
Hi, you could use the applyMap function to invert each element after check the nan property. See  https://danfo.jsdata.org/api-reference/dataframe/dataframe.apply_map

[2022-09-23 08:32] risenW commented on #498
Thanks for the catch. updated!

[2022-09-23 08:32] #498 closed

[2022-09-23 13:08] risenW commented on #497
Could not reproduce this, works fine. Code I used:

[code]

[2022-09-23 13:18] risenW commented on #492
Hi, for newer version of danfojs, you can need to pass a boolean mask to the query function. So use this instead:
[code]

[2022-09-23 13:18] #492 closed

[2022-09-23 13:41] risenW commented on #491
Thanks for the catch. Docs have been updated, as you do not need the download argument.

For browser downloads, the toExcel function calls xlsx's internal writeFile function, and this will detect the environment and automatically open a download file window.

[2022-09-23 13:41] #491 closed

[2022-09-23 13:41] #490 closed

[2022-09-23 14:40] risenW commented on #485
You missed a comma in data2. It should be:

`let data2 = [['K0', 'k0', 'C0' ], ['K1', 'K0', 'C1'],
['K1', 'K0', 'C2'], ['K2', 'K0', 'C3']]`

[2022-09-23 14:40] #485 closed

[2022-09-23 14:43] risenW commented on #484
This error is coming from incorrect DataFrame selection at `df[df.columns[0]];` not valueCounts.

[2022-09-23 14:43] #484 closed

[2022-09-23 14:53] risenW commented on #483
At the moment, Danfojs does not have first-class support for parsing DateTime on read.

You should represent the date column as a string, and any manipulation should be done on it after converting to a datetime using the Dt class (https://danfo.jsdata.org/api-reference/general-functions/danfo.dt) or directly on the Series by calling the `.dt` accessor, e.g https://danfo.jsdata.org/api-reference/se

[2022-09-23 14:53] #483 closed

[2022-09-23 15:13] risenW commented on #482
The code you provided works for creating empty df. Ensure you are using the new version of Danfojs

[2022-09-23 15:13] #482 closed

[2022-09-23 15:14] #479 closed

[2022-09-23 15:14] risenW commented on #481
What do you mean by excel formating, can you give more explanation, plus examples?

[2022-09-23 19:47] controversial commented on #453
I ended up using `df.iloc({ rows: df['specific_column'].isNa().eq(new Array(df.shape[0]).fill(false)) })` (since `eq` supports an array of boolean values but not a single boolean value).

[2022-09-25 10:02] risenW commented on #472
Hi, this is the intended behavior. That is, the result of apply can be a Series or DataFrame depending on the result of the callable function passed to it. In terms of an empty DataFrame, there is no result to compute, hence it returns a DataFrame.

[2022-09-25 10:02] #472 closed

[2022-09-25 10:14] #471 closed

[2022-09-25 10:21] risenW commented on #467
The issue is not the apply function, The problem is that you're creating a DataFrame from nested objects, which is not supported atm.

The following code:

[2022-09-25 10:21] #467 closed

[2022-09-25 10:45] risenW commented on #463
This is because of the default format of date columns when reading excel files with the xlsx package which we use internally. This can be solved by passing a couple of **parsingOptions** down to xlsx (see https://stackoverflow.com/questions/53163552/format-date-with-sheetjs).

I'm working on a fix so you can pass extra options down to xlsx read/export function. So you will be able to do this:
[cod

[2022-09-25 11:00] risenW commented on #456
Fixed in https://github.com/javascriptdata/danfojs/pull/503

[2022-09-25 11:00] #456 closed

[2022-09-25 11:02] risenW commented on #455
Thanks for these comments. I'm getting around tp fixing them now.

[2022-09-25 11:03] #453 closed

[2022-09-25 11:08] risenW commented on #450
From the error message, it looks like the length of `df.colA.` and `filter` is not the same. They must be the same for `.eq. to work.

[2022-09-25 11:08] #450 closed

[2022-09-25 11:11] risenW commented on #496
Multi

Multi column index is not supported at the moment

[2022-09-25 11:17] #463 closed

[2022-09-26 05:22] Himself65 opened #506 "Error when readCSV from url in nodejs"
[code]

[code]

[2022-09-26 05:25] Himself65 opened #507 "readCSV returns wrong dtypes"
in browser, readCSV from
https://github.com/codeforamerica/ohana-api/blob/master/data/sample-csv/contacts.csv

the dtypes are

[code]

but last two should be string

[2022-09-26 08:00] risenW commented on #506
You should use the [danfojs-node](https://www.npmjs.com/package/danfojs-node?activeTab=versions) package in nodejs

[2022-09-26 08:07] risenW commented on #507
That's a bug, will look into it

[2022-10-03 23:08] jm-boley commented on #499
I'm seeing identical behavior as @nholmes3 when assigning to an existing column while running in the browser, though I'm not sure about the side effects of making `df` or `updatedColumn` const (fairly new to JavaScript, coming from JupyterLab/Python) so I'll avoid using it. Expanding on the above example:
[code]
Inspecting df after `ds['foo'] = ds_foo` shows
[code]
However, executing the last line

[2022-10-04 01:16] jm-boley opened #508 "DataFrame's get accessor throws exception after column values replaced via set (using Series)"
**Describe the bug**
Unable to access DataFrame columns with `get` (e.g., `df['foo']`) after using `set` to replace an existing column. Attempts to access via `get` throw the following exception (from the Chrome browser):
[code]

**To Reproduce:**
In the browser interactive console:
[code]
Note that use of the `column()` method yields identical behavior.

**Expected behavior**
Return of the Series

[2022-10-04 02:13] jm-boley commented on #508
Please note that as an alternative the `addColumn()` method **does** appear to work:
[code]

[2022-10-04 17:17] nholmes3 opened #509 "Cannot access columns populated with Date objects"
**Describe the bug**
When trying to access a column that is populated with Date objects, the following error is thrown

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

This is a result of the data not passing any of the conditionals in the [NDframe constructor](https://github.com/javascriptdata/danfojs/blob/dev/src/danfojs-base/core/generic.ts#L62)

My suggestion is to update eit

[2022-10-04 17:54] futuraibr commented on #126
I'm also really keen to see resample added.

[2022-10-04 18:32] nholmes3 opened #510 "Compare Date's or Strings with boolOps"
**Is your feature request related to a problem? Please describe.**
Currently, `Series.prototype.boolOps` cannot perform any comparisons on Strings or Dates other than `["eq", "ne"]` operators for Strings.

It seems like a decision has been made by the developers to explicitly not allow these types of comparisons from taking place.

**Describe the solution you'd like**
Correct use of comparison log

[2022-10-08 17:56] MikeSpock commented on #424
Facing the same issue. Any update on this?

[2022-10-10 18:58] nholmes3 commented on #509
Hi @jaydeep-work, thank you for posting your workaround!  I am currently converting the dates to strings before adding them to the DF, but both of these workarounds are less desirable than danfo being able to handle Date objects in the first place.

[2022-10-12 14:49] risenW commented on #509
I've been working on adding default support for Datetime columns. This will get pushed in the new release.

[2022-10-12 15:16] #509 closed

[2022-10-12 15:59] kfern commented on #321
Closed by #511

[2022-10-12 15:59] #321 closed

[2022-10-12 16:12] risenW commented on #407
Fixed in https://github.com/javascriptdata/danfojs/pull/511

[2022-10-12 16:12] #407 closed

[2022-10-12 16:13] risenW commented on #363
Fixed in https://github.com/javascriptdata/danfojs/pull/511

[2022-10-12 16:13] #363 closed

[2022-10-26 22:23] Seandump101 opened #513 "find index function suggested"
would be very useful to have a built in index finding function.
maybe something like this:
"Dataframe.findIndex "

In Js it would be:

function findIndex(colname,value) {
    // index of column with specific value
   let query_df = df.query(dta[colname].eq(value)).index;
   return query_df;
  }

[2022-11-01 20:41] bkawakami opened #514 "danfojs package not recognized using Vue 3+Vite"
**Describe the bug**
danfojs package not recognized using Vue 3+Vite

**To Reproduce**
- Create Vue 3+Vite project
[code]

- Install danfojs package
[code]

- Add to HomeView.vue danfojs import
[code]

**Expected behavior**
danfojs be founded by vite

**Screenshots**
<img width="911" alt="Screenshot 2022-11-01 at 17 36 16" src="https://user-images.githubusercontent.com/1881935/199336519-e4dc5ca0-b

[2022-11-02 22:15] bkawakami commented on #514
Someone? 😔

[2022-11-04 16:09] joshpopelka20 commented on #301
@jordantoaster - were you ever able to figure this out? I'm trying to do something similar using danfojs with Nodejs runtime in AWS Lambda

[2022-11-04 17:41] citron opened #515 "Missing indexes in Excel file after toExcel usage"
Consider a Dataframe df with column names.
Transpose it.
Column names becomes row index. You can verify it with df.T.print()
Now export df.T to an excel using the toExcel method.
Open the excel files : our row indexes disappeared.

How can we export DataFrames so that row indexes  appear as the first column ?

[2022-11-08 05:56] pensono commented on #514
I ran into the same problem. Fixed this by downgrading from `1.1.2` to `1.1.1`

Is the issue related to how `bundle.js` and `bundle-esm.js` are mismatched here?
https://github.com/javascriptdata/danfojs/blob/fe37f10c83265e22a645e9921e0d880b9b75a180/src/danfojs-browser/package.json#L7
https://github.com/javascriptdata/danfojs/blob/a8d14d45bca2a50836a6e2d6ec1a77582c42993a/src/danfojs-browser/webpack

[2022-11-08 16:54] dvdjhys commented on #389
Hello folks,

Before commenting I just want to say that I love this package and thank you for the effort that has gone into it.

We have included it in some new development and make use of the DataFrame API, to process some data, but don't require the plotting capability. Unfortunately our build times have taken quite a hit and we believe the size of plotly, etc that are contributing to a webpack

[2022-11-16 00:30] tarikhagustia opened #521 "[Question] How to get first and last data using group by"
hi i'm looking for this solution [https://stackoverflow.com/questions/62373692/how-do-you-convert-1-minute-open-high-low-close-data-to-another-timeframefx-5](https://stackoverflow.com/questions/62373692/how-do-you-convert-1-minute-open-high-low-close-data-to-another-timeframefx-5) using this library. but i can't find first and last data grouping.

[2022-11-16 16:05] bkawakami commented on #514
Thanks @pensono, in version 1.1.1 everthing works fine!

[2022-11-17 09:21] ayush-seth commented on #514
I had the same problem, instead of rolling back to old version, you can also change the import statement to import the file directly from where it is defined instead of importing it from main module. For example if you want to use `DataFrame`-

This doesn't work
[code]

But, this will work:
[code]

You can use this as a workaround until the `package.json` file is fixed on main

[2022-11-22 12:27] steveoni commented on #521
@tarikhagustia

for any groupby variable you should be able to do this

[code]

[2022-11-22 12:32] steveoni commented on #510
@nholmes3 are you saying that `lt`, `gt` , `le` and `ge` are not working?

[2022-11-22 12:44] #442 closed

[2022-11-22 12:47] tarikhagustia commented on #521
but how to use in `.agg` function?

[2022-11-22 17:34] nholmes3 commented on #510
I am saying that those operators don't work for Strings and Dates because there is [a conditional ](https://github.com/javascriptdata/danfojs/blob/dev/src/danfojs-base/core/series.ts#L1453)that explicitly checks for a string type and disallows them. My proposal is that Strings and Dates should be able to be compared by the native operators

[2022-11-27 11:27] Svein-Tore opened #526 "Not able to get valueCounts() from JSON file"
Hi!

I have a JSON file, and I want to get the counts of a column.

The JSON file has this columns:

{

"started_at": "2022-05-01 00:55:46.521000+00:00", string
	"ended_at": "2022-05-01 01:02:05.964000+00:00", string
	"duration": 379, OK    int 32
	"start_station_id": "450",  int 32   OK
	"start_station_name": "Elisenberg",
	"start_station_description": "ved holdeplassen",  string  OK
	"start_stat

[2022-11-28 09:11] hopezh opened #527 "[plugin:vite:import-analysis] Failed to resolve entry for package "danfojs"."
Got the following error while importing `danfojs` in a project init with `vite`, running on a local server.

[code]

![Image 003](https://user-images.githubusercontent.com/23435810/204237400-f310d4a6-d277-4283-a1b3-530f00bf26a9.png)

![Image 002](https://user-images.githubusercontent.com/23435810/204237419-6e87d7ba-73cd-4910-95ea-96afbd11b83f.png)

![Image 006](https://user-images.githubuserconten